[2018-08-22 12:50] jonigkeit commented on #170
A specific code is valid if there is an overlap between the interval of the procedure and the interval of the code. In case of multiple matches the match closes to the start of the procedure interval is used.

[2018-08-23 10:19] kbhCGI opened #172 "Accumulated error list is not up to date."
Hi

Our (RN) accumulated error list is not up to date.
Last updated Jul 31 15:50
Please start it again :-)

[2018-08-23 11:35] MogensHessellund opened #173 "[LPR2] lprws-test.sds.dsdn.dk - kald til PlainContactService save fejler fra intbatch1.test.cosmic.rsyd.net"
Invoking save fails with the following error.

2018-08-22 13:01:05,082 WARN  [dk.logica.cosmic.LPR.export.LPRExporter] (http-10.221.165.54-9180-2) Export af LPRContact fejlede for CPR : 2712310FU1 kontakt start/slut : 28-03-2018 11:57 / 23-05-2018 14:46
javax.xml.ws.soap.SOAPFaultException: An internal error occurred in the LPR system: java.lang.RuntimeException: Couldn't save contact object

[2018-08-23 11:37] MogensHessellund commented on #173
![wireshark](https://user-images.githubusercontent.com/1227869/44523301-acae0580-a6d9-11e8-82e8-b43e0a5602c5.png)

[2018-08-23 12:32] TueCN commented on #172
There is an issue with the connection between the LPR server and the FTP server.
We are investigating.

[2018-08-23 13:13] TueCN commented on #165
**RESOLUTION**
Fixed several bugs regarding replacements.

[2018-08-23 13:35] TueCN commented on #173
Hi Mogens,

First off, this is an english forum, but luckily I'm Danish so I understand your post :)

Can you give a specific timestamp for when this happened? I could not see any recent problems related to this in our log files.
Can you paste the HTTP request here so we can try and reproduce the problem?

[2018-08-23 13:37] TueCN commented on #172
https://github.com/scandihealth/lpr3-docs/issues/172#issuecomment-415380129 FYI: the accumulated error list does not validate issues. The validated timestamp does not change unless a new submission is made, or if an LPR-administrator manually starts a revalidation of submissions.

[2018-08-23 14:05] kbhCGI commented on #172
Does the validate timestamp change, if ex. there is a rule telling, that a code need to be registrated before 10 days and it is not reported to LPR3? (actionsdiagnose not registreted)

[2018-08-24 03:51] MogensHessellund commented on #173
Første linje i logfilen overfor indeholder da et tidspunkt ?!?
2018-08-22 13:01:05,082

Da det er TLS så er det vel encrypted. Men jeg godt sende dig wireshark pcap-fil hvis det har interesse.

Simon Mikkelsen kender til problematikken.

[2018-08-24 05:46] kbhCGI opened #174 "Timestamp in accumulated error list"
Is it possible to add a validation timestampe in the accumulated error list?
So we can tell the end user when the error was validated and we can set an error when the accu. error list is not up to date. #172

[2018-08-24 07:29] #161 closed

[2018-08-24 07:34] TueCN commented on #172
We have identified the problem and is working on rectifying it.

[2018-08-24 07:53] TueCN commented on #174
From https://github.com/scandihealth/lpr3-docs/issues/172#issuecomment-415425848:

No, the validation issue status is simply updated from warning to error. This means, the warning turns into an error - without being revalidated.

If the required code was registered less than 10 days after the warning, the warning would have disappeared and thereby never turning into an error.

**Note:** Many warni

[2018-08-24 09:13] TueCN commented on #173
The posted log entry is from your internal system, but thank you for pointing out that the timestamp is in fact the time that the web service was called.

I found several errors in our logs at 13:01 relating to the LPR2 web service [PlainContactService](https://lprws-test.sds.dsdn.dk/ws/PlainContactService?WSDL) and assume your error is one of them.

Errors on the LPR2 web service on lprws-test.sd

[2018-08-24 14:52] TueCN commented on #173
**RESOLUTION**
A unintended change had been made to the LPR2 web service, PlainContactService in LPR v3.0.x.
This change has been reverted and the functionality similar to LPR v2.6.x restored.

[2018-08-24 15:26] jbraschler opened #175 "Question regarding reported synchronous service error due to excessive message volume"
We have been relayed the following feedback that was sourced from SDS:

Upon further inquiry, SDS relayed that a maximum of 150,000 CDA documents per hour could be accommodated.

Our question is, precisely what type of error can we expect to receive in a synchronous response message if the submitted document is rejected due to overall throughput exceeding the maximum volume for the service?

[2018-08-25 10:38] RasmusThernoe commented on #175
We would like to supplement the question above:

- Will it be the same response when the service is down and when the service is occupied or will reporters be able to distinguish?

- Is there instructions regarding resending frequency in case the service is occupied?

- Is there instructions regarding resending frequency in case the service is down?

[2018-08-26 21:01] jonigkeit commented on #175
Assuming that you can establish a HTTP connection with the endpoint you should expect HTTP status codes
 * `503 Service Unavailable`
 * `429 Too Many Requests`

We are looking into using industry standard rate limit headers for use with 429, e.g.

HTTP Header | Description
---------------|--------------
X-RateLimit-Limit          | Request limit per hour
X-RateLimit-Remaining | The number of reque

[2018-08-26 21:26] jkiddo commented on #175
For `503` we are looking into proper values for the `Retry-After`HTTP Header

[2018-08-27 09:46] RasmusThernoe commented on #175
Do you have a specification of the exact response in case of 503 and 429 from the LPR3 services?

And are reporters obliged to use the HTTP elements mentioned above, e.g. "X-RateLimit" and "Retry-After" or is it just an option?

[2018-08-27 12:39] kbhCGI commented on #172
It is OK now.

[2018-08-27 15:30] #172 closed

[2018-08-29 11:54] cgisbp opened #176 "New problem with updating/replacement (... could not execute statement)"
We tried some new updating/replacement of reports and got new error-500  javax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException: could not execute statement.

[Lpr3docB1.txt](https://github.com/scandihealth/lpr3-docs/files/2331978/Lpr3docB1.txt)

[2018-08-30 09:02] TueCN commented on #176
I have reproduced the error and it seems to be caused by the replacement operation (relatedDocument/@typeCode="RPLC") deleting encounter with ID AAA656A5-EAE0-53BA-A1C0-1F5D84C475B8, which causes a constraint violation.

We will look into this, but a fix will probably not be ready for next release.

[2018-08-30 10:10] Smp-xmedicus opened #177 "Error in SKS code validation"
When sending in:
`   <encounter classCode="ENC" moodCode="EVN">
              <templateId root="1.2.208.176.7.1.10.74" />
              <templateId root="2.16.840.1.113883.10.12.302" />
              <id root="96c4afb5-9ca6-430c-b9bf-aeee5ec9185a" extension="4eface74-ffdc-5dbb-a061-73f2e0a10d00" />
              <code code="ALCA00" codeSystem="1.2.208.176.2.4" />
              <effectiveTime>

[2018-08-30 10:26] TueCN commented on #177
It seems that for some reason the "Elektiv" version of the code is picked and used in business rule validation, instead of the intended "Planlagt" version which is valid on the encounter start date of 2018-08-27

We will look into this.

[2018-08-31 07:28] kbhCGI opened #179 "Error in SKS validation in resultat"
We get errors in result, but the SKS code is valid.
![lpr3 fejl i resultat](https://user-images.githubusercontent.com/41666628/44898638-0cff0180-acef-11e8-9a7e-8b61b6491494.png)

Why are you using kodeliste res.cncstad and res.ctcstad , should you not use res.ncstad & res.tcstad??
Or is it same error as #177, where it look like you are using an wrong date when you look the code up.

[2018-08-31 09:12] TueCN commented on #179
You are correct. The business rules have not been updated with the changes from indberetningsvejledningen version 1.2 yet.

It is something that will be updated very soon (scheduled for next "service pack" release 3.7.
It might not make it in the first 3.7 version, but will come in one of the following hotfix releases)

[2018-08-31 09:27] #155 closed

[2018-08-31 09:29] TueCN commented on #165
Closing issue because resolution feedback was not provided.
Please re-open issue if you still experience the problem.

[2018-08-31 09:29] #165 closed

[2018-08-31 09:30] TueCN commented on #122
Closing issue because resolution feedback was not provided.
Please re-open issue if you still experience the problem.

[2018-08-31 09:30] #122 closed

[2018-08-31 13:09] RasmusThernoe commented on #179
Will you provide a change log when updating the business rules to version 1.2 of indberetningsvejledningen?

[2018-09-04 10:30] #176 closed

[2018-09-04 12:25] kbhCGI opened #180 "Error not shown in GUI and no acc. error list."
Hi
We have this episode of care:
![fejl i gui 1 1](https://user-images.githubusercontent.com/41666628/45030942-04832f80-b03d-11e8-8a3f-277ba42bc1b9.png)
It has status OK in the list.

But when we open the episode of care there is an error.
![fejl i gui 1 2](https://user-images.githubusercontent.com/41666628/45030989-27addf00-b03d-11e8-8d91-4dd9ab51d084.png)
![fejl i gui 1 3](https://user-images.gi

[2018-09-06 06:52] kbhCGI opened #181 "Betalingsoplysninger is not shown in GUI"
Hi

Why is betalingsoplysninger not shown in GUI?
![betalingsoplysninger mangler](https://user-images.githubusercontent.com/41666628/45139891-ca32a300-b1a0-11e8-92e8-ef7be985335a.png)

It had same error as #180, OK in list and error in betalingsoplysninger.

[2018-09-10 08:10] kbhCGI opened #182 "acc. error list"
Hi

Who often is acc. error list generated/updated in test?

[2018-09-10 08:31] #182 closed

[2018-09-10 12:28] simon-dxc opened #183 "Maintenance 3PM-4PM"
Small maintenance where SEB will be enabled.
This should have no impact for XDR interface.

[2018-09-10 14:15] simon-dxc commented on #183
The maintenance is now done. SEB is now disabled again

[2018-09-10 14:15] #183 closed

[2018-09-11 07:07] #170 closed

[2018-09-11 08:51] simon-dxc opened #184 "Maintenance of SEB throughout Tuesday 11-09-2018"
SEB will be enabled and disabled today.
This should have no impact for XDR interface.
The issue will be closed when the maintenance is done

[2018-09-12 08:18] RasmusThernoe commented on #175
One additonal question related to this issue...

Does the same pattern of HTTP codes and parameters apply to both the service that validates and the service that both validate and persist? E.g. should the client expect to receive "429 Too Many Request" when performing online validation?

[2018-09-12 08:53] RasmusThernoe opened #185 "Response from LPR3 service in case of exception"
In some GitHub issues (e.g. 139, 143 and 147) the client get a failure response without a registry response and an error category (XSD, Schematron, Integrity or Business Rule).

The issues above are examples of input that result in a server side exception.

Do you have a specification on how the server tell the client that the unexpected input triggered an error which is outside any of the defined

[2018-09-12 12:07] TueCN commented on #185
The response always adhere to the SOAP version 1.2 specification.

If (and only if) an unexpected error occurs (e.g. Java RuntimeException), the service will return a SOAP [Fault](https://www.w3.org/TR/soap12-part1/#soapfault) element (child of body).

Feel free to create an issue here on GitHub when you receive a SOAP fault

[2018-09-12 12:40] TueCN commented on #179
**RESOLUTION**
Dynamic rules have been updated.

@RasmusThernoe
See https://gist.github.com/TueCN/07af1b3f91142c20a54f23a7919c1f2c for details

[2018-09-13 11:29] TueCN commented on #180
Yes this is a bug. The episode of care should have Fejltype "Fejl" in the list of search results

[2018-09-13 12:11] #179 closed

[2018-09-14 13:29] TueCN commented on #181
**RESOLUTION**
Paymentinformation (betalingsoplysninger) owned by encounters were not correctly saved to the database. The link from the betalingsoplysning to its owner (encounter) was not set.

This is fixed now.

[2018-09-14 14:38] RasmusThernoe opened #186 "Reporting of virtual encounter"
I have reported a "Måling af puls" in a virtual encounter.

I have reported a "Telefonkonsultation" in an outpatient encounter.

None of these gives an error.

I would expect an error since the reporting guide (Indberetningsvejledningen) states:

Is this a business rule which is pending in the LPR3 service?

[2018-09-18 18:32] jonigkeit commented on #175
After elaboration we have concluded that *no changes* will be made to the XDR endpoints.
As it is the case now you will receive a HTTP status code: `503 Service Unavailable`.

[2018-09-18 18:43] #175 closed

[2018-09-18 19:03] jonigkeit commented on #175
Requirements regarding SOAP HTTP binding have been added to the documentation in 5dac7d8ac8ea8b1e90437a3344f503b3a4934fb3

[2018-09-20 10:30] RasmusThernoe opened #187 "Use of http status codes in LPR3 service"
An additional question in relation to https://github.com/scandihealth/lpr3-docs/issues/175.

It would be a help if the interface specification (DA: Snitfladevejledning) displayed an overview of which http status codes are returned in which error situations, e.g. 500 if ID-card is expired.

It would be valuable in our test to ensure that the integration platform reacts in the right manner.

[2018-09-21 09:32] maagaard-DXC commented on #186
In general all reports must conform to the reporting guide (Indberetningsvejledningen) regardsless of what rules are implemented in the LPR3 service.

A list of implemented rules can be found here:
https://scandihealth.github.io/lpr3-docs/testenvironment/index.html#rules-implemented-on-test-system.

[2018-09-24 11:31] CgiMofr opened #188 "Error: Missing Classification/Slot element with an authorInstitution attribute"
hi,

Since friday the 21 of september, sometime after lunch,  we are getting the following error when submitting:

INTEGRITY_CHECK|||The submission set must have an ihe-xdr Classification/Slot element with an authorInstitution attribute|||AUTHOR_INSTITUTION_NOT_FOUND

However, the following snippet is from our submissions:
![image](https://user-images.githubusercontent.com/39047490/45950074-8ba143

[2018-09-24 13:45] #186 closed

[2018-09-24 15:03] TueCN commented on #180
With the enablement of SEB/SOR integration I no longer have access to view your episode of care.

@kbhCGI could you please verify this is still an issue in the new version 3.7 of LPR and if so, attach the input XML that reproduces this bug?

[2018-09-25 08:51] TueCN commented on #188
Hi

We started enforcing the existing constraints defined in [XDS Metadata for Document Sharing Danish Profile](http://svn.medcom.dk/svn/drafts/Standarder/IHE/DK_profil_metadata/Metadata-v095.docx)

See https://github.com/scandihealth/lpr3-docs/issues/102#issuecomment-424258194

See example taken directly from [XDS Metadata for Document Sharing Danish Profile](http://svn.medcom.dk/svn/drafts/Stand

[2018-09-25 14:15] MichaelEsmannSSE commented on #188
The value "88878685" does not look like a valid SOR code to me(?)

[2018-09-25 15:34] jkiddo commented on #188
It should have been 241301000016007 in the example

[2018-09-25 16:19] #185 closed

[2018-09-25 16:24] RasmusThernoe opened #189 "Performance of online validation"
Do you have specifications on the response time of the online validation service (dry run validation) -especially the dependency between size of request and response time?

[2018-09-26 06:02] KirstenLHSDS commented on #104
This has been discussed with the project steeing group and with DXC (proposal of change of time). Will be changed, most likely from midnight till 02.00, but SDS will do a round with the regions

[2018-09-26 07:13] MichaelEsmannSSE commented on #188
Will you release schematron files that are able to do this validation of our requests?

[2018-09-26 07:44] CgiMofr commented on #102
Hi,
We have changed our submissions and now send correct XON data. But still get errors. We have tried with what we think is correct:
![image](https://user-images.githubusercontent.com/39047490/46064499-d5f60180-c16f-11e8-9a30-4da3f16f052c.png)

(NOTE: the xml we send is in one line, and the newline between 'Region' and 'Nordjylland' is not sent)

and which gives the error:

INTEGRITY_CHECK|||The

[2018-09-26 07:51] CgiMofr commented on #188
Hi,
We have changed our submissions and now send correct XON data. But still get errors. We have tried with what we think is correct:
![image](https://user-images.githubusercontent.com/39047490/46065071-6c76f280-c171-11e8-969b-7f1525dfd980.png)

(NOTE: the xml we send is in one line, and the newline between 'Region' and 'Nordjylland' is not sent)

and which gives the error:

_INTEGRITY_CHECK|||The

[2018-09-26 07:53] TueCN commented on #188
@MichaelEsmannSSE
Right, the example should have been:
[code]

No the XDS metadata attribute `authorInstitution` is not part of schematron validation. The metadata is validated directly by our web service.

The schematron validation only acts on the CDA `ClinicalDocument` level and below.

[2018-09-26 08:27] MichaelEsmannSSE commented on #188
@CgiMofr
We have had success with the request below. Based on the example we have added the attribute _classificationScheme="urn:uuid:a7058bb9-b4e4-4307-ba5b-e3f0ab85e12d"_

[code]

[2018-09-26 09:15] jonigkeit commented on #189
SLAs are undergoing revision by SDS, because current SLA for response time of all web service calls is set a 5 minutes and 10 seconds.

[2018-09-26 10:43] KirstenLHSDS commented on #189
The previous answer is not representing the requirements. As mentioned, the current SLA is being revised. Regarding the question about dependency between size of request and response time, there is by now too few examples to measure this in a reliable way.

[2018-09-26 11:48] TueCN commented on #177
I cannot reproduce the problem using the provided XML.
@Smp-xmedicus can you please verify everything works as expected now?

If you are still able to reproduce the problem, please provide the full `ClinicalDocument` XML

[2018-09-26 12:03] CgiMofr commented on #188
Thank you @MichaelEsmannSSE  - it solved our problem :-)
I close this issue.

[2018-09-26 12:03] #188 closed

[2018-09-26 12:17] CgiMofr opened #190 "Hibernate ConstraintViolationException error"
Hi,
When sending the attached hl7 xml we get the following error:

<soap:Fault>
	<faultcode>soap:Server</faultcode>
	<faultstring>javax.ejb.EJBTransactionRolledbackException:
		org.hibernate.exception.ConstraintViolationException: could not
		execute statement</faultstring>
</soap:Fault>

What could be the problem ?

[hl7.zip](https://github.com/scandihealth/lpr3-docs/files/2419607/hl7.zip)

[2018-09-26 13:48] #181 closed

[2018-09-27 07:06] kbhCGI commented on #180
I get this an error then i try to send it again #190

[2018-09-28 06:58] Remcovanderwerf opened #191 "Gender not shown in GUI"
Hi,

there has been noticed that the gender is set to 'Ukendt'  (unknown) in the LPR2/3 GUI when the CDA is set to 'F' (Female).

See the screenshots below.

Can anyone explain what is going wrong?
We are sending towards the https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareSaveIfNoErrorsReportingService endpoint.

Thank you in advance!

Kind regards,

Remco van der

[2018-09-28 07:47] simon-dxc commented on #173
@MogensHessellund - If everything is fine could you please close the issue.
We will close it thuesday next week if we haven't heard from you.

[2018-09-28 07:50] simon-dxc commented on #146
@DaveSS - If everything is fine could you please close the issue.
We will close it Tuesday next week if we haven't heard from you.

[2018-09-28 08:06] kbhCGI opened #192 "Problem with timestamp"
Hi

We get this error.
![image](https://user-images.githubusercontent.com/41666628/46195776-7fbac700-c305-11e8-8720-886d4c722b1d.png)
Is the problem that we have a timestamp in the message, that is after the timestampe on your machine.
ex. my machine 10:00:00, you machine 09:59:58

[2018-09-28 09:05] TueCN commented on #192
This is rule 00.01 in [Logisk datamodel og indberetningsregler - Bilag 1 (PDF)](https://sundhedsdatastyrelsen.dk/-/media/sds/filer/rammer-og-retningslinjer/patientregistrering/indberetning-til-lpr3/vejledning-lpr3-bilag-1-model-og-indberetningsregler.pdf?la=da)

The problem it seems is that the `Slutdato` value of the patient's bopæl is in the future.

**Note:** Rule 00.01 also validates that all

[2018-09-28 09:06] TueCN commented on #192
**RESOLUTION**
Currently both startdato (hl7:low) and slutdato (hl7:high) are mandatory when a hl7:usablePeriod element is provided on the hl7:addr element.
We have just discussed this internally and decided to make both timestamps optional. The [art-decor template](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.176.7.1.10.71) h

[2018-09-28 10:01] TueCN commented on #190
Hi,
I get the same SOAP fault when I try to validate the provided ClinicalDocument on SDS' test environment.
However, I cannot reproduce the problem on our internal environments.
This could be because I do not have the previous versions of the set (relatedDocument) and thus am missing the data that causes the interaction that results in the ConstraintViolationException.

We recently fixed a bug fo

[2018-09-28 10:36] Remcovanderwerf commented on #191
Hi,

attached the CDA file.
[CDA.txt](https://github.com/scandihealth/lpr3-docs/files/2427837/CDA.txt)

[2018-09-28 10:46] CgiMofr commented on #190
Hi,
Attached is a zip file with a version 1 submission which was ok, and a version 2 submission which resultet in the constraintviolation error.
[version1and2.zip](https://github.com/scandihealth/lpr3-docs/files/2427864/version1and2.zip)

[2018-09-28 16:55] Remcovanderwerf commented on #191
Hi,

please await - I requested more input.

[2018-10-01 07:42] metodikamikaelnilsson opened #193 "Validation error: The submission set must have an ihe-xdr Classification/Slot element with an authorInstitution attribute"
When validating this clinical document I get this validation error:

What element is missing?

[code]

[2018-10-01 08:13] #167 closed

[2018-10-01 11:51] CgiMofr commented on #193
Hi @metodikamikaelnilsson
This looks similar to #188 :-)

[2018-10-01 20:42] jonigkeit commented on #193
@metodikamikaelnilsson we assume that @CgiMofr is right.

[2018-10-02 08:35] #173 closed

[2018-10-02 08:35] #146 closed

[2018-10-02 11:37] simon-dxc opened #194 "Deploy at 3PM today"

[2018-10-02 13:32] #194 closed

[2018-10-03 06:44] kbhCGI commented on #190
Was the fix released yesterday?

[2018-10-03 06:55] kbhCGI opened #195 "java.lang.RuntimeException in GUI"
Hi

When i want to view 1906710HK1, then i get this error:
![image](https://user-images.githubusercontent.com/41666628/46394640-fbdc5280-c6e9-11e8-9f70-b8c52ae5217f.png)

[2018-10-03 06:57] kbhCGI opened #196 "java.lang.RuntimeException in GUI"
Hi

When i want to view 1906710HK1, then i get this error:
![image](https://user-images.githubusercontent.com/41666628/46394640-fbdc5280-c6e9-11e8-9f70-b8c52ae5217f.png)

[2018-10-03 06:57] #196 closed

[2018-10-03 07:11] TueCN commented on #195
Hi

I have no problem searching for CPR-nr 1906710HK1 and opening one of the episodes of care.

This is something we sometimes see after a new deploy, if the browser for some reason caches the old version GUI.

Can you try and clear your browser cache manually?

Clearing cache in Chrome on Windows:
Open developer tools (pressing F12) -> Right click "Reload Page" button -> From the popup list, choo

[2018-10-03 07:14] TueCN commented on #195
Nevermind, I just tried opening specifically the episode of care in your screenshot and I also get the error, even after clearing cache.

We will investigate.

[2018-10-03 10:27] kbhCGI opened #197 "Contact info is not deleted when updated."
Hi

I have sende this message multible times today. (3 times)
Now contact infomation is repeated 3 times.
We are using delete/update when we are sending.

![image](https://user-images.githubusercontent.com/41666628/46405150-95fec380-c707-11e8-9c86-fd084565af3a.png)

[2018-10-03 10:57] TueCN commented on #190
@CgiMofr I can no longer reproduce the problem on the newest deploy (version 3.7.802).
Do you still experience the problem?

[2018-10-03 11:58] CgiMofr commented on #190
The problem seems to have been solved.
I close the issue.

[2018-10-03 11:58] #190 closed

[2018-10-03 12:06] kbhCGI commented on #195
Hi @TueCN
Document attached.
[Filer.zip](https://github.com/scandihealth/lpr3-docs/files/2441917/Filer.zip)

[2018-10-04 06:47] metodikamikaelnilsson opened #198 "How come the datatypes for setId and Id is different depending on which docs you read?"
Looking at the examples at https://scandihealth.github.io/lpr3-docs/aspects/index.html#documents-and-versioning the id and setId are OIDs, but according to the documentation at http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr- the datatypes of /ClinicalDocument/id/@root (= ClinicalDocument.setId) and /ClinicalDocument/id/@extension (= ClinicalDocument.id) shou

[2018-10-04 06:59] Smp-xmedicus commented on #177
This seems to be solved now. Thx.

[2018-10-04 07:18] TueCN commented on #198
I believe the id examples on the picture on https://scandihealth.github.io/lpr3-docs/aspects/index.html#documents-and-versioning are outdated.

The art-decor definition is always the correct and up to date definition.
(note however that the LPR application can lag behind art-decor definitions, as LPR downloads and uses the art-decor templates as they are at the time of LPR being build)

[2018-10-04 07:46] jonigkeit commented on #198
@metodikamikaelnilsson The example is a modified picture from the CDA specification.

[2018-10-04 10:39] metodikamikaelnilsson commented on #198
Thank you for the links. Could you also link me to the documentation that explains what each and every value in the clinical document references? E.g. /ClinicalDocument/effectiveTime/@value. Is this when the clinical document was first created, last updated or last replaced? And what does the timestamp in /ClinicalDocument/author/time/@value represent? Et cetera.

[2018-10-04 10:58] kbhCGI opened #199 "java.lang.NullPointerException"
Hi

When i try to send attach message i get this error:

`--uuid:d0590214-b389-4e41-8c6d-01108c2d99ca
Content-Type: application/xop+xml; charset=UTF-8; type="text/xml"
Content-Transfer-Encoding: binary
Content-ID: <root.message@cxf.apache.org>

<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"></SOAP-EN

[2018-10-05 06:42] #192 closed

[2018-10-05 07:06] kbhCGI commented on #199
It is probaly because payment is missing.

[2018-10-05 09:16] TueCN commented on #195
Hi, we have identified the problem and it is related to data access restrictions. If a user has data access to some, but not all, information on an episode of care, it generates a runtime exception (as seen on the screenshot).

We will work on a fix.

[2018-10-07 16:08] Remcovanderwerf opened #200 "Question about deleting a full Episode of Care (including all versions)"
Hi,

i would like to know how to DELETE a complete Episode of Care from the LPR3 registry including all previously registered versions. I couldn't find it documented on the github-lpr3-docs.

For example;
an EoC has been submitted with in total 4 versions / different documents.

Now i would like to delete all these  4 versions from the registry i.e. the full EoC.

I found that i can use the templa

[2018-10-08 11:48] TueCN commented on #195
It turns out the problem was in fact not related to data access restrictions!
The problem was that one of the fixes in https://github.com/scandihealth/lpr3-docs/milestone/25 required conversion of all existing resultater, and that conversion script had an error resulting in invalid data. Luckily the invalid data can be updated to be valid.

**RESOULTION**
Conversion script has been updated and wil

[2018-10-08 12:08] Remcovanderwerf opened #201 "HTTP Response - HTML in stead of SOAP"
Hi,

While testing towards the 'https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareSaveIfNoErrorsReportingService'  endpoint i have been getting some 'Response code - 500;   Service unavailable' replies which could be a normal situation.

The strange thing is that these replies are from the Content-Type:  text/html in stead of text/xml which is required/expected for

[2018-10-08 12:11] jkiddo commented on #201
Your log file is dated Date=[Mon, 10 Sep 2018 14:40:47 GMT] - perhaps you attached the wrong response?

[2018-10-08 13:54] TueCN commented on #180
@kbhCGI #190 has been closed now. Can you try and reproduce the problem now?

[2018-10-09 07:14] kbhCGI commented on #180
@TueCN i get the error from #195

[2018-10-09 07:56] #193 closed

[2018-10-09 07:59] TueCN commented on #197
@kbhCGI can you please provide all relevant information for when this issue happened and how this issue can be reproduced?

1.  The XML that constitutes the submission (`ClinicalDocument` is enough)
2. Which endpoint was used (see https://scandihealth.github.io/lpr3-docs/testenvironment/index.html#address
3. The date and time that the above submission was submitted to the above endpoint, which res

[2018-10-09 07:59] jonigkeit commented on #200
Hi Remco

The are two mechanisms that can be used for deleting episode of cares from the registry.

1. Create an addendum and nullify each episode of care via a nullify act
2. Create an replacement with an empty nullify section

Regardless of choice you must always send the latest document id.

Unfortunately mechanism 2 is blocked by #28 which has awaiting approval from SDS since January.

[2018-10-09 08:19] KirstenLHSDS commented on #28
SDS has discussed this with the steering group and the enhancement has been approved

[2018-10-09 08:42] jonigkeit commented on #200
Good news!
#28 has been approved and is planned to be included [this release](https://github.com/scandihealth/lpr3-docs/milestone/26)

[2018-10-09 08:47] jonigkeit commented on #28
[The template](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.176.7.1.10.116&effectiveDate=2018-10-09T00:00:00) has been updated.

[2018-10-09 09:01] kbhCGI commented on #197
@TueCN I was testing issue #192
I did send 3 almost identical Clinicaldocuments
[18100308350622.txt](https://github.com/scandihealth/lpr3-docs/files/2459598/18100308350622.txt)
[18100308460624.txt](https://github.com/scandihealth/lpr3-docs/files/2459599/18100308460624.txt)
[18100312220629.txt](https://github.com/scandihealth/lpr3-docs/files/2459600/18100312220629.txt)
(Filname is YYMMDDTTmmxxxxx)

[2018-10-09 09:06] Remcovanderwerf commented on #200
Sounds great!
Then I will implement mechanism 2 for now and await testing until the next release has been deployed.

Thank you!

[2018-10-09 09:06] #200 closed

[2018-10-09 09:15] #177 closed

[2018-10-09 09:17] TueCN commented on #180
Ok, we must await [milestone/26](https://github.com/scandihealth/lpr3-docs/milestone/26) being deployed and then you can try again.

[2018-10-09 11:39] TueCN commented on #201
@Remcovanderwerf you get a response with HTTP status 500 (should really be 503) when the service is offline. Regardless of the Content-Type in the response, the SOAP specification states that the sender (you) must handle the response, as long as the returned HTTP status code is one of the listed status codes on: https://www.w3.org/TR/soap12-part2/#http-reqbindwaitstate

Actually, as I understand i

[2018-10-09 12:27] p-christensen commented on #197
**RESOLUTION**
During document replacement existing encounters was not removed.

This has been fixed.

[2018-10-10 12:12] RasmusThernoe opened #202 "Function to delete reported data of a specific SOR id"
In our **test** environments we often flush data hence UUIDs will be reused. When we try to create data a second time we get an error - as expected.

Is there a function to erase - "start from scratch" - in the LPR3 test environment for a specific author?

There is a button in the LPR3 client labeled "Slet indberetninger" but the tooltip explains: "Aktuel bruger har ikke adgang til at slette LPR k

[2018-10-12 08:02] Dkuzmins opened #203 "Report RAA10 Tvangsforanstaltning, item RDA98"
We are facing a problem right now with the report RAA10 Tvangsforanstaltning

In the Report specification document Result RDA98 “seneste behandlingdato” says it has to be date with  format yyyymmdd

In LPR3 Document VEJLEDNING TIL INDBERETNING TIL LANDSPATIENTREGISTERET (LPR3) v1.2. chapter 14.5.1. it says "Most recent treatment date (hours, minutes, seconds can be sent as 00)"

We talked with cli

[2018-10-12 08:08] jonigkeit commented on #203
![14 5 1](https://user-images.githubusercontent.com/1263467/46856426-b238e980-ce06-11e8-8774-765bfc6e1b72.png)
![14 5 1 2](https://user-images.githubusercontent.com/1263467/46856429-b36a1680-ce06-11e8-9039-89085bf303cc.png)

[2018-10-12 08:13] jonigkeit commented on #203
This issue has an impact on #164 and the DK CDA Header.

[2018-10-12 08:14] jonigkeit commented on #203
We will need to clarify with relevant authorities SDS and MedCom that resolve conflicting requirements.

[2018-10-12 13:11] TueCN commented on #203
FYI: Currently, the Drools rule RAA10.RDA98-1 on the test environment expects the date to be formatted as a [DK Medcom Timestamp](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.184.2.10.6&effectiveDate=2016-10-24T00:00:00), which has the format YYYYMMDDhhmmss±ZZzz

You can set the hhmmss as you wish, just be aware that LPR conve

[2018-10-12 13:18] wilgerh commented on #201
Hi @TueCN : Actually, I think this is a misinterpretation of the SOAP standard. You're referring to properties that belong to the 'requesting SOAP node' but you should have a look at paragraph 7.5.2 'Behavior of Responding SOAP Node'. Since your server is the responding SOAP Node and sending a response, you're in the 'Receiving' state at your node and you should response with a SOAP fault. Moreove

[2018-10-15 08:45] metodikamikaelnilsson opened #204 "What does the value of Author.time represent?"
In the header, the Author.representedOrganization.id represents the SOR ID for the reporting administrative organization, but what does Author.time represent?

[2018-10-16 13:53] TueCN commented on #28
@DaveSS just wanted to let you know that the enhancement has now been deployed

[2018-10-18 09:36] metodikamikaelnilsson opened #205 "Henvisningsmåde skal være i kodelisten admin.henvmaade"
When validating the following clinical document against https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService I get several errors, e.g.: "Henvisningsmåde skal være i kodelisten admin.henvmaade". Looking at the code list at http://medinfo.dk/sks/brows.php?s_nod=815 I see that the SKS code in the clinical document actually is in the code list for

[2018-10-18 11:00] #205 closed

[2018-10-18 12:34] jonigkeit commented on #204
According to HL7 V3 RIM  section 6.41.8

[2018-10-18 13:38] JacobBangSSE opened #206 "Domain attribute ".dsdn.dk" violates RFC 2109: host minus domain may not contain any dots"
Hello,

I don't know when this was implemented but we can see in our logs that we gets the following warning each time we connects to PatientHealthcareReportingService:

[code]

Are there any reasons why the web service returns cookies? Do you expect we do anything with this cookie?

[2018-10-18 13:57] TueCN commented on #206
I believe the cookie dtCookie is related to an internal moniting application (DynaTrace).
You can ignore it completely.

After a bit of googling it seems the cookie is valid and your warning is a false-positive:
[RFC 2109 was superseded by RFC 2965 in October 2000](https://en.wikipedia.org/wiki/HTTP_cookie#History)

[Contrary to earlier specifications, leading dots in domain names are ignored](htt

[2018-10-18 14:09] JacobBangSSE commented on #206
Do you know if this cookie are part of the integration when LPR3 are going live? Our integration platform does not allow us to disable this warning. The warning is not a problem right now but I could see a problem if we are going to log this warning for every call to the LPR3 service when we are going into production.

[2018-10-19 07:13] jonigkeit commented on #201
Hi @wilgerh

Returning status code 500 is conform with SOAP 1.2. Actually returning any HTTP status code is conform and the behavior of a conforming requesting SOAP node is described as well.

What the requesting SOAP node uses the content of a HTTP response with status code 500 is not described any you can do whatever you want with it.

[2018-10-19 09:05] jonigkeit commented on #189
@RasmusThernoe please close this issue if you have no further comments.

[2018-10-19 10:16] TueCN commented on #201
Hi @wilgerh yes I am looking at how the 'requesting node' should handle a SOAP request/response. What actually happens on the server does not seem relevant in this discussion.

Above paragraph suggests that a SOAP message is not required to be present for the message exchange to be considered a SOAP Request-Response Message Exchange.

This seems to be backed by the [SOAP Request-Response Message E

[2018-10-22 09:13] RasmusThernoe commented on #189
We have raised this to SDS - still waiting for an answer.

[2018-10-23 06:53] kbhCGI commented on #180
cannot reproduce the problem.

[2018-10-23 06:53] #180 closed

[2018-10-23 09:21] finnha opened #207 "Region Midtjylland --CUSTODIAN_NOT_FOUND"
**TRANSLATED** in accordance with [Contribution Guide](https://github.com/scandihealth/lpr3-docs/blob/master/CONTRIBUTING.md)

Apparently,a link between SOR identifier: 6081000016005 and CVR: 29190925 is missing.

[2018-10-23 12:43] #195 closed

[2018-10-23 12:47] #197 closed

[2018-10-23 12:48] #199 closed

[2018-10-24 07:12] jonigkeit commented on #189
Sry @RasmusThernoe of course you are entitled to having your question answered.
I will assign the issue to myself and reply as soon as the SLA have been revised.

[2018-10-24 08:46] #207 closed

[2018-10-24 09:10] finnha opened #208 "MYNDIGHED_CODE_NOT_FOUND|||0009"
Can you tell why I get the error:

"INTEGRITY_CHECK|||Myndighedskode 0009 not found in the registry|||MYNDIGHED_CODE_NOT_FOUND|||0009"

CDA document and error file attached

[f7_error.txt](https://github.com/scandihealth/lpr3-docs/files/2509769/f7_error.txt)
[f7.txt](https://github.com/scandihealth/lpr3-docs/files/2509770/f7.txt)

[2018-10-24 11:45] metodikamikaelnilsson opened #209 "Several registry errors (type: "can't find code in code list errors")"
I get several errors when trying to validate a clinical document. The codes in the clinical document are all valid SKS codes according to the code lists in the 20180914_SKSkodelister folder, so I don't understand why I get these errors. I've extracted the part of the XML where the errors originate from.

Registry errors:

* Forløbslabel skal findes i kodelisten forloeb.label.
* En SKS-kode anvendt

[2018-10-24 12:00] #209 closed

[2018-10-25 08:40] TueCN commented on #208
Hi,

It seems the municipality code 0009 (Kommune Ukendt) has not been loaded into LPR from CPR's [Myndighedsregister](https://www.cpr.dk/kunder/gratis-download/myndighedsregister-og-udtraeksbeskrivelse/).
This is a bug.

You are using the code as the municipality code of the address of a patient with an alternative identification:

[code]

While we fix this error you can work around it by changin

[2018-10-25 11:50] metodikamikaelnilsson opened #210 "id@root value in Alternatively Identified Patient Role"
What value should be set in id@root in Alternatively Identified Patient Role?

Sometimes it is a oid:

United States drivers license number (Nevada)
[code]

Sometimes it is a uuid:

ErstatningsCPRnummer Region Nordjylland
[code]

Where can I find information on what value to put in this attribute?

[2018-10-29 11:12] AnneRegionSyd opened #211 "Test-LPR3 - not possibe to search for CPR"
In Test-LPR3 it's not possible to search for a CPR. I get a java runtime error message saying "The server is temporary unavailable"... See attatched file.
It is possible to search for errors but not CPR.

[2018-10-29 14:30] AnneRegionSyd commented on #211
[Java error Test LPR3.docx](https://github.com/scandihealth/lpr3-docs/files/2525656/Java.error.Test.LPR3.docx)

[2018-10-31 07:26] finnha opened #212 "LPR3 test accumulated errorlist user/pwd"
Can you give me or create  user/pwd for lpr2indberet-test.sds.dsdn.dk:/lpr3-fejlliste/

So that I can access Region MidtJyllands accumulated error list

Finn

[2018-10-31 10:05] jonigkeit commented on #210
Any registered OID is valid as long as your in control of it's id space.
If you do not have a registered oid use a version 5 UUID and make sure that it will not clash, by for instance using a namespace specific for your reporting authority.  When using a UUID you must retain its schematics at all times and provide the schemantics upon request.

[2018-10-31 20:39] Remcovanderwerf commented on #191
Hi @TueCN,

my apologies for the delay in a response regarding the above.
I requested more information to be able to reproduce but I haven't received it yet.
Closing the issue for now and will reopen when this reoccurs.

Thank you for the investigation!

[2018-10-31 20:39] #191 closed

[2018-11-01 10:14] RasmusThernoe opened #213 "Request of data purge"
In https://github.com/scandihealth/lpr3-docs/issues/202 we inquire for a service which can purge the test environment, e.g. for a specific author.

From the interface guide:

It is possible to request such a data purge?

[2018-11-01 10:36] wilgerh commented on #201
Hi @TueCN , @jonigkeit,

Can you please respond and give at least clarity if it's possible for you to return a HTTP 503 error in case your service isn't available? This information is crucial to us to decide if we need to follow the route to implement a workaround at our side. Thanks in advance.

[2018-11-01 13:04] TueCN commented on #201
Hi @wilgerh sorry I do not know yet.
I need to get it clarified through key resources. I will try to escalate the issue.

[2018-11-01 14:02] TueCN commented on #213
We do not currently have a "one click button" that does a data purge, neither in general nor for a specific author.
Because of database constraints, it is not a simple task to do a data purge only for a specific author.
I would classify this functionality as an enhancement.

The clause in the interface guide states that DXC _may_ purge data. This could happen if it is required for continued operat

[2018-11-01 18:52] RasmusThernoe commented on #187
I can see this has been labeled as an enhancement.

An overview of responses in error situations in the interface specifications would be very valuable in our test to ensure that the integration platform reacts in the right manner.

[2018-11-01 19:30] RasmusThernoe opened #214 "Trigger not allowed for birth report"
When we report a "Birth Report" (DA: Fødselsindberetning) using the diagnosis code "DO842A" we get a business error:

![2018-11-01_15h37_22](https://user-images.githubusercontent.com/36242392/47874682-b8722280-de14-11e8-95ac-1c29a5bac914.png)

According to the reporting guide the code should be valid as trigger:

![2018-11-01_15h30_16](https://user-images.githubusercontent.com/36242392/47874713-d3

[2018-11-02 14:17] TueCN commented on #208
**RESOLUTION**
Now LPR3 loads the code 0009 from CPR's Myndighedsregister and it can now be used in submissions.

[2018-11-02 14:38] TueCN commented on #214
Hi @RasmusThernoe can you attach the CDA xml so I can reproduce the problem?

Without knowing the input I cannot say exactly why the validation error is returned.
The rule is implemented as follows:
[code]

The rule produces an error if
- ResultatIndberetning does not have a diagnose as resultatindberetningsårsag **OR**
- SKS-kode diagnose.art is not on the kodeliste admin.diagart.aktdia in the pe

[2018-11-05 09:05] Marc-Petersen opened #215 "Error: soap:Server>result returns more than one elements"
Since Nov 1st. 11:13 **all** our submitted reports have failed with:
![image](https://user-images.githubusercontent.com/44767916/47988130-af69a580-e0e1-11e8-91d3-e658100dbdff.png)
_Error: soap:Server>result returns more than one elements_

We using the https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareSaveIfNoErrorsReportingService endpoint.
We're reporting from Reg

[2018-11-05 09:36] LarsGramMathiasen opened #216 "EJBTransactionRolledbackException under high load on test service"
**This issue is blocking**

We (Systematic) have tested sending 9384 CDA documents to https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareReportingService, where we are sending 10 documents in parallel, and we are experiencing that up to 23% result in the following responses:

[code]

Furthermore, the performance is very low; it takes up to 9 seconds for the test serv

[2018-11-05 09:39] LarsGramMathiasen opened #217 "javax.persistence.PersistenceException under high load on test service"
**This issue is blocking**

We (Systematic) have tested sending 9384 CDA documents to https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareReportingService, where we are sending 10 documents in parallel, and we are experiencing that up to 23% result in the following responses:

[code]

Furthermore, the performance is very low; it takes up to 9 seconds for the test serv

[2018-11-05 10:05] jonigkeit commented on #217
Regarding response times and throughput please contact SDS project management directly.

[2018-11-05 10:08] jonigkeit commented on #217
Please provide us with the entire bulk of xdr request including the causal order they were reported.

[2018-11-05 10:16] LarsGramMathiasen commented on #217
This will be a significant task for us.
Are you able to investigate why the error occurred at 17:07:33 Friday Nov 2? (This is one timestamp, at which we have received such a response)

[2018-11-05 10:24] TueCN commented on #215
Hi @Marc-Petersen could you please provide an example of a request that fails?
(including SOAP headers, I suspect it might have to do with the medcom:CareProviderID CVR-no or XDR authorInstitution SOR-id you are using).

I just tested the service and it responds as normal to our test requests.

[2018-11-05 12:20] Marc-Petersen commented on #215
[msg-16361695.txt](https://github.com/scandihealth/lpr3-docs/files/2548320/msg-16361695.txt)

Hope this is want you're looking for...

[2018-11-05 13:04] TueCN commented on #215
Yes it is as I suspected.
There is a configuration problem in the service which causes failures for submissions using the CVR-no 29190623 as medcom:CareProviderID.

We are working with SDS to rectify the situation

[2018-11-05 14:41] TueCN commented on #217
The problem is that the service does not currently throttle its work load and when a certain degree of concurrency happens, transactions starts failing due to resource contention.

There are two aspects of the issue here:
1. The service produces SOAP faults when under heavy load
    - We are already in the process of mitigating some of the underlying problems which causes the SOAP faults
    - Exp

[2018-11-06 12:40] kdjohansson opened #218 "Add data producer to test"
Please register 'Aleris-Hamlet Hospitaler' as a data producer in LPR test system.

SOR: 291651000016009
CVR: 71017516

[2018-11-06 13:25] RasmusThernoe opened #219 "The LPR3 administration client is slow"
We are experiencing that the LPR3 administration client is getting slower and slower.

Today the LPR3 client spend more than 40 seconds in order perform a search on CPR number - even though the patient only have a very limited amount of data.

This low performance is blocking the system test that we are currently performing.

[2018-11-06 13:39] jonigkeit commented on #219
We are aware of response times in the test environment. Please direct inquiries regarding service levels and performance to the project group at the Danish National Health Data Agency.

[2018-11-06 14:08] simon-dxc commented on #215
Hi @Marc-Petersen
Could you please check if it's working now?

[2018-11-06 14:11] Marc-Petersen commented on #215
Yes. It looks much better now. Queue is getting smaller and we're getting responses now. What has changed?

[2018-11-07 08:21] #218 closed

[2018-11-07 08:32] maagaard-DXC commented on #219
DXC is currently working on improving response time on the test environment.

[2018-11-07 13:20] metodikamikaelnilsson opened #220 "What is the difference between DK Internal Episode Of Care Reference and DK External Episode Of Care Reference?"
What is the difference between DK Internal Episode Of Care Reference and DK External Episode Of Care Reference?

Do the root value of the DK External Episode Of Care Reference reference the setId of another clinical document?

[2018-11-07 13:39] kdjohansson opened #221 "Change of Author"
Will it be allowed to change authorInstitution (SOR code) from one clinical document version to another (within the same set)? A reason could for example be organizational changes. And would global identifiers already generated and reported based on original author still be "appropriate" to use within the already started episode of care?

[2018-11-09 08:03] ScaAnders opened #222 "DateTime (TS element) issues"
I am trying to submit a clinical documents but get some issues with 'ts' elements not being in correct format. So I then tried to submit the sample xml you provide on the following url:
http://lpr-art-decor.westeurope.cloudapp.azure.com:8000/decor/services/RetrieveTemplate?prefix=lpr-&version=&language=en-US&id=1.2.208.176.7.1.10.71&effectiveDate=2018-01-04T00%3A00%3A00&format=html&collapsable=tru

[2018-11-09 09:04] simon-dxc commented on #212
@finnha Please try again.
If it works now you can close the issue

[2018-11-09 09:05] jkiddo commented on #222
The bug is that the timestamps contain a ':'

[2018-11-09 09:16] ScaAnders commented on #222
Is it possible that you can have a look at the sample xml you detail on the LPR-Art-Decor site because after I removed the character ':', multiple additional errors have turned up.

[2018-11-09 09:35] metodikamikaelnilsson opened #223 "Main and minor condition observations = Aktionsdiagnose/Bidiagnose?"
Is a main condition observation an aktionsdiagnose and a minor condition observation a bidiagnose?

[2018-11-09 09:36] TueCN commented on #220
Hi,
there are 3 types of EoC references and their differences are explained in the description of the root and extension attributes of the hl7:id element

- DK Internal Episode Of Care Reference
    - The value of @root must be the same as the value of the containing ClinicalDocument setId root attribute
    - The value of @extension shall be a version 5 UUID to an episode of care within the encom

[2018-11-09 09:45] metodikamikaelnilsson commented on #220
So, to clarify, do the word "External" in DK External Episode of Care mean that the episode of care that is referenced belongs to another CDA document?

[2018-11-09 09:49] TueCN commented on #220
Sorry I just updated my answer as you were commenting.
- "Set External" can reference an existing or non-existing EoC in any set (this can be useful if the EoC was created and referenced in systems external to LPR, but not yet submitted to LPR)
- "External" can reference a EoC in another CDA document **of the same set**

[2018-11-09 10:03] TueCN commented on #223
Yes

[2018-11-09 10:04] #220 closed

[2018-11-09 10:11] metodikamikaelnilsson commented on #223
Then why is the DK Minor Condition Observation example set to ALGA01 (aktionsdiagnose)?

[code]

[DK Minor Condition Observation](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?id=1.2.208.176.7.1.10.46&effectiveDate=dynamic)

[2018-11-09 10:16] TueCN commented on #223
In general, the examples on art-decor should have no XSD or SCHEMATRON validation errors if sent to the test service, but they are not guaranteed to not have any BUSINESS_RULE validation errors.
See https://scandihealth.github.io/lpr3-docs/aspects/index.html#what-rules-apply-and-what-errors-can-be-reported-and-how

Using ALGA01 in a minor condition will likely result in a business rule validation

[2018-11-09 10:19] metodikamikaelnilsson commented on #223
So the example is incorrect?

[2018-11-09 12:16] simon-dxc commented on #211
DXC are working on this

[2018-11-12 07:29] #212 closed

[2018-11-12 14:39] adrianpredam opened #224 "TargetSiteCode doesn't get deleted when a diagnose is updated without it."
**targetSiteCode** doesn't get deleted when a diagnose is updated without it.
Steps to reproduce it:
- Create a diagnose under an encounter with targetSiteCode (see attached **diagnosis_with_target_site_code.xml** from targetsite.zip)
- Update the diagnose by removing the targetSiteCode (see attached **diagnosis_without_target_site_code.xml** from targetsite.zip)

Result: The targetSideCode still

[2018-11-12 14:40] adrianpredam commented on #224
[targetsite.zip](https://github.com/scandihealth/lpr3-docs/files/2572287/targetsite.zip)

[2018-11-13 13:53] ScaAnders opened #225 "Valid ClinicalDocument sample"
We have received a ClinicalDocumnt sample that should valid and possible to submit (please see the attached document). When we try to submit the document we get 16 errors:
ErrorCode: InvalidDocumentContent
Location: B83B76C3-A7E0-4C1F-B599-5F027BD93682^550e8400-e29b-41d4-a716-446655440000|||/*:ClinicalDocument[namespace-uri()='urn:hl7-org:v3'][1]/*:component[namespace-uri()='urn:hl7-org:v3'][1]/*:

[2018-11-13 13:58] KirstenLHSDS commented on #225
@DXC - the example is provided by a SDS-employee, I will ask him. @ScaAnders please check dokumentation

[2018-11-14 07:57] ScaAnders opened #226 "Validation error of AssignedCustodian"
I am trying to submit a ClinicalDocument with the following 'assignedCustodian' element:
    <assignedCustodian classCode="ASSIGNED">
      <representedCustodianOrganization classCode="ORG" determinerCode="INSTANCE">
        <id root="2.16.840.1.113883.2.24.1.1" extension="33257872" assigningAuthorityName="Erhvervs- og Selskabsstyrelsen" />
      </representedCustodianOrganization>
    </assignedC

[2018-11-14 07:58] ScaAnders commented on #226
Missing XML:
`    <assignedCustodian classCode="ASSIGNED">
      <representedCustodianOrganization classCode="ORG" determinerCode="INSTANCE">
        <id root="2.16.840.1.113883.2.24.1.1" extension="33257872" assigningAuthorityName="Erhvervs- og Selskabsstyrelsen" />
      </representedCustodianOrganization>
    </assignedCustodian>`

[2018-11-14 08:36] TueCN commented on #226
Hi @ScaAnders
The XML you pasted looks valid to me. Could you please attach the full ClinicalDocument that reproduces the error?

[2018-11-14 08:40] ScaAnders commented on #226
[LPR3.txt](https://github.com/scandihealth/lpr3-docs/files/2579830/LPR3.txt)

[2018-11-14 08:50] TueCN commented on #226
@ScaAnders thanks, but the provided document does not for me produce the errors you listed in the issue. Can you please verify you get the errors when using [LPR3.txt](https://github.com/scandihealth/lpr3-docs/files/2579830/LPR3.txt)?
- (DKCustodian): The value of the @extension SHALL be a valid Danish Business Identification number (cvr-nummer)
- (DKCustodian): The value for @assigningAuthorityNa

[2018-11-14 08:59] ScaAnders commented on #226
I do get the errors using the attached document. What is the url for the test system you are using? Maybe we are not testing against the same instance...

[2018-11-14 09:12] SorenTL commented on #219
Update. It seems as if the service has come to a complete stop. The following af error respons is being showed as soon the "søg" button is pushed. No data is being loaded.

java.lang.RuntimeException: Load failure: Type 'com.extjs.gxt.ui.client.data.BasePagingLoadConfig' was not assignable to 'com.google.gwt.user.client.rpc.IsSerializable' and did not have a custom field serializer. For security p

[2018-11-14 09:28] TueCN commented on #226
I use https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService

I suspect it might be encoding related.
Can you provide the full HTTP request (including http headers) or can you give me an exact timestamp (down to the second) of a request that gives the error (so I can find it in the log)?

[2018-11-14 09:35] MichaelEsmannSSE commented on #219
I had the same problem. For me it was sufficient to press Ctrl-F5 in IE.
But searching on a CPR number is stil VERY slow. It takes about 100 seconds

[2018-11-14 10:10] ScaAnders commented on #226
[LPR3-Raw.txt](https://github.com/scandihealth/lpr3-docs/files/2580208/LPR3-Raw.txt)
ok, so we are using the same service :) Please see the atachment for the raw request.

[2018-11-14 10:49] TueCN commented on #226
When comparing your request to my request I notice a difference in the SOAP attachment's `Content-Transfer-Encoding`: You use `8bit` while I use `binary`.
Could you try and use binary transfer encoding instead and see if it helps?

From https://www.w3.org/Protocols/rfc1341/5_Content-Transfer-Encoding.html

[2018-11-14 10:52] maagaard-DXC commented on #219
As DXC continues working on a solution to the problem here is a hint to reduce the impact on searches in the administration client.

Please select:
- An "Institutionsejer" - for instance "Region Midtjylland" combined with a "Søgetype for ansvarlig enhed" for instance "Forløb".
- A time interval in the "Valideret" field - for instance 2 days

-

[2018-11-14 10:55] TueCN commented on #226
Hmm, I also noticed that your http Headers field contains `MIME-Version=[1.0]`.

I just stumbled across this (see bold part): https://www.w3.org/TR/SOAP-attachments#HTTPBinding

[2018-11-14 11:14] ScaAnders commented on #226
I find it very surprising that I receive a business-rule-error instead of a deserialization or encoding error if your assumption about the headers are correct.
Its a big thing to start looking into the communication stack that we are using, in order to change the values that you suggest. So before I start to do that I would like to be certain that it will solve the problem. Is it possible that you

[2018-11-14 11:38] TueCN commented on #226
The reason I suspect encoding errors is because we have previously experienced a similar thing: Deserialization happens fine, but SCHEMATRON validation errors appear due to not using UTF-8 encoding.

Now, I can see you use UTF-8 encoding in the attachment so that is not the problem here.

My suspicion is that since you use 8bit Content-Transfer-Encoding that maybe the encoding or decoding inserts

[2018-11-14 11:50] TueCN commented on #226
@ScaAnders I see nothing different in your request 12:08:39 than the raw http request you already attached here.

I can post LPR's log of your full request + LPR's response, but this is a public forum so I just want to make sure that your SAML token has expired before doing so.

[2018-11-14 13:45] ScaAnders commented on #226
Do you have any documentation on this in relation to LPR3? The reason I ask is because we have been using a standard Microsoft implementation of the MTOM protocol and since this need to be changed it will be nice to know that this is a requirement in order to make a successful WS call to LPR3.
If possible and to minimize the time we use writing in this thread we could consider arranging af phone c

[2018-11-14 13:54] TueCN commented on #226
No, this is purely speculation on my part (that the 8bit encoding is the problem).

Before you start a huge undertaking let me try and run this issue by a few other people.
If you can wait until next week I can run this issue by @jonigkeit (he's on vacation) and see if he has any other suggestions as to what might be wrong.

[2018-11-15 09:13] jonigkeit commented on #226
If @TueCN is right about the encoding issue causing a problem with ‘Erhvervs- og Selskabsstyrelsen’ try to remove the XML attribute @assigningAuthorityName from the CDA document.

[2018-11-15 09:19] TueCN commented on #226
@ScaAnders I had a chance to run your issue by @jkiddo and he spotted another difference between yours and ours request: Your request is not MTOM/XOP optimized.
Although the service might initially accept unoptimized content, processing could result in strange behavior like we see here and the [documentation](https://scandihealth.github.io/lpr3-docs/aspects/index.html#ihe-xdr) actually requires re

[2018-11-15 12:17] jonigkeit opened #227 "Return error status code when request are not XOP/MTOM encoded"
Return `400 Bad Request` or `415 Unsupported Media Type` alongside SOAP fault when request is not XOP/MTOM encoded.

[2018-11-15 12:20] jonigkeit commented on #226
I have proposed a new error code in #227.

[2018-11-15 12:29] jonigkeit commented on #225
I assume you’re experiencing the same issue as in #226. Please try again using XOP/MTOM encoding.

[2018-11-15 13:00] ScaAnders commented on #225
Yes, it is related to #226

[2018-11-15 13:39] maagaard-DXC opened #228 "Hints to Reduce Impact of Performance Issue on Application (reference GitHub ID #211 and #219)"
DXC is still working on a permanent solution to the performance issue on the test environment.
Until such a solution is deployed here are a few temporary hints to help reduce the impact on test effort.

Hint 1 (also published on issue #219):
When searching please select at least the following as criteria:
•	An "Institutionsejer" - for instance "Region Midtjylland" combined with a "Søgetype for ans

[2018-11-16 10:12] ScaAnders commented on #226
We can see that Microsoft has some internal problems regarding the MTOM protocol. Do you know of any other clients that have successfully used Microsoft as a client for the LPR3 service? If so is it possible that you can find a contact person (of course with their blessing) so that we can reach out in order to get some input?

[2018-11-16 12:34] jonigkeit commented on #226
Not to our knowledge.
Try contacting the Danish National Patient Register project group at the Danish National Health Data Agency.

Please close this issue if you have no further comments.

[2018-11-16 13:10] KirstenLHSDS opened #229 "Chrome / search & time out"
On request from Tom / Region Nordjylland:

Generelt har jeg sagtens kunnet bruge Chrome – og har gjort det under hele vores test. Jeg plejer nok at få nogle Java fejl (På vejen ind – men ikke på selve søgesiden), men ikke noget der forhindrer mig i at bruge browseren (De plejer bare at kunne klikkes væk) – indtil i går.
Fejlen sker når jeg forsøger at søge data frem. Her får jeg nedenstående fejl,

[2018-11-16 13:22] TueCN commented on #229
This is most likely a duplicate of https://github.com/scandihealth/lpr3-docs/issues/219#issuecomment-438590643

See https://github.com/scandihealth/lpr3-docs/issues/219#issuecomment-438594500 for resolution

[2018-11-19 08:52] TueCN commented on #201
**RESOLUTION**
The LPR service will now set HTTP status 503 on a response when the service is unavailable.
The content of the response will still contain HTML (which as per @wilgerh comment https://github.com/scandihealth/lpr3-docs/issues/201#issuecomment-431346085 is acceptable for their needs)

The change is still untested and will be tested by DXC during next service window (Tuesday)

[2018-11-20 06:59] ScaAnders opened #230 "Encoding other than MTOM"
Is it possible that you can expose an additional endpoint for LPR3 (it your test environment) that can accept a different encoding of the ClinicalDocument other than MTOM?
The reason I ask is because we are facing some difficulties making the MTOM encoding work correctly. If you can expose an endpoint that accepts a different encoding that would allow us to work in parallel with the MTOM encoding

[2018-11-20 07:42] simon-dxc commented on #230
Hi @ScaAnders .
The standards must be followed and it would be counterproductive to expose non-complient endpoint.

[2018-11-20 10:03] kbhCGI opened #231 "Myndighedskode 0999 not found in the registry:MYNDIGHED_CODE_NOT_FOUND:0999"
Hi

I think myndighedkode 0999 is missing.
IF i look in Sundhedsdatastyrelsens kommuneklassifikation.ptf it is existing.
https://sundhedsdatastyrelsen.dk/-/media/sds/filer/rammer-og-retningslinjer/patientregistrering/relaterede/kommuneklassifikation.pdf?la=da

[2018-11-20 10:32] TueCN commented on #231
Hi

The pdf document you linked is from 2015 and it is likely that the register has changed since then.

I looked in the [Myndighedsregister](https://www.cpr.dk/kunder/gratis-download/myndighedsregister-og-udtraeksbeskrivelse/) txt file and could not find the kommune kode `0999` with the text `Uden bopæl eller ukendt bopæl`.

If the kommune is not known, you should use the code `0009` which has th

[2018-11-20 12:35] kbhCGI commented on #231
Skat.dk + danmarks statistik + SDS uses 999 as "uden bopæl eller ukendt bopæl".
Are you 100% sure that is 0009 and not 0999 or both?

[2018-11-20 13:16] TueCN commented on #231
We do not use any of those as the authoritative source of "Kommune koder".

We use [CPR's Myndighedsregister](https://www.cpr.dk/kunder/gratis-download/myndighedsregister-og-udtraeksbeskrivelse/) as stated on [art-decor](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.176.7.1.10.127&effectiveDate=2017-12-11T00:00:00)

I am fairly

[2018-11-20 13:34] #231 closed

[2018-11-20 15:06] TueCN commented on #211
**RESOLUTION**
All searches performed from "LPR3 - Vis indberetninger" UI has been optimized and finishes faster than before.
Note that searching without any search criteria restrictions might still cause timeouts (Service Unavailable error message). This depends on the user's SEB permissions and the amount of data in the registry.

[2018-11-20 15:09] TueCN commented on #219
**RESOLUTION**
All searches performed from "LPR3 - Vis indberetninger" UI has been optimized and finishes faster than before.
Note that searching without any search criteria restrictions might still cause timeouts (Service Unavailable error message). This depends on the user's SEB permissions and the amount of data in the registry.

[2018-11-21 08:42] TueCN commented on #201
Tested OK during latest service window

[2018-11-21 11:52] RasmusThernoe commented on #219
Performance significantly improved -  thank you for the fix.

[2018-11-21 11:52] #219 closed

[2018-11-21 12:41] Dkuzmins commented on #203
The field “Seneste behandlingsdato” is the date until the decision to apply coercive measures is valid   (basically the length of decision from now).
According to Patient’s safety [regulation](https://stps.dk/da/sundhedsprofessionelle-og-myndigheder/rettigheder-og-pligter/tvang/#) it shouldn’t be longer than 4 months and clinicians would document it as a date (without hours, minutes and seconds).

[2018-11-21 12:48] ScaAnders opened #233 "Expected CDA documents for the official integration tests"
We are to start the official integration test within a couple of weeks. Is it possible that we can have a look at the resulting CDA documents that you are expecting in order to pass the official tests?
If any clients already have passed the tests maybe you publish the these documents so that we can use these in our internal testing when generating the ClinicalDocuments. That would allow us to find

[2018-11-21 12:49] ScaAnders opened #234 "Import of ClinicalDocument"
Is there any way we can upload a ClinicalDocument to LPR3 without using the webservice? Something like an "import document" button within the UI?
That way we could just skip the complexity associated with the webservice, MTOM protocol, DGWS and just focus on the core document and the validation rules within LPR3.

[2018-11-21 13:55] ScaAnders commented on #234
I need to point out that this is purely for testing purpose so that we can work in parallel with both the WS protocol and the CDA format itself.

[2018-11-21 14:24] Marc-Petersen opened #235 "SKS codes rejected by LPR3"
We are submitting CDAs using a bleeding secondary diagnosis DO720 on delivery contacts. This diagnosis needs an add code with the amount of bleeding VPHxxxx (ex, VPH0450).
It is a code, that is used in LPR2, and it will stay in use for LPR3.

However, we are getting rejected in the endpoint:
    <Header>
        <ep2:Header xmlns:ep2="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <e

[2018-11-21 15:35] jonigkeit commented on #235
The code VPH0450 does not exist in ftp://filer.sst.dk/filer/sks/data/sks_xml/akt_version/SKSklassifikationspakke.zip or ftp://filer.sst.dk/filer/sks/data/skscomplete/SKScomplete.txt.

[2018-11-21 15:58] TueCN commented on #234
I am afraid not.
The currently exposed endpoints are the only source of data entry into the registry.

[2018-11-21 16:49] metodikamikaelnilsson opened #236 "Is ID mandatory for forløbsmarkører?"
The documentation at [art-decor](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?id=1.2.208.176.7.1.10.82&effectiveDate=dynamic) states that the ID for a forløbsmarkør is **not** mandatory, whereas the "Vejledning til indberetning til LPR3" (page 55) states that it is. Which is correct?

![Image of Indberetning af forløbsmarkører](https://www.metodika.com/sk

[2018-11-21 17:12] jonigkeit commented on #234
@ScaAnders you can request an enhancement through the project group at SDS. This could be a function in the UI or a CDA client capable of sending XDR request including DGWS

[2018-11-22 07:52] #211 closed

[2018-11-25 14:05] Remcovanderwerf opened #237 "Encounter already exists in the registry"
Hi,

i need some help pointing out why i get the following error:
`INTEGRITY_CHECK|||Encounter 1D7BC4E6-D6E7-4BB5-BD9B-6DF469760D95 already exists in the registry`

In the submissions I use the functionality to fully replace related document using the typeCode=RPLC.

Below 3 CDA submissions + responses attached in a ZIP file.

The first CDA is a new submission of an episode of Care.
The second sub

[2018-11-26 14:51] RasmusThernoe opened #238 "Inconsistency in documentation of "Implantatoplysninger""
There is an inconsistency in the description of the fields batch number + serial number between the LPR3 reporting guide (DA: Indberetningsvejledningen) version 1.2 and the result report specifications (DA: Resultatindberetningsspecifikationer (RI-specs) bilag 1a).

In the LPR3 reporting guide, page 207 states that at least one of the field most be filled:

In the result reporting specifications,

[2018-11-27 09:52] #234 closed

[2018-11-27 10:14] ScaAnders opened #239 "Missing error details"
After working on the MTOM protocol we are now trying to create a minimum request that can be submitted to LPR3. We are now in a situation where our request fails (according the status on the response element) but the error list is empty.
Is it possible that you can try executing the request and give a bit more information regarding the specific error?
(Attached are the request and response).
[2018

[2018-11-27 10:32] TueCN commented on #239
Hi. What endpoint are you using? If you are using the [PatientHealthcareValidateReportingService](https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService) then I think your request has been validated and no issues were found.

Currently, due to the wording in ITI-41, the validate endpoint **always** returns
 status="urn:oasis:names:tc:ebxml-regrep

[2018-11-27 10:38] ScaAnders commented on #239
Yes, that is the one I am using. I really hope you will fix the validation status so that we can trust the status of the response instead of chasing ghosts :)
Can you provide the endpoint where the commit is only done if the document validation completed successfully?

[2018-11-27 10:52] ScaAnders commented on #239
Found it: https://scandihealth.github.io/lpr3-docs/testenvironment/index.html

[2018-11-27 10:52] #239 closed

[2018-11-27 11:07] RasmusThernoe opened #240 "Conflict between XML Schemas (XSD)"
There is a conflict between national services.

The content of the XML schema (XSD) for DGWS used in the LPR3 service differs from XSD used in running services on NSPOP, e.g. Stamdata Kopiregisterservice (SKRS).

This would normally not be a problem but because these different XSDs have **the same namespace** (http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd) they conflict when deployed. The XML sch

[2018-11-27 11:17] jkiddo commented on #240
The schema used by LPR3 is the same as the schema hosted on https://svn.nspop.dk/public/components/seal/latest/code/modules/seal/src/main/resources/medcom.xsd (which should be the official DGWS schema).

If this is to be changed, please address this to the steering committee

[2018-11-27 11:22] RasmusThernoe commented on #240
Issue already raised to SDS.

[2018-11-27 19:17] RasmusThernoe opened #241 "Is it possible to reopen an Episode of Care?"
In the LPR3 Reporting Guide (DA: Indberetningsvejledningen) it states:

- Page 42:  "Tidligere afsluttede forløbselementer kan ikke genåbnes"

- Page 42: "Når et forløb(selement) er lukket, er det fordi, afdelingen har afsluttet forløbsansvaret ud fra en klinisk beslutning. Det må derfor ikke genåbnes med tilbagevirkende kraft..."

- Page 46: "Det afsluttede og indberettede forløbselement kan ikke

[2018-11-28 10:37] TueCN opened #242 "Notice: All previous versions of data to be purged with next release"
Due to changes in the internal data layer with the major release scheduled for today, it is necessary to purge all **history** on data in the TEST environment on https://lprws-test.sds.dsdn.dk.
This means that the current version of all data (EoCs, Encounters, Patients, Diagnoses, etc) will be the only version in the system after the deploy today.

Server is scheduled to be taken offline at: TBA

[2018-11-28 11:33] SorenTL commented on #242
Is it by any means possible to postpone this to 15.00 CET as we are conducting a customer test one the environment now. This is a very short notice for such a change.

[2018-11-28 11:45] maagaard-DXC commented on #242
SDS have sent the change to review with Regional project managers.
Please be advised that the upgrade of environment scheduled for 13.00 will go ahead regardless of whether or not the history will be purged.

[2018-11-28 13:06] maagaard-DXC commented on #242
In agreement with SDS upgrade have been postponed to tomorrow morning.

[2018-11-28 13:47] jaleksejeva opened #243 "business error format returning from LPR"
Hi,
We are adjusting our build to catch all the business errors that return from LPR for Result reports.
During testing the format that we've seen matched the format:  "sds:lpr:3.0.5|||12.03.106" and we expected that the line before delimiters was consistent, only the part after changed to match exact error #.
Today we saw a new format: "sds:lpr:3.0.6|||16.a".
Therefore, to adjust our workqueue bu

[2018-11-29 07:53] ScaAnders opened #244 "Invalid representedOrganization"
I have a CDA document with the following author section:
`  <author typeCode="AUT" contextControlCode="OP">
    <templateId root="1.2.208.176.7.1.10.102" />
    <templateId root="2.16.840.1.113883.10.12.102" />
    <time value="20181115010000+0100" />
    <assignedAuthor nullFlavor="NI" classCode="ASSIGNED">
      <representedOrganization classCode="ORG" determinerCode="INSTANCE">
        <id root

[2018-11-29 08:15] RasmusThernoe opened #245 "Milestones and new deploys"
According to https://scandihealth.github.io/lpr3-docs/testenvironment/index.html:

According to https://github.com/scandihealth/lpr3-docs/milestones there are no future deploys - except from the one today.

Is the deploy today going to be the last deploy on the test environment before LPR3 goes into production?

[2018-11-29 10:23] TueCN commented on #244
Your XML does not validate up against the CDA XML schema.

The validation error message specifies what is expected:

You can place e.g. a `<id nullFlavor="NI"/>` as the first child of `<assignedAuthor>`
[code]

You can download the CDA XML schema from https://gazelle.ihe.net/XSD/HL7/CDA/

[2018-11-29 10:30] TueCN commented on #245
No, we have future deploys planned.
We usually do not create the next milestone before the previous one is closed.

The currently open (past due date) milestone is currently awaiting approval by SDS, as it includes the wiping of all history data.
See #242.

[2018-11-29 10:39] SorenTL opened #246 "EpisodeOfCareReferrence is not updating when receiving CDA with new data"
I sent the attached CDA documents after each other and the EpisodeOfCareReferrence field is not updated.

In cases where there are no prior data in the field or if the EpisodeOfCareReferrence is deleted between sending new data, the data field is updated correctly.

test patientid. 2311184078

[CDA1.txt](https://github.com/scandihealth/lpr3-docs/files/2628710/CDA1.txt)
[CDA2.txt](https://github.co

[2018-11-29 10:42] ScaAnders commented on #244
Thanks!

[2018-11-29 10:42] #244 closed

[2018-11-29 10:49] RasmusThernoe commented on #245
What is the notice period between the milestone is created on GitHub until the deploy is performed?

[2018-11-29 10:53] maagaard-DXC commented on #245
Usually about a week but it differs depending on the current needs.
Normal process is that then one Milestone is closed the next is created.

[2018-11-29 10:59] #245 closed

[2018-11-29 11:17] TueCN commented on #243
Hi

`sds:lpr:3.0.6` is a [Maven coordinate](https://maven.apache.org/pom.html#Maven_Coordinates) which uniquely identifies the **version** of the rule that produced the validation error.  The format is static, but the content is not.

`16.a` is the **name** of the rule that produced the error. The name has no format, but is unique within a version.

Together, the version and the name uniquely iden

[2018-11-29 11:31] TueCN commented on #240
I assume LPR3 is indeed using the correct version of the schema so I am adding the 'wontfix' label until the steering committee decides otherwise.

[2018-11-29 12:17] #225 closed

[2018-11-29 12:18] TueCN commented on #229
Hi @KirstenLHSDS,
can you please verify with Tom whether the suggested solution resolved his issue?

[2018-11-29 12:19] #215 closed

[2018-11-29 12:20] TueCN commented on #208
@finnha I assume the solution worked for you. I am closing the issue, but feel free to reopen the issue if it has not been resolved.

[2018-11-29 12:20] #208 closed

[2018-11-29 12:52] metodikamikaelnilsson commented on #200
Can you please clarify some things regarding this issue.

I did this but got this error back:

Also, you say that the latest document ID has to be sent. Where in the clinical document should this ID be placed? Is "the latest document ID" the ID of the parent document? I've set the id@extension to the same ID as the parentDocument/id@extension, is this correct?

This is the clinical document that I

[2018-11-29 12:56] maagaard-DXC commented on #242
History will be purged after accept from all Regional Project Managers.

[2018-11-29 12:57] #242 closed

[2018-11-29 13:00] jaleksejeva commented on #243
Thank you for clarification, Tue!
I am still a little in doubt, because it kind of "ties our hands" build-wise.
At the moment we had relied on the exact message format to catch every patient, who is returning from LPR with error, and place him in the appropriate workqueue, where medical secretaries can identify the patients and correct the errors.
If we do not stick to a static format, we are not

[2018-11-29 13:22] metodikamikaelnilsson commented on #236
I get no validation error when I include a forløbsmarkør that don't have an objectID, so I guess it's not mandatory despite what the "Vejledning.."-documentation says? And furthermore, I guess the mandatory refID to the forløbselement is implicitly set by the fact that the forlforløbsmarkør element resides inside the forløbselement?

[2018-11-29 15:46] KirstenLHSDS commented on #229
Can be closed after confirmation with Tom

[2018-11-29 15:46] #229 closed

[2018-11-30 07:54] ScaAnders opened #247 "CDA id-extension"
![cda id extension](https://user-images.githubusercontent.com/41738261/49276062-90122e00-f47d-11e8-9d5a-baed9843dd6f.png)
Do you have a description about what the content of the 'extension' attribute of the CDA 'id' element should be? Please attached screenshot from the doc.

[2018-11-30 08:50] TueCN commented on #247
Hi,

Can you link to the template you are showing in the screenshot?
You can get links in art-decor by clicking the paperclip icon in the title bar of the open template.

[2018-11-30 08:55] ScaAnders commented on #247
http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.176.7.1.10.71&effectiveDate=2018-01-04T00:00:00

[2018-11-30 09:32] TueCN commented on #247
This is the identifier of the ClinicalDocument element. The content should be a UUID, as specified by the datatype (DT column).

You can generate the UUID on the fly, but if you plan to append or replace the document later, you must store it so you can refer to it in the [relatedDocument](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1

[2018-11-30 09:34] ScaAnders commented on #247
Thanks!

[2018-11-30 09:34] #247 closed

[2018-11-30 09:40] TueCN commented on #243
I am not sure I understand the problem.
The text "sds:lpr:3.0.6|||16.a" does not uniquely identify a patient. It uniquely identifies a validation error.

What information do you need from the response?

[2018-11-30 10:18] TueCN commented on #246
I assume the field you want updated is the [DK Episode Of Care Link Act](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.176.7.1.10.83&effectiveDate=2017-11-07T00:00:00)/act/reference/externalAct/id/@extension

I have reproduced the problem and can verify it is a bug.

Note: Please encode uploaded files using UTF-8

[2018-11-30 10:52] TueCN commented on #221
Currently it is technical possible, but I am not sure whether the CDA standard allows it.

According to [Danish Metadata profile](http://svn.medcom.dk/svn/drafts/Standarder/IHE/DK_profil_metadata/Metadata-v095.docx) the XDR attribute authorInstitution must have same values as

So it depends on whether you is allowed to update the **assignedAuthor** element in a CDA document.
@jkiddo can you help c

[2018-11-30 11:09] TueCN commented on #200
@metodikamikaelnilsson this is really a separate issue, but we can handle it here.

1. You need to specify what you want to nullify. See [DK Nullify Act](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.176.7.1.10.118&effectiveDate=2018-04-18T11:55:23)

2. The meaning of parent document is explained here: https://scandihealth.gith

[2018-11-30 12:04] TueCN commented on #237
Hi,

This is a bug.
It should be possible to replace an encounter when using document replacement.

[2018-12-03 07:58] metodikamikaelnilsson commented on #210
You say that "any registered OID" is valid. Where are these OID's registered? How do we fetch these OIDs? For example, let's say that I want to retrieve the OID for swedish person numbers, where would I fetch that?

[2018-12-03 08:03] KirstenLHSDS commented on #240
The issue has been discussed with the region, SDS (architect), DXC and @RasmusThernoe. As I understand from the SDS-architect, the conclusion is, that there will be no change to the LPR3-solution.
The source of the autoritative skema is (still): http://svn.medcom.dk/svn/releases/Standarder/DGWS/Schemas/

[2018-12-03 10:09] TueCN commented on #200
1. Sorry I misunderstood your problem. The nullify section should indeed be allowed to be empty (enhancement #28). However, the Schematron rules that was updated with #28 have not actually been deployed to the service. This is an oversight and will be fixed.

2. The picture https://scandihealth.github.io/lpr3-docs/img/L-cda_figure1-changed.png illustrates what IDs are involved and where they shoul

[2018-12-03 10:30] TueCN commented on #28
Reopening because the enhancement has not yet been fully implemented.
See https://github.com/scandihealth/lpr3-docs/issues/200#issuecomment-443655705

[2018-12-03 12:13] RasmusThernoe commented on #240
There was no conclusion at the meeting.

The situation was explained to SDS: There is a conflict between national services, e.g. Stamdata Kopiregisterservice (SKRS), Fælles Medicin Kort (FMK) and LPR3. The conflict is caused by the XML Schemas (XSD) used in these national services are non compatible content but they all have the same namespace.

To fix the conflict in the national services one of

[2018-12-03 12:52] metodikamikaelnilsson commented on #200
2. Ok. So the ID-procedure for when deleting a full EoC by only sending an empty nullify section is exactly the same as for any other replacement. Got it.

Thank you for the clarification.

[2018-12-03 13:51] Marc-Petersen commented on #235
This response is from our internal code-guy:
_It does exist in this folder:
ftp://filer.sst.dk/filer/sks/data/skscomplete/
In this document:
ftp://filer.sst.dk/filer/sks/data/skscomplete/SKTtot_2016-07.txt_

Does that not mean it should be supported?
Please advise.

[2018-12-03 22:05] jkiddo commented on #210
@metodikamikaelnilsson http://oid-info.com/get/1.2.752.59 could be a valid guess since 1.2.752.59 is the registered OID of Skatteverket being the authority of the SSN's in Sweden, AFAIK.

[2018-12-04 08:02] metodikamikaelnilsson commented on #210
Thanks for the link. One more question regarding this issue: I see in the examples at [art-decor](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-) that the id@root for Erstatnings CPR nummer is set to a UUID (E45407A7-86EC-5AA4-A08B-0B33A62A1127). Does this mean that there doesn't exist any OID for danish erstatningsnummer? Should this UUID always be used wh

[2018-12-04 08:08] jkiddo commented on #210
There isn't any central authority governing replacement SSNs in Denmark - there are only guidelines. As a consequence, there isn't any central OID for danish replacement SSNs (erstatningsnummer)

[2018-12-04 08:12] metodikamikaelnilsson commented on #210
Ok, so when dealing with replacement SSN we create a UUID according to the description:

[2018-12-04 09:58] metodikamikaelnilsson commented on #210
Should danish replacement SSNs from different regions have different UUIDs, or can all have the same UUID?

[2018-12-04 14:08] metodikamikaelnilsson commented on #210
I just need a little bit more clarification before I can close this issue.

1. Lets say we create an UUID for erstatningsnummer issued in Nord Jylland: "ABC123" (I use an abbreviation for simplification). We use this exact UUID for all erstatningsnummer issued in Nord Jylland when we send in clinical documents to the LPR3 registry. Another company also creates a UUID for erstatningsnummer issued i

[2018-12-04 15:54] DaveSS commented on #166
Have we heard back from SDS about this issue? We receive referrals based on Medcom specifications that do not require upper case UUIDs, so we prefer sending out the UUIDs in the case that we are receiving them. Also, has Art-Decor been consulted to see if this is a bug on their end? From the note above, it appears that they intended to NOT enforce this constraint.

[2018-12-04 19:14] Remcovanderwerf opened #248 "Response with unexpected error"
Hi,

During testing I got the following response:
`Date: 03-12-2018 11:26:09`
`Endpoint:   'https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareReportingService'`
`Returned http status code 500`

[response.txt](https://github.com/scandihealth/lpr3-docs/files/2645683/response.txt)

when submitting the following CDA:
[testmessage_CDA.txt](https://github.com/scandihealth

[2018-12-05 10:03] TueCN commented on #166
@DaveSS I suspect the issue regarding why the Schematron rule flags it as `error` instead of `info` is that we run our own installation of art decor on
[lpr-art-decor](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/home) which is version 1.8.
[Art-Decor](http://art-decor.org/art-decor/home) is running version 2.0

@jonigkeit or @jkiddo can you confirm if the version difference c

[2018-12-05 11:34] clausheinecke opened #249 "LPR3 rule 5.108: is the diag.foedbarn.doed is missing in the validation?"
When we report a stillborn child we get error 5.108 saying that we have not registered a valid diagnosis from the table diagn.doed.
But the diagnosis DP950 is in the diag.foedbarn.doed which should be a valid diagnosis for a stillborn child and should be reported as a Kontakttype DØD and priority=Akut.
See text in the LPR3 vejledning: Kontakttypen for fødselskontakten ved dødfødsel er ’død’. Aktio

[2018-12-05 12:35] Kashif-Ali-110 opened #250 "SoapResponse: The certificate that signed the security token is not trusted!"
Hi

I am try to accessing the LPR3 webservice. But it return back Soap with message:

**EndPoint:** https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService

**Soap request**:
[ProvideAndRegisterDocumentSetEnvelopeMYC29Nov.txt](https://github.com/scandihealth/lpr3-docs/files/2648769/ProvideAndRegisterDocumentSetEnvelopeMYC29Nov.txt)

**Response rec

[2018-12-05 14:20] kbhCGI opened #251 "Transaction rolled back on referal."
Hi

We get "Transaction rolled back" then we send a referral.

[18120514380013.zip](https://github.com/scandihealth/lpr3-docs/files/2649137/18120514380013.zip)

[2018-12-05 19:54] TueCN commented on #248
Hi,

You have a cyclic reference between two EoCs:
The one you are sending: `4014C589-84E3-44B4-A6E1-AFE323C18F6A`
and the one you are referencing (already existing in the database): `22700C13-34DB-4BEA-A33A-94D3FABC02EE`, which has a reference back to `4014C589-84E3-44B4-A6E1-AFE323C18F6A`.

Although technically possible, it does not make sense in a "real world scenario".
However, the server shou

[2018-12-06 13:07] jonigkeit commented on #164
= RESOLUTION =
The non-compliance with RMIM-009 will *not* be resolved in the near future.

[2018-12-06 13:15] jonigkeit commented on #203
**RESOLUTION**
We're introducing a new timestamp with the precision of a day, e.g. literal form
`YYYYMMDD±ZZzz`.

[2018-12-06 13:16] kbhCGI commented on #251
Cannot reproduce today.
I close the issue.

[2018-12-06 13:16] #251 closed

[2018-12-06 13:16] jonigkeit commented on #203
Regarding RMIM-009, see #164.

[2018-12-06 13:32] Dkuzmins commented on #203
Christian,
What does ±ZZzz stand for in this case? Is it Hours/Minutes offset from UTC?

[2018-12-06 14:23] kdjohansson opened #252 "Unexpected error INTERNAL_EOC_NOT_FOUND"
We are trying to submit a CDA with a reference to another internal episode of care, but the document gets rejected with error INTERNAL_EOC_NOT_FOUND.

Document1.txt is containing a submitted eoc bb665bc7-ff75-5316-ace5-17cb8df6dd52.

Document2.txt is containing the a new eoc with a reference to the first, that results in the folowing error:
INTEGRITY_CHECK|||Internal Episode of Care bb665bc7-ff75-

[2018-12-06 18:22] TueCN commented on #252
[DK Internal Episode Of Care Reference](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.176.7.1.10.72&effectiveDate=2018-01-04T00:00:00) is a reference to another Episode of Care within the same _document_

document2 is referring to an EoC in another document (document1).

If you wish to refer to another EoC in another document,

[2018-12-06 19:03] TueCN commented on #249
Rule 5.108 seems to be implemented correctly according to the spec:
![image](https://user-images.githubusercontent.com/14910711/49605328-73e82280-f990-11e8-8df8-47dada8c1d19.png)

The problem is that you are reporting an encounter with a type code in `admin.konttype.doed`, this triggers validation of rule 5.108, which checks that the aktionsdiagnose code is in `diag.dod`, which `DP950` is not. Thu

[2018-12-07 08:13] ScaAnders opened #253 "Documentation for 1.2.208.176.7.1.22.1"
I am getting the exception below but I cannot find information regarding the template "hl7:entryRelationship[hl7:templateId[@root='1.2.208.176.7.1.22.1']]". Can you please help me with an art-decor link for the documentation.

`ErrorCode: InvalidDocumentContent
Location: 12edf90e-59a5-5650-bf49-16a39b914509^65922AEA-758A-4573-B60D-EFA110C0DA1D|||/*:ClinicalDocument[namespace-uri()='urn:hl7-org:v3'

[2018-12-07 08:39] #252 closed

[2018-12-07 08:46] smunck commented on #241
The LPR3 Reporting guide must be followed, even though it might be technically possible to do something else.

If an eoc has ended, and the patient later returns, a new eoc must be created. If the first eoc is reopened, it will be reported that the hospital has had responsibility for the patient for the whole period which is not true.

Even though an eoc must not be reopened, it should be technica

[2018-12-07 08:56] smunck commented on #249
SDS will update the code list [diag.dod] in SKS to contain aktionsdiagnose DP950 (dødfødt). The update will be part of the ordinary SKS-update next week (between 10-14 dec).

[2018-12-07 19:14] RasmusThernoe commented on #241
Thank you for the clarification.

[2018-12-07 19:14] #241 closed

[2018-12-10 08:20] TueCN commented on #237
Sorry no ETA yet. My best guess is Tuesday next week (this is not a commitment)

[2018-12-10 08:30] Christian-AT commented on #228
![test error call failed on server](https://user-images.githubusercontent.com/39693721/49719151-9d3cd300-fc5c-11e8-8c66-97d363de7acc.PNG)

Current state of the search functionality.

Steps to reproduce:
clear cache, restart computer.
Open Chrome.
Open the Intern Test 3 (921) environment webpage.
Choose to act as user "All_Region_AllUnits".
Search for indberetninger with narrow criteria (see image)

[2018-12-10 08:34] TueCN commented on #253
Hi,

Can you attached the input XML document?
Evaluating the XPath expression against the input document should show you where the problem is
`/*:ClinicalDocument[namespace-uri()='urn:hl7-org:v3'][1]/*:component[namespace-uri()='urn:hl7-org:v3'][1]/*:structuredBody[namespace-uri()='urn:hl7-org:v3'][1]/*:component[namespace-uri()='urn:hl7-org:v3'][2]/*:section[namespace-uri()='urn:hl7-org:v3'][1]/*

[2018-12-10 08:55] ScaAnders commented on #253
[LPR-000000101-m-procudenkontakt.txt](https://github.com/scandihealth/lpr3-docs/files/2662326/LPR-000000101-m-procudenkontakt.txt)

[2018-12-10 11:43] ScaAnders commented on #253
True, but as you can see there are no elements with id '1.2.208.176.7.1.22.1' like the error states. So where do I find that documentation?
![image](https://user-images.githubusercontent.com/41738261/49730513-dedb7700-fc78-11e8-837e-320ed166d3bf.png)

[2018-12-10 11:48] TueCN commented on #253
Open the `hl7:templateId` sections that are collapsed in your screenshot.

![image](https://user-images.githubusercontent.com/14910711/49730861-ec453100-fc79-11e8-9a44-ca750eb63371.png)

[2018-12-10 11:51] ScaAnders commented on #253
Thanks

[2018-12-10 11:51] #253 closed

[2018-12-10 12:16] clausheinecke commented on #249
Hvad er nu næste skridt? Du har assigned problemet til mig – og hvad så??
/Claus
Med venlig hilsen
Claus Heinecke
Systemforvalter LPR
IT Systemforvaltning
Koncern IT

Mobil: +45 24 98 28 58
Mail: cbhi@regionsjaelland.dk<mailto:cbhi@regionsjaelland.dk>
Jabber: 75357@regionsjaelland.dk<mailto:75357@regionsjaelland.dk>
Nørregade 54, 4100 Ringsted
www.regionsjaelland.dk<http://www.regionsjaelland.dk/>

[2018-12-10 12:34] TueCN commented on #249
@clausheinecke next step is to wait for the SKS code lists to be updated as stated by https://github.com/scandihealth/lpr3-docs/issues/249#issuecomment-445165729

When the list has been updated, you should no longer see a validation error from rule 5.108

[2018-12-10 13:13] TueCN commented on #248
**RESOLUTION**
LPR3 no longer recursively resolves EoC references fully. Only the following properties of a referenced EoC are available for validation in business rules (Drools rule implementations)
- identifikator
- ansvarligEnhed
- afslutningsmaade
- startTidspunkt
- slutTidspunkt
- forloebLabel
- patient

This new restriction does not conflict with any existing dynamic business rules.

[2018-12-11 10:40] jonigkeit commented on #250
It looks like you're have requested the ID card to be signed by the STS service for _production_.

When using the test environment the ID card needs to be signed by one of the STS services for _test_.

[2018-12-11 11:23] jonigkeit commented on #238
This seems to be question that is not regarding the XDR interface.

[How to contribute](https://github.com/scandihealth/lpr3-docs/blob/master/CONTRIBUTING.md)

[2018-12-11 13:46] KirstenLHSDS commented on #189
Performance is adressed, and of course the 5 min response is not valid. SDS and DXC are taking combined initiatives to ensure sufficient performance. As performance tuning is yet ongoing, it is not reasonable to commit to a definite number of seconds per CDA-document. Of course the target is to be able to handle daily load during the night. .

[2018-12-11 14:43] joelmetodika opened #254 "Can't login to LPR3 administration module"
Hi, I get the following error message when trying to login to the LPR3 administration module:
"DXC Traffic Manager: the service is temporarily unavailable (503). Please try again later."
We are in the middle of doing "tilslutningstest" related things and really need to know when this will be available again.

Regards Joel
Metodika AB
![screen shot 2018-12-11 at 15 37 06](https://user-images.github

[2018-12-11 14:56] maagaard-DXC commented on #254
We are currently deploying this weeks scheduled service pack so that is why you are getting this error.
Service will be available again tomorrow.

[2018-12-11 15:02] joelmetodika commented on #254
Ok, where is this schedule available for viewing? At what time tomorrow will it be up and running?

[2018-12-11 15:06] maagaard-DXC commented on #254
Environment will be up and running first thing.
Schedule can be seen in Milestones here:
https://github.com/scandihealth/lpr3-docs/milestones

[2018-12-11 15:11] joelmetodika commented on #254
Ok, thanks for the information and quick responses!

Regards Joel

[2018-12-11 16:19] jonigkeit commented on #236
The confusion stems from inconsistency/coherence between the interface specification and the specification of the "Vejledningen". The problem being the "Vedledningen" not treating how data is communicated as an external concern to it. Ideally the "Vedledningen" would only be using terminology defined by the logical model, but this is not the case.

You're not required to set an id on an episode of

[2018-12-11 16:24] jonigkeit commented on #235
To avoid ultracrepidarianism, we will forward your inquiry to SDS.

[2018-12-12 06:19] metodikamikaelnilsson commented on #236
Thank you for the clarification.

[2018-12-12 06:19] #236 closed

[2018-12-12 07:44] Dkuzmins commented on #203
@jonigkeit

The document you are referring to says:

"The representation of time SHALL use the format YYYYMMDDhhmmss±ZZzz" where ZZzz is HHmm offset from UTC

But what about **new** timestamp format YYYYMMDD±ZZzz you mentioned in your previous post? Why do we need an offset from the date?

[2018-12-12 08:15] jonigkeit opened #255 "Problem logging into UI"
A user may experience the following issue
![image](https://user-images.githubusercontent.com/1263467/49855756-6ac2df80-fdee-11e8-9bf5-007e2360c16d.png)

[2018-12-12 08:17] jonigkeit commented on #255
**RESOLUTION**
Clear the cookie for the site and retry.
See [video](https://github.com/scandihealth/lpr3-docs/blob/master/src/res/saml-issue.mp4?raw=true)

[2018-12-12 08:17] #255 closed

[2018-12-12 08:34] jonigkeit commented on #203
Suppose you registered two events

* Event _a_ December 12th 2018 in Greenland, that would be `20181212-0300`
* Event _b_ December 12th 2018 in Denmark, that would be `20181212+0100`

Now you want to answer the following question which of the events did not happened December 13th 2018 Danish time?

The answer is _b_.

So [specifics matter)(https://www.youtube.com/watch?v=qHDSNs9wBpU).

[2018-12-12 08:52] Smp-xmedicus opened #256 "CUSTODIAN_NOT_FOUND"
[Clinical_document.txt](https://github.com/scandihealth/lpr3-docs/files/2671075/Clinical_document.txt)
[Full_message.txt](https://github.com/scandihealth/lpr3-docs/files/2671077/Full_message.txt)

Why do this combination get rejected, maybe a missing link between SOR=293161000016004 and CVR=27506909?

`	<author typeCode="AUT">
		<templateId root="1.2.208.176.7.1.10.102" />
		<templateId root="2.16

[2018-12-12 08:53] joelmetodika commented on #254
I could login to the admin module this morning but now it's not possible again. I get a "com.google.gwt.user.client.rpc.StatusCodeException". Are you doing more maintenance work?

[2018-12-12 09:05] metodikamikaelnilsson commented on #210
Thanks for the clarification.

[2018-12-12 09:05] #210 closed

[2018-12-12 10:42] TueCN commented on #254
The test service is currently experiencing problems. We are working on restoring normal behavior.

However, also note that there is a known issue regarding stale browser caches when new builds are deployed.

Wait for the service to come back online and also please clear your browser cache as described on https://github.com/scandihealth/lpr3-docs/issues/219#issuecomment-438594500

[2018-12-12 11:53] joelmetodika commented on #254
Now it works. Thanks!

[2018-12-12 11:53] #254 closed

[2018-12-12 12:17] TueCN commented on #256
Correct, a service user has not been registered with SOR=293161000016004 and CVR=27506909.
Please contact SDS to get this combination registered as a "dataproducent".

[2018-12-12 12:54] TueCN commented on #200
1. The updated schematron rules were deployed yesterday, but the functionality in the service is not yet implemented. This means that you no loger get a schematron error, but nothing is actually deleted.

In short: We are still working on #28

[2018-12-12 13:40] metodikamikaelnilsson opened #257 "Deleting an entry "slettes" the whole forløb."
1. I validate and save a cd with one forloeb entry and one procedure entry that references the forløb entry. (forløb ID: 7811798f-3c67-59ee-9d02-6e19e9da8daf).

2. I delete the procedure entry using append, with only one section in the structuredBody, the nullify section, containing the uuid for this procedure entry. Now I can see that the procedure is gone, but I also see in the LPR3 gui client t

[2018-12-12 14:48] jonigkeit commented on #235
All codes in ftp://filer.sst.dk/filer/sks/data/skscomplete/SKTtot_2016-07.txt should be supported. This is a mistake on our behalf.

[2018-12-12 17:43] EsbenHenrichsen commented on #235
Could you please submit an expected fix date? In RegionH we are trying to finalising our testing this week.

[2018-12-12 19:55] TueCN commented on #235
Sorry we do not have expected fix dates for bugs in general.
The next scheduled patch release is Tuesday 18th Dec, but this is not a small fix, and it is unsure if it will be ready for Tuesday.

[2018-12-12 20:45] RasmusThernoe commented on #238
OK. Closing the issue and question directed to the Danish National Health Data Agency.

[2018-12-12 20:45] #238 closed

[2018-12-13 08:17] jkiddo commented on #221
As long as the XDR metadata reflects the content of the CDA - meaning that the document adhere to the spec, I don't think there is any technical problem. It more depends on the business rules of LPR3 @TueCN

[2018-12-13 08:46] jkiddo commented on #166
@TueCN correct - in the newer version of art-decor the schematrons does not flag mixed or lowercase UUID's as errors.

[2018-12-13 10:04] #221 closed

[2018-12-14 09:20] TueCN commented on #224
Sorry, no ETA currently

[2018-12-16 21:48] TueCN commented on #257
The behavior you describe is not correct.
However, I cannot reproduce step 2.
Could you please attach the XML that reproduces step 2?

Regarding step 3: It sounds like you are trying to create a new Forløb with same ID as the old Forløb, which is not possible.
IDs can not be reused and nullified Forløb cannot be referenced (but can be viewed in the GUI).

[2018-12-17 09:03] #256 closed

[2018-12-17 11:31] #28 closed

[2018-12-17 11:42] TueCN commented on #28
There was a misunderstanding:
Empty nullify section has no effect in itself, it only serves as a dummy section so it is possible to send a Document replacement with no other content, thus effetively deleting everything in the document.

Empty nullify section in a ClinicalDocument that appends has no effect.

Document replacement using empty nullify works as expected as of version 3.8.256

[2018-12-17 11:44] TueCN commented on #200
@metodikamikaelnilsson
#28 has been closed and using an empty nullify section during document replacement should work as expected.

See https://github.com/scandihealth/lpr3-docs/issues/28#issuecomment-447816394

[2018-12-17 11:48] jonigkeit commented on #189
@RasmusThernoe I hope this satisfies your question

[2018-12-17 11:49] jonigkeit commented on #250
@Kashif-Ali-110 if you have no further comments please close this issue.

[2018-12-17 11:56] RasmusThernoe opened #258 "Reporting of patient with administrative CPR number"
When reporting the record target there is a choice between three templates:

- 1.2.208.176.7.1.10.106 (=Official CPR number)
- 1.2.208.176.7.1.10.107 (=Alternative identified, e.g. erstatnings CPR)
- 1.2.208.176.7.1.10.133 (=Administrative CPR number)

**First question**
Is this the correct mapping between type of CPR number and use of template?

**Second question**
When reporting an administrativ

[2018-12-17 12:18] RasmusThernoe commented on #189
The question specifically concerned **online validation** because of the direct impact on end-users.

We still lack guidance on how to design online validation that provide acceptable end-user experience.

[2018-12-17 13:41] TueCN commented on #258
1. Not entirely
   1. `1.2.208.176.7.1.10.106` is for CPR numbers issued by CPR-administrationen
(I believe this includes "administrative" cpr numbers)
   1. `1.2.208.176.7.1.10.107` is for ALL other IDs, including the unofficial 'erstatnings cpr' IDs that each region generates independently.
See #210 on how to generate a root for 'erstatnings cpr' for a specific region.
   1. `1.2.208.176.7.1.10.

[2018-12-17 13:53] RasmusThernoe commented on #258
Thank you for a fast reply.

According to the reporting guide at page 32:

If 1.2.208.176.7.1.10.106 is used for administrative CPR numbers how is the country code stated?

![image](https://user-images.githubusercontent.com/36242392/50091387-8c1b3580-020b-11e9-9872-dcbf446cd3e6.png)

[2018-12-17 14:30] TueCN commented on #258
Hmm, you could use `1.2.208.176.7.1.10.133` then.
You should then specify the administrative CPR-number in an ID with root 1.2.208.176.1.2 and an alternative ID (that you generate yourself, using your own namespace) and then you can specify the address in a hl7:addr element.

However, hl7:addr requires that the country is an official myndighedskode in CPR

This makes it impossible to specify a cou

[2018-12-17 14:43] Smp-xmedicus opened #259 "result returns more than one elements"
We are getting a response "result returns more than one elements" when sending the attached Document.

[LPR3_Document.zip](https://github.com/scandihealth/lpr3-docs/files/2686488/LPR3_Document.zip)

[2018-12-17 15:15] TueCN commented on #224
**RESOLUTION**
Fixed bug that prevented removal of TargetSiteCode when replacing a condition observation

[2018-12-17 16:02] Smp-xmedicus opened #260 "Transaction rolled back"
We get an error "Transaction rolled back" when sending a normal request.
Attached is full document, clinical document and error response.

[RollBack.zip](https://github.com/scandihealth/lpr3-docs/files/2686823/RollBack.zip)

[2018-12-18 08:03] Dkuzmins commented on #203
@jonigkeit  do you have an estimate when this new timestamp will be introduced?
If you don't have an exact date, do we know if it will be before Feb 2?

[2018-12-18 09:10] Julie-Marie commented on #249
This is tested and passed. Thank you

[2018-12-18 09:29] RasmusThernoe commented on #258
**This is blocking for our test**

Do you have a list of administrative CPR numbers on your test environment?

We would like to trigger the business rule mentioned above and then verify that our reporting of administrative CPR numbers works correctly.

[2018-12-18 09:50] #249 closed

[2018-12-18 12:05] Marc-Petersen opened #261 "Validation issues with MYNDIGHEDSKODE"
When I submit a CDA with county code of '992'
![image](https://user-images.githubusercontent.com/44767916/50152502-11622100-02c4-11e9-81b5-3a1dd885d183.png)
The following response contains an additional '0':
<ep6:RegistryError codeContext="INTEGRITY_CHECK|||Myndighedskode 0992 not found in the registry|||MYNDIGHED_CODE_NOT_FOUND|||**0992**" errorCode="InvalidDocumentContent" location="2CBE8300-F18

[2018-12-18 12:51] #259 closed

[2018-12-18 13:00] vprxa opened #262 "Adding Service References & Generating classes to use services in VS"

[2018-12-18 13:04] TueCN commented on #261
I am fairly confident 0992 is not a valid county code while 0185 is.
See rule 01.A in [Logisk datamodel og indberetningsregler - Bilag 1 (PDF)](https://sundhedsdatastyrelsen.dk/-/media/sds/filer/rammer-og-retningslinjer/patientregistrering/indberetning-til-lpr3/vejledning-lpr3-bilag-1-model-og-indberetningsregler.pdf?la=da)

See https://github.com/scandihealth/lpr3-docs/issues/231 and https://gith

[2018-12-18 13:06] TueCN commented on #262
Sorry, what exactly is the issue?

[2018-12-18 13:10] johonovax commented on #262
Hi Scandihealth,
I am trying to add the following URLs as Service References in Visual Studio:

https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareSaveIfNoErrorsReportingService?wsdl

https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareReportingService?wsdl

https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthca

[2018-12-18 13:55] Marc-Petersen commented on #261
Yes. But I'm not sending four digits. Only three - 992 and 185.
Are you automatically prepending a zero?

[2018-12-18 14:02] Marc-Petersen commented on #261
Also: Are you validating on county-code in all messages or only some? I.E messages for patients with certain CPR status, country of residency etc.?

[2018-12-18 14:11] TueCN commented on #258
The CPR number is displayed twice since there are 2 IDs in the message (one official and one alternative).
This is expected. If your message contained 5 IDs, there would be 5 IDs on the UI.
For the alternative ID you could generate a random UUID and use as extension instead of reusing `2611811225`, to avoid confusion.

I think the address reported should have been displayed. I need to look into th

[2018-12-18 14:17] TueCN commented on #261
1. Yes, country code 0992 is equivalent to 992.
2. All country codes are always validated.

[2018-12-18 14:20] Marc-Petersen commented on #261
You mean county, country or both?

[2018-12-18 14:21] TueCN commented on #261
Sorry meant county, but it is the same for both :)

[2018-12-18 15:12] TueCN commented on #260
I have reproduced the error, and it is a bug

[2018-12-18 15:23] Kashif-Ali-110 commented on #250
Hi again,

I have tried two different calls,
- one with Nets functional certificate
- other with our own (MyClinic) functional certificate.

The request and the response message are attached with each call.
**NetsDanID (Functional Certificate)**
[ProvideAndRegisterDocumentSetEnvelopeNetsDanID.txt](https://github.com/scandihealth/lpr3-docs/files/2691020/ProvideAndRegisterDocumentSetEnvelopeNetsDanI

[2018-12-18 15:33] TueCN commented on #260
The error occurs because you are trying to create 2 condition observations with the same extension
`CC96A17B-FE64-544F-BC38-EB2F9D90AEF6`.
One 'aktionsdiagnose' and one 'bidiagnose'.

We will look into returning a better error message in the future.

[2018-12-18 16:09] #260 closed

[2018-12-18 16:18] RasmusThernoe commented on #258
OK - awaiting the answer.

After having tried the "1.2.208.176.7.1.10.133 approach" my presumption was that it did not fit the purpose because:

1. **Alternative ID** is mandatory in 1.2.208.176.7.1.10.133. This results in either:
The CPR number must be reported twice in the CDA document and is displayed twice in the LPR3 client or a random alternative id have to be made up be the reporters which

[2018-12-18 17:51] TueCN commented on #217
The issue should be resolved now.
The service should no longer produce javax.persistence.PersistenceException under high load.
Note that response times can get very high if the service is subjected to higher load than intended.

We are working on increasing throughput, but that is an ongoing effort.

[2018-12-18 17:56] TueCN commented on #201
@wilgerh @Remcovanderwerf  I am closing the issue as it has been resolved for 1 month.

Feel free to reopen the issue if you have further remarks.

[2018-12-18 17:56] #201 closed

[2018-12-18 18:34] TueCN commented on #237
**RESOLUTION**
Fixed document replacement not re-using existing entities when updating, causing INTEGRITY_CHECK|||..._ALREADY_EXISTS errors

[2018-12-18 18:37] TueCN commented on #246
**RESOLUTION**
Fixed bug preventing updates of existing EoC references (Forløbsreference) via replacement

[2018-12-19 08:32] Julie-Marie commented on #235
Testet og passed

[2018-12-19 09:38] Marc-Petersen commented on #261
Thanks. What about foreign patients.? Ex. from Sweden? Do we report their county as unknown or not at all?

[2018-12-19 10:54] EsbenHenrichsen commented on #203
In region Hovedstaden we need a fix asap. This is blocking test cases and we can not wait until 2. feb for a fix. First week of january at the latest, then it may cause delays for the program in RegH.

[2018-12-20 00:20] jonigkeit commented on #250
It is not your functional certificate that is the problem, but the sts instance you have requested the signed id-card from.

[2018-12-20 08:19] Smp-xmedicus opened #263 "Error when replacing episode"
When I try to replace an episode, because I have changed the Episode Label, I get

.
Attached Full Document, Clinical Document and error response
[Error.zip](https://github.com/scandihealth/lpr3-docs/files/2697924/Error.zip)

[2018-12-20 13:13] Kashif-Ali-110 commented on #250
Thats what i am asking again.

When i called STS-Test server.
http://test2-cnsp.ekstern-test.nspop.dk:8080/sts/services/SecurityTokenService
and tried to SignIn with SealCard information. I get this error.

SealCard Information is :
[STS_SignIn(MyClinicFunctionalCertif).txt](https://github.com/scandihealth/lpr3-docs/files/2698944/STS_SignIn.MyClinicFunctionalCertif.txt)

But, above SealCard works

[2018-12-20 14:22] TueCN commented on #261
That is a non-technical question I cannot answer. Please contact SDS directly.
See [CONTRIBUTING.md#questions](https://github.com/scandihealth/lpr3-docs/blob/master/CONTRIBUTING.md#questions)

[2018-12-20 14:53] TueCN commented on #258
I have investigated your questions and received clarification on the wording of the text in Indberetningsvejledning:

1. **Alternative ID** is mandatory yes, but 1.2.208.176.7.1.10.133 is the only way to include both an official CPR-number and a country code in a submission.
If the accompanying noise is unacceptable, please file an enhancement request with SDS

2. **Country code** and other addres

[2018-12-20 15:08] RasmusThernoe commented on #258
Ad 1) Do reporters have to remember the alternative ID or can a new one be create in each request?

- E.g. what if EOC is reported on a patient with alternative id A and ENC is reported on a patient with alternative id B. Will this be fine and not interpreted as mixed data from different patients under the same EOC?

- E.g. what if EOC is created in version 1 on patient with alternative id A and t

[2018-12-20 15:37] TueCN commented on #258
No, reporters do not have to remember alternative IDs. One can be generated for each request.

Note that EoCs not directly contained in the submission will not have their patient information updated.
In other words: It is only the EoCs in a [DK Episodes Of Care Section](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.176.7.1.10.9

[2018-12-20 17:58] RasmusThernoe commented on #258
I am a bit confused by your answer above: Are your answers final or do you need to do further investigation?

[2018-12-20 20:15] TueCN commented on #258
I need to do further investigations (the strikethrough signified the edit of my post).
I will get back to you in the new year.

Merry Christmas and happy New Year :)

[2018-12-20 20:20] TueCN opened #264 "Holiday Period"
We are entering a Danish holiday period.
As stated under [CONTRIBUTING.md#submitting-issues](https://github.com/scandihealth/lpr3-docs/blob/master/CONTRIBUTING.md#submitting-issues) there will be less activity from DXC during the holidays.

Expect us to be back in full force by January 2nd.

Happy Holidays :)

[2018-12-21 12:33] ScaAnders opened #265 "OBSERVATION_ORGANIZER_ALREADY_EXISTS"
We are getting an error the following exception even though we sure that the extension of the id element is new:

 ErrorCode: InvalidDocumentContent
Location: E17B3C0F-3CEC-5B0A-9258-1846D117AD0C^7BD8C6C5-36A6-5FC1-8C95-379A8BC3C7D6|||//*[local-name()='organizer' and @classCode='BATTERY' and @moodCode='EVN'][child::*[local-name()='id' and @extension='2E8896C9-9C41-5FB5-8B9D-46927B92D4BD']][child::

[2018-12-21 16:10] EsbenHenrichsen commented on #203
Could someone please give a status on this? Is there a solution and when are we able to continue testing in Region Hovedstaden?

[2019-01-02 08:16] #264 closed

[2019-01-02 10:50] TueCN commented on #263
Hi,
In the future, please attach all ClinicalDocuments needed to reproduce the error. The ClinicalDocument you attached has references to other existing eoc/encounter/condition observations.

After a bit of trial and error I have successfully reproduced the error, but the input XML involved is not really a meaningful submission (it should not pass integrity checks and thus it should be prevented f

[2019-01-02 13:31] TueCN commented on #222
**RESOLUTION**
The example on [DK Episode Of Care Summaries Document](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.176.7.1.10.71&effectiveDate=2018-01-04T00:00:00) has been updated and is now a structurally valid document that contains a few BUSINESS_RULE errors.

[2019-01-02 13:32] ScaAnders commented on #222
Thanks!

[2019-01-02 13:32] #222 closed

[2019-01-04 08:43] #263 closed

[2019-01-04 10:05] clausheinecke opened #266 "LPR3 error: Procedure could not be found for nullify [5864]"
We get this error when we delete a Kontakt with the Kontakttype "Fysisk fremmøde" and that Kontakt has a procedure attached.
![billede](https://user-images.githubusercontent.com/45626571/50680865-93af4c80-1009-11e9-83c0-51fdb2936c02.png)

The error message states that the procedure does not exists in LPR - but it does.
![billede](https://user-images.githubusercontent.com/45626571/50682294-ad06c780

[2019-01-04 10:16] TueCN commented on #266
@clausheinecke could you please attach
1) The XML that creates the existing Kontakt+Procedure (press the "Hent råfil" button in the UI)
2) The input XML that gives the error you want help to understand

What do you mean by this? If you delete a Kontakt, all data under the Kontakt is also deleted.

[2019-01-04 10:57] clausheinecke commented on #266
This is our CDA that should delete the Kontakt and as I understand it also tries to resubmit the procedurecode, so we can keep the code in LPR (now linked to the Forløbselement).
[Deletion CDA.txt](https://github.com/scandihealth/lpr3-docs/files/2726673/Deletion.CDA.txt)

And this is the latest accepted CDA:
[Latest CDA.txt](https://github.com/scandihealth/lpr3-docs/files/2726676/Latest.CDA.txt)

[2019-01-04 16:05] EsbenHenrichsen commented on #203
We still do not have a solution.

Risk eskalated to steering @ SDS

[2019-01-04 16:39] RasmusThernoe commented on #258
Any news on how to report an adminstrative CPR number with a country code?

[2019-01-05 09:40] jonigkeit commented on #265
You created it yourself.

Metadata:
CUSTODIAN|PASSEDINTEGRITYCHECKS|REPORTINGTIME|REPORTINGAUTHORITY_SORIDENTIFIER
-|-|-|-
33257872|1|2018-12-19-14.13.52.170000|634491000016008

Here is the header of the submitted document
[code]

[2019-01-06 16:09] jonigkeit commented on #258
We are updating/extending the templates for [DK Civil Registration System Identified Patient Role](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.176.7.1.10.106&effectiveDate=2019-01-06T00:00:00) to include `addr` elements for administrative cpr numbers.
We have also relaxed the cardinality on `patient` from [DK Civil Registrati

[2019-01-06 18:55] RasmusThernoe commented on #258
Will you disable the business rule 01.102 - mentioned earlier in this thread - until reporters have had a chance to implement and test this extension to the LPR3 service?

Would very much like the users not to be prompted by the business error when fetching the accumulated error list.

[2019-01-07 07:42] kbhCGI opened #267 "Acc. errorlist is not generated"
Hi

There is no errorlist for RN, is the job not running?

[2019-01-07 09:59] TueCN commented on #258
The service cannot determine whether a CPR-number is administrative or not.
Therefore, rule 01.102 is not implemented as a validation rule in the service, so you should never get this error in any response from the web service.

[2019-01-07 10:38] TueCN commented on #267
**RESOLUTION**
There was a problem with the transfer of accumulated error list files, which has now been rectified.
Expect the error list files to be available on the FTP server within 1 hour.

[2019-01-07 10:46] adrianpredam commented on #224
Tested successfully

[2019-01-07 10:46] #224 closed

[2019-01-07 11:51] kbhCGI commented on #267
Errorlist received.

[2019-01-07 12:31] TueCN commented on #216
Closing due to inactivity. Please reopen if you still experience issues.

[2019-01-07 12:31] #216 closed

[2019-01-07 12:31] TueCN commented on #217
Closing due to inactivity. Please reopen if you still experience issues.

[2019-01-07 12:31] #217 closed

[2019-01-07 13:41] smunck commented on #261
SDS has answered this question to H/SJ: Der skal kun indberettes kommunekoder for patienter med bopæl i Danmark eller Grønland. Dvs. der må kun anvendes danske eller grønlandske kommunekoder.

[2019-01-07 14:16] RasmusThernoe opened #268 "LPR3 Administration Client not available"
No administration client available:

![image](https://user-images.githubusercontent.com/36242392/50772759-21e83480-128f-11e9-9898-584d81e4861b.png)

[2019-01-07 15:41] TueCN commented on #268
Verified. We are working on resolving the issue.

[2019-01-07 15:49] TueCN commented on #268
**RESOLUTION**
Rectified a configuration error that happened sometime between last deployment and now.

The environment should be up and running again.

[2019-01-07 16:18] RasmusThernoe commented on #258
Where are the validation rules implemented in the LPR3 service documented?

Since not all validation rules in the reporting guide (Appendix 1 and 1a) are enforced by the service.

[2019-01-07 16:51] MichaelEsmannSSE commented on #268
@TueCN On https://github.com/scandihealth/lpr3-docs/milestones it says that there will be a new release tomorrow, 8. january. Can you confirm that, and  is there an estimate for the downtime?

[2019-01-07 22:30] TueCN commented on #268
Yes, [milestone/32](https://github.com/scandihealth/lpr3-docs/milestone/32) is a regular, scheduled, "Tuesday hotfix" with downtime starting from around 15:00 CET.

The milestone description will be updated when the scope is 100% locked.

[2019-01-08 08:20] TueCN commented on #258
Even though some validation rules described by indberetningsvejledningen are not strictly enforced by the service, you should still strive to uphold them.

The strictly enforced rules can be found here:
- SCHEMATRON:
http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates
- INTEGRITY_CHECK
https://scandihealth.github.io/lpr3-docs/aspects/index.html

[2019-01-08 08:27] MichaelEsmannSSE opened #269 "Problem logging in to LPR3 Administration Client"
I get this error after I have given my password to "digital signatur":

 SST.UserManagementClaimsTransformations.AddAdRoleClaimsTransform, SST.UserManagementClaimsTransformations fejl i forhold til at transformere. Transformationspipelinen blev stoppet.

[2019-01-08 08:39] TueCN commented on #269
Yes, I get the same error. I believe it is an issue in SEB, not in LPR

[2019-01-08 08:55] stinnekn commented on #269
It seems to only be a problem with the LPR3administration client for test. Using the same browser I could log in the the administration client for prod without being asked to login againg. Implying that the login via nemid went well and that SEB is not a problem there.
Do you look further into the issue or are we supposed to go go to the servicedesk for SEB?

[2019-01-08 09:11] KirstenLHSDS commented on #233
In general, the tilslutningstest is supposed to document, that documents generated by the individual EPJ-system can be submitted, and the intention is, that the test is conducted after the project test. Hence, the examples above of valid CDA-documents will be the referencepoint.
@ScaAnders as you have submitted and passed the Tilslutningstest, could you please validate this issue and close if poss

[2019-01-08 09:12] #265 closed

[2019-01-08 09:13] #233 closed

[2019-01-08 09:24] metodikamikaelnilsson opened #270 "Which namespace to use when sending clinical docs?"
Which namespace should we use when sending clinical docs to the https://lprws.sds.dsdn.dk/cda-ws/DocumentRepository_Service/-endpoints? This: http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd or this: http://svn.medcom.dk/svn/releases/Standarder/DGWS/Schemas/medcom-1.0.1.xsd?

[2019-01-08 09:53] TueCN commented on #269
The problem seems to have disappeared for me. If the problem persists or returns, please raise the issue with SEB.
The same error page was displayed earlier when trying to log in to SDS' internal test environment, so it is not directly related to the server on https://lpradm-test.sds.dsdn.dk

[2019-01-08 10:04] TueCN commented on #270
Use http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd

See https://scandihealth.github.io/lpr3-docs/examples

[2019-01-08 10:37] #269 closed

[2019-01-08 12:48] MickeNilsson commented on #270
Thanks. Closing the issue.

[2019-01-08 15:56] smunck commented on #104
The time has been changed from midnight till 02:00.

[2019-01-09 09:39] #270 closed

[2019-01-09 09:48] RasmusThernoe commented on #268
Working again - issue closed.

[2019-01-09 09:48] #268 closed

[2019-01-09 13:55] Remcovanderwerf opened #271 "Emtpy XOP attachment when sending CDA"
Hi,

When submitting the following CDA file
[CDA.txt](https://github.com/scandihealth/lpr3-docs/files/2741125/CDA.txt)

LPR3 responds with a SOAP response without an attachment.
This could be the same issue as #248 but not sure.

Can you look into this? Thank you in advance!

Kind regards,

Remco van der Werf
Enovation | The Netherlands
Contractor: Region Syddanmark

[2019-01-10 06:51] jonigkeit commented on #166
**RESOLUTION**
We will be updating the art-decor installation so that non-uppercase lexical representations of Universal Unique Identifiers with give a schematron into.
This should take care of the issue with HL7 CDA in-conformance with RFC 4122, as UUID internally are stored as bytes defined in [RFC 4122 section 4.1.2](https://tools.ietf.org/html/rfc4122#section-4.1.2)

[2019-01-10 11:31] RasmusThernoe opened #272 "Reporting of issues when in production"
Is this GitHub forum the official "issue handling tool" when LPR3 is in production?

Often you request stack trace and clinical documents as input to debugging.

[2019-01-10 11:43] kbhCGI opened #273 "ForloebElement Cannot have ForloebReference to itself"
Hi

We get this error "ForloebElement Cannot have ForloebReference to itself", but can't see that we are doing this.
Will you please look at it.

[Lpr3hl7.zip](https://github.com/scandihealth/lpr3-docs/files/2745090/Lpr3hl7.zip)

[2019-01-10 11:56] KirstenLHSDS commented on #272
SDS will answer this :-)

[2019-01-10 13:23] clausheinecke opened #274 "LPR3 error 5107 | 05.107 sds:lpr:3.1.1"
Why are we getting this error, when we report what is expected?
![billede](https://user-images.githubusercontent.com/45626571/50970978-2dcc3480-14e3-11e9-9533-85c7b8c53f48.png)

[2019-01-11 08:14] jimiclaussen commented on #274
Hi is there any possebility that we can get an answer today ?

[2019-01-11 08:19] AnneRegionSyd opened #275 "Test-LPR not availble"
Test-LPR is not available.

Error Message:
Service Unavailable
DXC Traffic Manager: the service is temporarily unavailable (503). Please try again later.

[2019-01-11 08:37] #275 closed

[2019-01-11 10:39] TueCN commented on #274
We do unfortunately not have the resources to investigate issue reports today.
Hopefully we can get back to you next week.

[2019-01-11 14:10] KirstenLHSDS opened #276 "Next release: Will be 15. january at 11 (earlier than normal)"
Dear all

Due to an request, it is decided to start the planned release tuesday earlier than normal schedule, ie starting at 11.00.

[2019-01-11 18:19] jonigkeit opened #277 "Improved response time"
To achieve minimal response time the following HTTP Header `X-Record-Target` can be set to the value of the record target id formatted as `root^extension`.
For instance, a submission for a record target
[code]
would set `X-Record-Target: 1.2.208.176.1.2^1304621201`

[2019-01-11 18:20] jonigkeit commented on #189
See #277

[2019-01-14 08:31] RasmusThernoe commented on #277
What is the expected response time  from respectively "PatientHealthcareReportingService" and "PatientHealthcareValidateReportingService" **without** this new header element in production?

What is the expected response time  from respectively "PatientHealthcareReportingService" and "PatientHealthcareValidateReportingService" **with** this new header element in production?

[2019-01-14 09:18] smunck commented on #274
SDS has looked into the problem. They can reproduce the error only if they add seconds in the CDA. That way the error is correct (because of the added seconds, there is less than a minute between the two times), but it is not visible in the user interface as seconds are not shown.

[2019-01-14 11:46] RasmusThernoe commented on #187
Thank you for the overview.

[2019-01-14 11:47] #187 closed

[2019-01-14 13:45] clausheinecke commented on #266
Here is another example of (almost) the same issue. This time it is the diagnosis we can't "nullify":
<ClinicalDocument xmlns="urn:hl7-org:v3" classCode="DOCCLIN" moodCode="EVN">
	<realmCode code="DK"></realmCode>
	<typeId extension="POCD_HD000040" root="2.16.840.1.113883.1.3"></typeId>
	<templateId root="1.2.208.176.7.1.10.71"></templateId>
	<templateId root="2.16.840.1.113883.10.12.2"></template

[2019-01-14 13:48] clausheinecke commented on #266
Here is the latest example of almost the same issue. This time it's a diagnosis we can't nullify when we change a Kontakt from "Fysisk fremmøde" to an "internal kontakt" which we don't report.
[Nullify diagnosis.txt](https://github.com/scandihealth/lpr3-docs/files/2755363/Nullify.diagnosis.txt)

[2019-01-15 12:18] Remcovanderwerf commented on #271
Hi,

is there any way to get a response on the issue above?

Thank you in advance!

Kind regards,

Remco van der werf

[2019-01-15 12:24] Marc-Petersen opened #278 "ERROR: addr SHALL be distinct"
When submitting multiple ADDR tags within a single CDA, validation from SDS apparently requires all ADDR tags to be distinct from one another.
When we submit a CDA with two addr tags, similar except for dates in useablePeriod-tag, we are also rejected.
This means that a patient cannot move back to a former address at any point in their life? Why are useablePeriod-tags not included in the distincti

[2019-01-15 12:34] TueCN commented on #276
Due to last minute changes in the new build, the server was only taken down now.
We expect it to be back up around 14:00 CET

[2019-01-15 13:18] TueCN commented on #276
Upgrade completed

[2019-01-15 13:18] #276 closed

[2019-01-15 13:21] TueCN commented on #237
Closing due to inactivity. Please reopen if you continue experiencing the issue

[2019-01-15 13:21] #237 closed

[2019-01-15 14:53] KirstenLHSDS commented on #278
SDS is looking into this, and may have some questions to Marc

[2019-01-16 12:25] CgiMofr opened #279 "LPR3 administration client runtime error"

[2019-01-16 12:34] CgiMofr commented on #279
After updating an episode of care and trying to view it in the administration client by clicking
we get a runtime error:
![gui-error jpg](https://user-images.githubusercontent.com/39047490/51249141-a83cfe80-1992-11e9-885d-fdb455cb7838.jpg)
![gui-error1 jpg](https://user-images.githubusercontent.com/39047490/51249348-4af57d00-1993-11e9-9173-f14fb818d7ef.jpg)

[2019-01-16 12:34] #279 closed

[2019-01-16 12:38] CgiMofr opened #280 "Error in LPR3 administration client"

[2019-01-16 12:42] CgiMofr commented on #280
After sending an update to an EpisodeOfCare we try to see the update in the administration client.
But we get a runtime error.
The two screendumps below should give enough information:

![gui-error1 jpg](https://user-images.githubusercontent.com/39047490/51249743-7dec4080-1994-11e9-98dc-b537da798558.jpg)

![gui-error jpg](https://user-images.githubusercontent.com/39047490/51249748-85abe500-1994-11

[2019-01-16 13:08] jkiddo opened #281 "ART-Decor is not accessible ..."
on http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-project--lpr-

[2019-01-16 14:11] TueCN commented on #281
It is working for me.
Does anyone else have this problem?

[2019-01-16 14:51] TueCN commented on #280
Have you tried to clear your browser cache?
See https://github.com/scandihealth/lpr3-docs/issues/219#issuecomment-438594500

[2019-01-16 14:55] TueCN commented on #280
Nevermind, I have reproduced the problem. It is not cache related.

[2019-01-16 15:40] #281 closed

[2019-01-16 21:36] TueCN commented on #278
The Schematron rule dtr1-10-AD is related to the [build in datatype AD](https://art-decor.org/mediawiki/index.php?title=DTr1_AD) (addresses).
Usable Period is not part of the rule because it is not part of the AD datatype.

Your use case is valid and we will look into disabling dtr1-10-AD

[2019-01-16 22:37] TueCN commented on #278
**RESOLUTION**
Schematron rule dtr1-10-AD has been disabled in LPR's internal Schematron rulepackage.

This change is not visible on http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor or https://github.com/scandihealth/lpr3-cda/tree/unstable

[2019-01-17 15:04] TueCN commented on #280
Hmm for some reason I can no longer reproduce the problem.
Everything works as expected when I open the EoC now...
@CgiMofr can you still reproduce the problem?

The validation timestamp is still 16-01-2019 12:08 so it does not look like anything has changed in the data. Very peculiar.

[2019-01-17 16:33] Kashif-Ali-110 opened #282 "<invalid_signature> The signature or decryption was invalid"
Hi

I am trying to access LPR3 and get <invalid signature> error.
LPR3 Endpoint: https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService

`invalid_signature. The signature or decryption was invalid`

[ProvideAndRegisterDocumentSetEnvelopeMyClinic17Jan.txt](https://github.com/scandihealth/lpr3-docs/files/2769621/ProvideAndRegisterDocumentSetEnvelop

[2019-01-18 09:49] TueCN opened #283 "Next release will be deployed Monday 21st of January 15:00 CET"

[2019-01-18 13:20] CgiMofr opened #284 "Versioning in gui mixup"
hi,
In the screendump below we expected only 2 versions,  That is: version #1 and #4 in the screendump.

![pic1](https://user-images.githubusercontent.com/39047490/51388759-aefe7980-1b2a-11e9-8312-577f256bb8ec.jpg)

Version #2 on screendump 1 seems to be:

![pic2](https://user-images.githubusercontent.com/39047490/51389031-6dba9980-1b2b-11e9-9788-0a21ba14b0cd.jpg)

and version #3 on screndump 1 se

[2019-01-18 14:38] TueCN commented on #284
Sorry I do not understand your issue.
Can you describe exactly what the problem is and attach the XML needed to reproduce the issue?

[2019-01-18 14:59] TueCN commented on #240
LPR will add a set of secondary endpoints (new URLs pending) where the namespace http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd has been renamed to something else.

The schema of the new namespace is identical to https://github.com/scandihealth/lpr3-docs/blob/master/src/interface/wsdl/xsd/dgws/medcom.xsd

[2019-01-18 15:01] TueCN commented on #243
Closing due to inactivity.
@jaleksejeva  please reopen the issue if you have further questions on the topic.

[2019-01-18 15:01] #243 closed

[2019-01-18 15:02] TueCN commented on #246
Closing due to inactivity.
@SorenTL please reopen the issue if you have further comments

[2019-01-18 15:02] #246 closed

[2019-01-18 15:10] TueCN commented on #250
I think you need a separate certificate issued by "OCES Test root", as described in the error message:

The certificate that works with Production STS is probably not isseued by "OCES Test root".
We have 2 seperate certificates (1 for test and 1 for prod).

[2019-01-18 15:12] JacobBangSSE commented on #240
TueCN:
Just to be sure. You are going to update the namespace inside the schema files when the new endpoints are ready?

[2019-01-18 15:12] TueCN commented on #257
@metodikamikaelnilsson Could you please attach the ClinicalDocument XML for step 1 and 2?

If you want us to further pursue the issue then we need input XML to reproduce it

[2019-01-18 15:39] TueCN commented on #240
We will create a new schema file for the new namespace with identical structure as https://github.com/scandihealth/lpr3-docs/blob/master/src/interface/wsdl/xsd/dgws/medcom.xsd

The WSDL files of the new endpoints will include the new schema file and use the new namespace.

The goal is to replace the namespace
`medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd" `
with something like
`medcom="<

[2019-01-21 09:35] Kashif-Ali-110 commented on #250
Thanks a lot for a quick response/help.

Anyway, I have already posted a new question relating to same certificate issue. #282

I hope any one can reply to it.

[2019-01-21 09:35] #250 closed

[2019-01-21 10:12] TueCN commented on #266
@clausheinecke yes when we delete a Kontakt, all data referencing the encounter directly is also deleted.
See https://scandihealth.github.io/lpr3-docs/aspects/index.html#id-usage-and-referencing-in-lpr3

[2019-01-21 10:20] TueCN commented on #266
@clausheinecke  your latest example only contains the nullification.
I need all the related documents so I can reproduce the error on our internal test environment.

[code]

I need the XML for all the related documents in the set, before I can be certain I am reproducing the issue the same you you are.

So I need doucment `BAFE979C-1800-11E9-AECC-A1058FF62DB0`, and its related documents (if any).

[2019-01-21 10:58] CgiMofr commented on #284
On 16.01.2019 we have sent 0103970FØ2 twice, the last one is sent with version number 2.
![pic4](https://user-images.githubusercontent.com/39047490/51470297-c67c7300-1d73-11e9-8416-510063c77eb9.jpg)
We only expect 2 versions in ’Administrationsmodulet’, but there are 4, where are they from?
![pic5](https://user-images.githubusercontent.com/39047490/51470329-d85e1600-1d73-11e9-92cb-a7ce8eb68b96.jpg

[2019-01-21 11:00] CgiMofr commented on #284
Reopened, because it was closed by accident

[2019-01-21 13:43] TueCN commented on #266
@clausheinecke the XML you attached is not the full set so I cannot submit the XML documents to our internal test ennvironment (the attachhed "OK.data.txt" has a related document).

However, I started analyzing your XML and as you mentioned, I can see you try to nullify both a Kontakt and a Diagnose that belongs to that Kontakt.

As I mentioned previously, when you delete an encounter, everything

[2019-01-21 14:36] #283 closed

[2019-01-21 19:48] MichaelEsmannSSE opened #285 "Hibernate error after upgrade"
After todays upgrade (21-01-2019) we are getting this error that we didn't get before in one of our tests:
`<soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"><env:Header xmlns:env="http://www.w3.org/2003/05/soap-envelope"/><soap:Body><soap:Fault><soap:Code><soap:Value>soap:Receiver</soap:Value></soap:Code><soap:Reason><soap:Text xml:lang="en">org.hibernate.PropertyAccessException

[2019-01-22 09:12] TueCN commented on #280
@CgiMofr we still have problems reproducing the error.

I don't understand what you mean by that. You cannot register the same document multiple times without changing UUIDs.

Can you attach the input XML that reproduces the error?

[2019-01-22 10:34] MichaelEsmannSSE commented on #285
The problem seems to have disappeared now. I will close the issue.

[2019-01-22 10:50] jonigkeit commented on #273
It seems that the episode of care that you are reference has a reference to itself
![image](https://user-images.githubusercontent.com/1263467/51530720-e37c7900-1e3b-11e9-9838-eccf5611f96b.png)

[2019-01-22 10:50] jonigkeit commented on #273
We will purge it from the system

[2019-01-22 13:17] MichaelEsmannSSE commented on #285
Now we are getting a similar error

`<faultcode>Receiver</faultcode>
                    <faultstring>org.hibernate.PropertyAccessException: Could not set field value [Mand] value by reflection : [class com.dxc.lpr.ejb3.persist.lpr3.ForloebElementEntity.patientKoen] setter of com.dxc.lpr.ejb3.persist.lpr3.ForloebElementEntity.patientKoen</faultstring>`

So I reopen this defect again

[2019-01-22 13:24] MichaelEsmannSSE commented on #285
... and now I also get the original error again

[2019-01-22 14:16] TueCN commented on #240
LPR will add 3 new endpoints that use the new active namepsace http://svn.medcom.dk/svn/releases/Standarder/DGWS/Schemas/medcom-1.0.1.xsd
The schema file used will be the file referenced by the namespace (as it is at LPR build time)

See https://svn.medcom.dk/svn/releases/Standarder/DGWS/Dokumentation/Den%20Gode%20Webservice%201.0.1.pdf

The 3 new endpoints will have identical functionality as the

[2019-01-22 14:56] RasmusThernoe opened #286 "LPR3 servicen not available"
The LPR3 servicen is not available.

When sending a request to the LPR3 servicen we get:

- "DXC Traffic Manager: the service is temporarily unavailable (503). Please try again later.

Same result when opening the administration client.

[2019-01-22 15:08] TueCN commented on #286
We are testing some snapshot/rollback procedures needed for the upcoming prod trial run.

Sorry for the inconvenience

[2019-01-22 18:56] RasmusThernoe commented on #277
How much does this new header element improve response times?

Is this new header element necessary to obtain the response times communicated by SDS? (150.000 CDA documents per hour)

[2019-01-22 19:46] TueCN commented on #286
Normal service has resumed

[2019-01-22 19:46] #286 closed

[2019-01-23 08:44] Marc-Petersen commented on #278
Solution accepted by OP. Closing issue and thanks for helping.

[2019-01-23 11:31] CgiMofr commented on #280
New example:
![pic1](https://user-images.githubusercontent.com/39047490/51603663-bba81680-1f0a-11e9-91a4-533f78869886.jpg)
[19012311580992.zip](https://github.com/scandihealth/lpr3-docs/files/2787056/19012311580992.zip)

[2019-01-23 14:21] MichaelEsmannSSE opened #287 "LPR3 service is not available."
The LPR3 service is not available.

When sending a request to the LPR3 servicen we get:

"DXC Traffic Manager: the service is temporarily unavailable (503). Please try again later."

Same result when opening the administration client.

[2019-01-23 18:14] #287 closed

[2019-01-23 21:36] TueCN commented on #277
@RasmusThernoe  it is hard to say as it depends on the current workload of the service. If the service is idle, it may only improve response time by 10ms, but if the service is hard pressed, it may improve it much more.

Basically, setting the header offloads some initial load-balancing work from the service itself.

We can try and do some tests to see what the improvements are in our DXC internal

[2019-01-24 06:58] clausheinecke commented on #266
Thx, Tue. Your last post was helpful.
Can you verify that our interpretation (see below) of your design is correct?

Epic writes:
The feedback we got from DXC helps a lot, thanks!  Knowing that DXC is filing data to their database element-by-element as they read the XML message (and not after processing the full document) I see where this error comes from.

I find it's easier to think about this i

[2019-01-24 06:59] clausheinecke commented on #266
Ups- images were pasted in.
Image 1:
![billede](https://user-images.githubusercontent.com/45626571/51660422-fa42dd00-1fad-11e9-8e0b-edbf9d5a042e.png)
Image 2:
![billede](https://user-images.githubusercontent.com/45626571/51660434-09298f80-1fae-11e9-9aa1-fa84d4276fa8.png)

[2019-01-24 07:01] clausheinecke commented on #266
Are we the ones getting this error?

[2019-01-24 10:03] TueCN commented on #266
@clausheinecke yes, your interpretation describes the LPR functionality as it exists today

[2019-01-24 10:16] clausheinecke commented on #266
And do other regions get the same error as we do? Or don't they have the same issue as we do?

[2019-01-24 10:34] TueCN commented on #266
Seemingly not.
We have not heard of anyone else that has had the same issue.

[2019-01-24 12:06] RasmusThernoe opened #288 "MTOM in SOAP in production"
We are experiencing: "Unable to get certificate from dom"

This is the exact same issue as we experienced in GitHub issue https://github.com/scandihealth/lpr3-docs/issues/48 in the test environment.

Our request is send at: 2019-01-24 12:30:09,956

[2019-01-24 13:07] TueCN commented on #288
@RasmusThernoe I don't know if this is your request, but I just saw the following exception in our logs:

`2019-01-24 13:52:16,932 WARNING [...] ID kortet har timeout.`

This fault would be because the IssueInstant + TimeOut < now

[2019-01-24 13:11] RasmusThernoe commented on #288
We have not send any requests since around 12:30.

That sounds like the Capitol Region - who have had problems with timeout of the ID card.

[2019-01-24 13:49] Marc-Petersen opened #290 "Error: Author/custodian is not matching registered relation"
Then we attempt to submit CDAs for privately owned institutions (selvejende institutioner), we're rejected based on location codes, which we believe are correct.
Error:
![image](https://user-images.githubusercontent.com/44767916/51682117-dc459e80-1fe6-11e9-920a-f3eac1ddda2b.png)
Message:
![image](https://user-images.githubusercontent.com/44767916/51682130-e49dd980-1fe6-11e9-9e89-a5c6754f7552.png)

[2019-01-24 14:02] kbhCGI commented on #174
I still think it will a good idea ;-)

[2019-01-24 14:18] RasmusThernoe commented on #288
Any news?

We need to get reports to LPR3 today as we need the accumulated error list tonight.

[2019-01-24 14:35] TueCN commented on #290
CUSTODIAN_NOT_FOUND error occurs when the the custodian CVR number and author SOR id is not registered as being "connected", in the LPR administration module, by a LPR administrator.
To fix this issue here and now, you can ask SDS to register the relation.

However, we are working on an update to this "authorization check" that eliminates this registration altogether.
In the future there will not

[2019-01-24 14:56] TueCN commented on #288
I'm not sure the cause of the error message "Unable to get certificate from dom" is the same as  in #48.
Our signature validation in production is exactly the same as on https://lprws-test.sds.dsdn.dk

Can you get one of your requests signed by both STS test and STS prod and compare the two to see if there are any glaring differences?

Maybe this clarification stacktrace from our log can help you

[2019-01-24 15:48] RasmusThernoe commented on #288
We will compare the two outbound messages for glaring differences.

We can provide the input messages if you have a secure channel?

The input messages contains both patient data and production certificate.

[2019-01-24 18:42] ThorkildFriis opened #291 "Fingerprints are different on load balancing"
It seems that load balancing provides different fingerprints for each certificate. Either you have to accept each fingerprint or to examine the content of the certificate...

[2019-01-24 18:50] JacobBangSSE commented on #288
I guess the error comes from parsing the X509Certificate part of the message. Well, I have tried to get the message we are trying to send (by using ncat) and taking the certificate part of this output and it seems openssl can parse it without any problems as DER formatted.

[code]

I would really like to send out TCP dump but it contains data which should not be posted on a public github. Do you h

[2019-01-24 19:43] TueCN commented on #288
Hmm we could enable "raw" logging of all requests to the service for a brief period to catch your request and see what it looks like when we receive it, but I don't know if that would violate GDPR or other rules and regulations.

Your requests must differ somehow from the requests of the other reporters, since they do not have the same problem (not that your request necessarily isn't compliant).

[2019-01-25 08:10] jonigkeit commented on #288
We suggest you create a submission but with test patient data. You sign the request as you do in production, i.e. with production STS. Instead of sending it to the production endpoint of lpr you send it to test, i.e. `https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService`

[2019-01-25 08:46] TueCN commented on #288
If you would like to transfer one of your prod signed requests that are rejected, you can upload it to LPR's FTP server (which is secured).

We have created a new folder named "gh288" in the "LPRRM" users root folder, which the user should have write access to. Is this an acceptable secure channel?

[2019-01-25 09:14] jonigkeit opened #292 "UUID in accummulated error list are not represented correct"
`@extension` UUIDs are not communicated as required by [RFC 4122](https://www.ietf.org/rfc/rfc4122.txt), as the hyphens are missing.

Also the `@root` UUIDs are LPR-internal UUIDs and not the the externally communicated ones (set roots).

[2019-01-25 10:15] JacobBangSSE commented on #288
We have now sent the same message (extracted from production) to the test-service (PatientHealthcareReportingService) by using SoapUI against. So the message are signed and contains the production STSIDCARD for production but are sent to the test service.

The timestamp for this attempt is: Fri, 25 Jan 2019 10:11:32 GMT (so 11:11:32 in Denmark)

I got the following response from the service:
[code

[2019-01-25 10:24] jonigkeit commented on #288
@RasmusThernoe and @JacobBangSSE
We would very much appreciate if you uploaded your request to the aforementioned folder on the SFTP server, so that we can work concurrently on resolving this issue.

[2019-01-25 10:39] finnha commented on #288
I have uploaded the NCAT dump to the folder on the SFTP server.

[2019-01-25 11:31] jonigkeit commented on #288
We have started logging requests in production. Please try to submit another request

[2019-01-25 11:45] finnha commented on #288
Now I have submitted a new request

[2019-01-25 12:15] TueCN commented on #288
We have reproduced the "cannot get certificate from dom" error from the request uploaded to FTP.
Sending the exact same request to https://lprws-test.sds.dsdn.dk also yields the exact same error response.

We are in the process of verifying the test method by seeing that one of our own generated requests does not yield "cannot get certificate from dom" error when sending in the same way.

However,

[2019-01-25 13:31] TueCN commented on #288
Can you attach here a dump of one of your "test" requests that you normally send to https://lprws-test.sds.dsdn.dk and which does not give the "Unable to get certificate from dom" error?

[2019-01-25 14:18] RasmusThernoe commented on #288
We will perform that task.

Since we have real patient data in our "outbox" we would like to use the endpoints that validate without persisting.

First we will send our request using a test certificate to:

https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService

Then we will send our request using a production certificate to:

https://lprws.sds.d

[2019-01-25 14:30] jonigkeit commented on #288
When inline the xop included certificate we get the following invalid PEM
[code]

Either we decode wrong, you encode wrong or the input is invalid.

[2019-01-25 14:38] JacobBangSSE commented on #288
You have encoded it wrong. If you remove all newlines, and decode the BASE64 you can see all "newlines" in the files ends with CRLF bits. This problem are introduced when you copy binary data in Windows where you have mixed types of line endings. Windows thinks it should try replace all the inconsistent line endings and add CRLF to the end.

I found that problem yesterday and used several hours of

[2019-01-25 14:50] finnha commented on #288
Done this:

Then we will send our request to the production endpoint using a production certificate to:

https://lprws.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService

[2019-01-25 14:55] finnha commented on #288
I was a little in a hurry, trying again; sorry

[2019-01-25 15:03] RasmusThernoe commented on #288
OK. We will create a dump with test certificate and upload to the FTP site.

[2019-01-25 15:20] jonigkeit commented on #288
I will download the file directly from the sftp site onto linux, hoping that the error did not occur prior to uploading it to the sftp site 🙏

[2019-01-25 15:30] jonigkeit commented on #288
The uploaded file contains DOS endings

[2019-01-25 16:39] RasmusThernoe commented on #288
Could it be a temporary workaround to bypass the load balancer?

We would like to send our CDA documents and get the accumulated error list.

[2019-01-25 16:45] jonigkeit commented on #288
yes
if you set the header to a fixed value you should be fine

[2019-01-25 16:47] JacobBangSSE commented on #288
We are not able to set custom HTTP header values in our integration platform (TIBCO). So this workaround are going to be rather complicated for us to do and not something we can do directly at our customer right now.

Therefore we hope it is possible to make a workaround at your end.

[2019-01-25 16:57] TueCN commented on #288
Hmm we can deploy a bugfix that should fix it. Just need to get clearance for an unscheduled deployment activity

[2019-01-25 17:31] TueCN commented on #288
Deployed. Please try sending a new requset now.

Note that IF you certificate is validated, the first call to the web service can take up to 1 minute due to "cold start" of caches etc (something we will fix in the future).

[2019-01-25 17:44] jonigkeit commented on #288
Btw: we have updated the [soap-ui project](https://github.com/scandihealth/lpr3-cda/tree/master/soap-ui) to send a XOP/MTOM encoded certificate

[2019-01-25 18:36] RasmusThernoe commented on #288
In order to send to the production endpoint we need to sign a production certificate.

@finnha is currently in transit between the office and home therefore the wait. He will try later tonight.

[2019-01-25 18:36] jonigkeit commented on #288
ok

[2019-01-25 19:39] TueCN commented on #288
Good news: I can see you have gotten through to the service!
Bad news: I see some very strange behavior... Extremely long response times and lots of exceptions..

I am looking into it.

[2019-01-25 19:40] finnha commented on #288
Yes; it is good news
And; 26 requests pr. minut is not good

[2019-01-25 19:58] TueCN commented on #288
Sorry this might take a few more minutes.
The distributed cache is freaking out like I've not seen before.
I will try and shut down all servers and only start one server to begin with, to avoid synchronization issues.
Stand by.

[2019-01-25 20:06] TueCN commented on #288
Ok we have normal service with 1 server now :)
Response times looks good on our end. I will add additional servers so you can crank up concurrency for extra throughput if desired

[2019-01-25 20:06] finnha commented on #288
Yes; i can see it rolling  :-)

[2019-01-25 20:07] finnha commented on #288
Now; i have sent app. 2500 requests

[2019-01-25 20:18] TueCN commented on #288
All servers are up and everything looks normal.

Sorry for the holdup, you guys are apparently the only ones (who tested so far) that encode the certificate in non UTF-8 characters.

Good luck with the execution of the rest of your tests :)

[2019-01-25 20:20] finnha commented on #288
Thank you; we are moving on, I expect to throw 250.000 requests after you :-)
good week-end to you; so far ;-)

[2019-01-28 07:31] RasmusThernoe commented on #240
Will you publish the new schema files on the interface description, e.g. https://scandihealth.github.io/lpr3-docs/links/index.html?

[2019-01-28 07:48] RasmusThernoe commented on #292
**This is blocking**

This is preventing the Central Region from parsing the accumulated error list fetched from the reporting test.

[2019-01-28 08:03] ThorkildFriis commented on #291
Thanks, On the live server we sometimes have issues with finger prints from the certificate. We have not seen the issue in test and most of the time it works on the live server. Our service does not recognize the certificate and, hence, it can not trust it. I can not know for sure whether it is based on load balancing. But it is my guess. It works most of the time and it always works in the test e

[2019-01-28 09:36] vprxa commented on #262
Hi @TueCN ,
Thank you for the information.
Joe

[2019-01-28 09:36] #262 closed

[2019-01-28 09:56] TueCN commented on #240
The new endpoints will be specified by a new WSDL file (that uses the new schema).
The new WSDL file will be uploaded to https://github.com/scandihealth/lpr3-docs/tree/master/src/interface/wsdl when finalized.

Development is done and we just need to test the new endpoints before we can guarantee that the the WSDL is final.
Expect the WSDL to be published today and the new endpoints deployed tomor

[2019-01-28 09:57] TueCN commented on #240
Here's a sneak peek of the new WSDL:

[code]

[2019-01-28 10:06] JacobBangSSE commented on #240
I expect you are also going to add the new medcom-1.0.1.xsd file to you repository?

[2019-01-28 10:12] TueCN commented on #240
Hmm we were not planning to add the xsd file as the new namespace is "active" (the namespace is also a link to the schema).

You can expect that LPR uses the schema precisely as it is defined on http://svn.medcom.dk/svn/releases/Standarder/DGWS/Schemas/medcom-1.0.1.xsd

[2019-01-28 10:36] JacobBangSSE commented on #240
No problem with that. We just take a snapshot for the XSD file into our own repository. I expect that if SDS wants to introduce any changes in the future to the XSD file, they are going to update the version number.

[2019-01-28 10:44] TueCN commented on #240
Yes, we expect that as well.

[2019-01-28 12:19] TueCN commented on #240
Hmm.. as far as I can tell, whoever maintains [Seal.java](https://www.digitaliser.dk/group/374971) has not updated it to use the new medcom schema.
Our test client depend on Seal.java so I cannot test the endpoints without hacking Seal.java and implementing the use of the new namespace myself..

@JacobBangSSE are you using Seal.java and if so, what are you going to do? :S

[2019-01-28 12:36] JacobBangSSE commented on #240
I don't think we have a problem. The handling of getting STS ID Card are isolated in its own Java process on our integration platform and therefore uses its own schema files. The output of this are then XML but here we only use the "urn:oasis:names:tc:SAML:2.0:assertion" namespace which does not depend on DGWS.

So I think we are going to be OK without an update of Seal.java. I don't even know how

[2019-01-28 12:39] TueCN commented on #240
Ok.
I will have to try and test the new endpoints sporadically in SoapUI instead of running our full regression test suite.

[2019-01-28 15:18] TueCN commented on #240
**RESOLUTION**
3 new endpoints have been added.
See https://github.com/scandihealth/lpr3-docs/pull/293.
Updated WSDLs available [here](https://github.com/scandihealth/lpr3-docs/tree/hotfix-issue-240-new-endpoints-using-new-medcom-schema/src/interface/wsdl)

New URLs (available after next deployment):
- Save if no errors
  - https://lprws-test.sds.dsdn.dk/cda-ws/medcom-1.0.1/DocumentRepository_Serv

[2019-01-28 15:54] TueCN commented on #282
Hi @Kashif-Ali-110  and @vprxa

Sorry we do not have the resources to assist with integration difficulties at the moment. We are focusing all our efforts on the last batch of bugfixes before LPR3 starts receiving live production data this weekend.

Hopefully we have better time next week.

Have you compared your request to the [example saml:Assertion](https://scandihealth.github.io/lpr3-docs/examp

[2019-01-29 08:39] jonigkeit commented on #292
**RESOLUTION**
Formatted all UUID as required by RFC 4122 and using submitted values for `@root` instead of internal identifiers.

[2019-01-29 08:51] TueCN commented on #292
Expected around 15 CET

[2019-01-29 08:54] jonigkeit commented on #282
A common pitfall is to change the serialized representation of the XML Information Set after signing it, e.g. pretty printing.

[2019-01-29 08:56] kdjohansson commented on #292
@TueCN When is the service expected to be down today?

[2019-01-29 09:32] TueCN commented on #292
Expected around 14 CET

[2019-01-29 09:34] TueCN opened #294 "Next release will be deployed to TEST today at 14:00 CET"
Expected downtime is around 15-60 minutes

[2019-01-29 10:59] metodikamikaelnilsson commented on #257
I got another error when I tried this again. This is the algorithm:

1. I create a new clinical document that contains one forloeb element and one procedure element that references this forloeb element:

[code]
2. I delete (nullify) the procedure element.

[code]

3. I try to add a procedure that references the forloeb element. This doesn't work because I get these errors: INTEGRITY_CHECK|||Intern

[2019-01-29 12:12] Marc-Petersen opened #295 "Error: soap:Server>result returns more than one elements"
When submitting a FE for a patient, we received the following error, encoded in BASE64:

_1.021ep1http://schemas.xmlsoap.org/soap/envelope/2ep2urn:epic-com:Interconnect.2011.Services11:Envelope21:Header31:Body41:Fault5faultcode6faultstring72:MessageProperties82:HTTPHeaders92:X-OneAgent-JS-Injection102:Strict-Transport-Security112:Transfer-Encoding122:Connection132:Content-Type142:Date152:Set-Cooki

[2019-01-29 13:40] kbhCGI commented on #267
Hi
There is no errorlist for RN, is the job not running?

[2019-01-29 14:42] JacobBangSSE commented on #240
I am trying to implement the new wsdl into out integration platform and I got an error:
[code]
It took some time to understand the issue but basically the name field for services is defined to have the type NCName which do have some restrictions:
https://stackoverflow.com/a/6159003

In this case the character '/' are not allowed in the name "medcom-1.0.1/DocumentRepository_Service".

[2019-01-29 14:59] TueCN commented on #240
I was not aware there was restrictions on service name, my tool stack didn't bother to tell me :(
I will look into providing a valid WSDL but it will probably not be today.

Can you work around the invalid WSDL by temporarily modifying it locally and still direct the integration platform to the provided endpoint URLs?

[2019-01-29 15:12] TueCN commented on #294
We have some unforeseen difficulties with one of our critical bugfixes that must be included in this weeks release (internally found, but we suspect it is also the culprit of #285).

If anyone is eagerly waiting for the server to come back up please let us know by commenting here.
We can deploy a intermediate version while we work towards getting this bugfix finalized and included in this release.

[2019-01-29 15:20] JacobBangSSE commented on #240
Yes, I am trying with custom name of the service which seems to work.

[2019-01-30 08:15] JacobBangSSE commented on #240
After some more testing I can see our integration platform does not support URL's in schemaLocation and we therefore prefer that all schema dependencies can we found locale. I have therefore made the following change in our end in "ihe-xdr-medcom-1.0.1.wsdl" and downloaded "medcom-1.0.1.xsd":

From:
[code]
To:
[code]

[2019-01-30 08:35] kbhCGI commented on #273
Cannot reproduce now.

[2019-01-30 08:35] #273 closed

[2019-01-30 08:37] TueCN commented on #240
Ok, we can do that if that helps you.
I see no harm in bundling the schema file with the deployment.

[2019-01-30 08:56] JacobBangSSE commented on #240
Well, it would be nice if we can use the same files from you in our deployments without any modifications. :)

[2019-01-30 12:55] JacobBangSSE commented on #240
I am testing the new endpoint right now with the new medcom-1.0.1.xsd schema but got the following error from our integration platform:
[code]
It seems the endpoint are returning the value "FLOW_FINALIZED_SUCCESFULLY" as FlowStatus but in the XML Schema the field are defined as:
[code]
So it seems you endpoint are not behaving to spec since you are sending the value as uppercase. I need to test wi

[2019-01-30 13:07] JacobBangSSE commented on #240
Here is the full returned answer from the endpoint:
https://lprws-test.sds.dsdn.dk/cda-ws/medcom-1.0.1/DocumentRepository_Service/PatientHealthcareSaveIfNoErrorsReportingService
[code]

[2019-01-30 13:35] TueCN commented on #240
Ah.
Yes this is an oversight :(
We will rectify this as quickly as possible and deploy to test as soon as the fix is ready.

I assume this is a high urgency problem? Do you need this fixed in prod before Sunday?
(is that not the day you are scheduled to begin using production?)

[2019-01-30 13:42] JacobBangSSE commented on #240
Yes this is urgent. We need a fix as quickly as possible since we are going into prod on sunday with LPR3 and we need to prepare a deployment plan for our customer and testing the new endpoint.

[2019-01-30 13:43] TueCN commented on #295
Yes this is one of the reasons we are doing away with the current "relation registration" check.

This error happens when the same custodian (CVR) is registered as having a relation to multiple authors (SOR units).
There is not much you can do about it right now, but the fix is in progress and the forecast is "soon".

[2019-01-30 14:23] kbhCGI opened #296 "Acc. errorlist is not generated"
Hi

There is no errorlist for RN, is the job not running?

[2019-01-30 14:23] #267 closed

[2019-01-30 15:03] kbhCGI opened #297 "Acc. error list FTP problem"
Hi

Do you have a limit for have many files we can download?
We have a lot of errors in test. (RN)
When i try following command  "GET *.json" i  do not get any files. If i try with "get aa*.json" i get some files downloaded.
"LS" only show the first 2000 files.

[2019-01-30 15:16] JacobBangSSE opened #298 "[minor issue] Formatting on Test environment page are broken"
This is just a minor issue.

The text about the new endpoints are a bit broken:
![image](https://user-images.githubusercontent.com/36299108/51990852-30022d00-24aa-11e9-863b-ecd173a67ccd.png)

Page:
https://scandihealth.github.io/lpr3-docs/testenvironment/index.html

[2019-01-30 15:17] JacobBangSSE commented on #298
Same problem on the "Production environment" page:
![image](https://user-images.githubusercontent.com/36299108/51991003-78b9e600-24aa-11e9-904b-967b1954048b.png)

Link:
https://scandihealth.github.io/lpr3-docs/productionenvironment/index.html

[2019-01-30 16:37] RasmusThernoe commented on #240
Will this fix be ready today?

[2019-01-30 17:07] kbhCGI commented on #297
error found.

[2019-01-30 17:07] #297 closed

[2019-01-30 17:24] TueCN commented on #240
I'm working on it now and will deploy it as soon as it is ready

[2019-01-30 21:34] jbraschler opened #299 "Appending Data from Old Encounters"
If a document set consisting of a Pathway Element with encounters dating back over a long period of time (e.g, 18 months) is replaced (i.e., ClinicalDocument/relatedDocument/@typeCode="RPLC"), what would happen if we tried to subsequently append (i.e., ClinicalDocument/relatedDocument/@typeCode="APND")  a document to that document set containing one of the encounters that occurred 18 months ago? W

[2019-01-30 23:00] TueCN commented on #298
Hmm apparently my markdown previewer is not in line with MkDocs.
Will fix

[2019-01-30 23:12] #298 closed

[2019-01-31 08:33] MichaelEsmannSSE opened #300 "Unable to login to SDS test gui-client"
When I try to login to the SDS gui-client I get this error message after typing the password for my certificate:

Request failed
The request failed. The reason is:

Unable to validate SAML message!
Stacktrace:

[2019-01-31 08:35] TueCN commented on #300
Yes, SEB updated their test certificate last night. We are in the proces of updating it on our servers

[2019-01-31 08:51] JacobBangSSE commented on #240
Looks good from my point of view. My basics tests are going through but I cannot validate that the messages are saved before #300 are fixed.

[2019-01-31 08:53] TueCN commented on #300
Heads up: We will be restarting the server shortly, to get the new certificate loaded

[2019-01-31 09:47] jonigkeit commented on #300
**RESOLUTION**
IdP certificate has been updated.

[2019-01-31 09:57] #300 closed

[2019-01-31 10:08] RasmusThernoe commented on #240
Basic tests performed and it works.

[2019-01-31 10:08] #240 closed

[2019-01-31 10:28] Remcovanderwerf opened #302 "ITI41 Response different"
Hi,

just recently i discovered that the ITI-41 response message is a bit different than before.

before, the element `<ns10:FlowStatus>flow_finalized_succesfully</ns10:FlowStatus>`  was present under the `<soap:header>`.
See:
[with.txt](https://github.com/scandihealth/lpr3-docs/files/2816703/with.txt)

Just recently this element is not present anymore. See:
[without.txt](https://github.com/scandi

[2019-01-31 10:32] TueCN commented on #302
No this is not an intentional change, it is probably related to the changes in #240

I will look into it

[2019-01-31 11:48] Remcovanderwerf commented on #285
Hi,

FYI:
Today I also encounted the same error as mentioned in the first comment (sending to the LPR3 test environment on "savewitherrrors".

Kind regards,

Remco van der Werf
Enovation | The Netherlands
Contractor: Region Syddanmark

[2019-01-31 11:54] TueCN commented on #285
Yes unfortunately the issue was not resolved with latest deploy.
We are still investigating.
(the current hypothesis is that it might be related to "forløbsreferencer" (episode of care links)

[2019-01-31 13:38] TueCN commented on #302
I have identified the issue and will restore the old behaviour:
- FlowStatus will be set to `flow_finalized_succesfully` in all non-exceptional responses (i.e. HTTP 200 messages with a `RegistryResponse`)
- FlowStatus will **not** be set in SOAP fault messages.

[2019-01-31 14:02] RasmusThernoe commented on #288
Closing.

https://github.com/scandihealth/lpr3-docs/issues/291:

[2019-01-31 14:02] #288 closed

[2019-01-31 14:46] Remcovanderwerf commented on #302
Sounds great!

When will this change be active?

[2019-01-31 15:13] TueCN commented on #302
I am testing a fix now. Is the issue blocking for your use of the service?
I can deploy it straight away or it can be included in the normal release cycle (Tuesday)

[2019-01-31 15:14] Remcovanderwerf commented on #302
Currently not so the normal deployment on tuesday will suffice.

I will plan on changing my configuration back for wednesdays.

Thank you!

[2019-01-31 16:07] #42 closed

[2019-01-31 16:51] jonigkeit commented on #299
There are two principles that define the behavior

1. You're only able to append or replace to the latest document in the chain of document of a document set.
1. Replacing a document removes all data that has been communicated so far.

**Example**
 * On day `0` you submit document `a` with the document set `X` of version `1` containing episode of care `PCPR1`
**Now episode of care `PCPR1` exists i

[2019-01-31 17:16] #299 closed

[2019-02-01 10:44] jonigkeit commented on #284
The reason is that the episode of care was revalidated on
*2019-01-16T12:27:54.01000* and *2019-01T12:28:34.661000*

Revalidation causes creation of a new version.

If this behavior is undesirable for you, please file an enhancement request with SDS.

[2019-02-01 11:54] #292 closed

[2019-02-01 13:06] TueCN commented on #271
Hi @Remcovanderwerf, I don't entirely understand your issue.
As far as I can tell there is 1 part in the response with. Is that not as expected?

Here is LPR's response to your request, from our logs. Can you point me towards the issue?
[code]

[2019-02-01 13:13] TueCN opened #303 "Next release will be deployed to test NOW"
Service will be unavailable for 15-30 minutes

[2019-02-01 13:48] #303 closed

[2019-02-01 13:49] TueCN commented on #302
@Remcovanderwerf we have just deployed a new version (that also includes this fix).
Please test now.

[2019-02-02 13:38] Remcovanderwerf commented on #271
Hi Tue,

that is odd. Our receiving webservice was not able to process the message because the message multipart with the attachment/payload was empty.
Apparently in your log it was actually there.

I will close the issue for now and I will reopen it if it reoccurs.
Thank you for the investigation!

[2019-02-02 13:38] #271 closed

[2019-02-03 19:01] clausheinecke opened #304 "LPR3 rule 02.03 Forløbselement reference starttime <= referenced FE starttime"
Hi
We find it inappropriate that a Forløbselement can't reference to another Forløbselement and they both have the same start time.
We will have a lot of those cases, like when we receive a referral and during the visitation process creates an order for a Xray or another investigation, the initial Forløbselement will have the same start time as the linked Forløbselement. We didn't find this to be

[2019-02-03 19:04] clausheinecke commented on #304
BTW: why do we get the error message linked to the Kontakt and not the Forløbselement? That doesn't make sense...

[2019-02-04 10:54] vprxa commented on #282
Thanks, I'm making my request in C# with the following MessageEncoding and TextEncoding:
[code]

The Assertion is created and mapped between `dk.nsi.seal.dgwstypes` types and  `LPR3DocumentRepositoryService` types. I compared against the examples provided in lpr3-docs and from what I can see, the values in the security object are set accordingly. Do you know where the exception is thrown please? I

[2019-02-04 12:06] TueCN commented on #304
Hi

1. > We find it inappropriate that a Forløbselement can't reference to another Forløbselement and they both have the same start time.

    1. The logic is specified by Indberetningsvejledningen (see [Bilag 1](https://sundhedsdatastyrelsen.dk/-/media/sds/filer/rammer-og-retningslinjer/patientregistrering/indberetning-til-lpr3/vejledning-lpr3-bilag-1-model-og-indberetningsregler.pdf?la=da), id 0

[2019-02-04 12:36] RegHThrane opened #305 "LPR3 11101 triggering but can't see why"
We are seeing our end user are getting LPR3 error 11101 stating that a procedure should be in one of the following lists Proc.opr, Proc.act or Proc.und. Our problem is that we a can't seem to understand why, as neither Proc.act or Proc.und is official SDS codelists. What we can find on those two lists is that they both have a comment of "CDA-betinget kategori; anvendes ikke i indberetningen". What

[2019-02-04 13:47] TueCN commented on #305
The rule 11.101 has not been updated since the decision to not use proc.act and proc.und was taken.
The rule should be correct regardless, as it will not generate a validation error if the SKS code is in the list proc.opr.
See https://scandihealth.github.io/lpr3-docs/faq/index.html#i-want-to-report-a-procedure-which-template-should-i-use

You can ask SDS (the rule authors) to update the error desc

[2019-02-04 15:17] Marc-Petersen opened #306 "Error: Transaction Rollback on forløbselement"
We're hit with a Error Detail: soap:Server>Transaction rolled back on many of our submissions.

There are no double observations (as far as I can see) like the similar issue posted earlier.

FE: 43D405B6-27DD-11E9-B969-005056B7A4B4.

What other information do you need?

[2019-02-04 15:40] Marc-Petersen commented on #306
I spot-checked for ECPR (I'm not sure how to check for APPEND or REPLACE), but versionNumber is 2 (or higher), so your hypothesis sounds right.

I dont have a user nor an address for your SFTP :(
Could I put an anonymized CDA here as an attachment?

[2019-02-04 15:55] TueCN commented on #306
Ok, we will continue working with that hypothesis. I don't think we need an anonymized version at this time then.
We will try to reproduce the error in our internal environment (we have an idea about what might be wrong) and work on a fix. Hopefully this issue can be resolved quickly.

FYI:
If the CDA `ClinicalDocument` element has a `relatedDocument` child element, then it is either an append or

[2019-02-04 16:37] jonigkeit commented on #306
Hi @Marc-Petersen

Can you post the value of the setId root attribute. It is a truly random identifier and would help us greatly.

It should look like this
[code]

[2019-02-04 19:58] jonigkeit commented on #282
Hi Joe

Can you attach the raw HTTP request that fails.

[2019-02-05 07:39] Marc-Petersen commented on #306
Alright. New CDA with the same error.
FE ID: BBF3803D-29E9-509D-AE93-4C2403379C35
Set ID: f3c582f4-2799-11e9-8b0a-005056b7a4b4

[2019-02-05 08:22] vprxa commented on #282
Hi @jonigkeit,

Here is the request:
[LPR3_Raw_Request_050219.txt](https://github.com/scandihealth/lpr3-docs/files/2831278/LPR3_Raw_Request_050219.txt)

Thank you,
Joe

[2019-02-05 14:15] RasmusThernoe opened #307 "UUIDs in accumulated error list from upper case to lower case"
**This issue is blocking**

The accumulated error list have changed from sending UUIDs in upper case to sending UUIDs in lower case.

Some of the UUIDs in the CDA documents are required to be upper case by the LPR3 service.

The example in the LPR3 interface specification are also in upper case:
 https://scandihealth.github.io/lpr3-docs/interface/accumulated-error-list/index.html#example

Is this

[2019-02-05 15:36] Kashif-Ali-110 commented on #282
Hi Joe,

I am also following if get any update.

With best
Kashif.

[2019-02-06 07:37] Marc-Petersen opened #308 "Errors: Failed to Invoke Service Endpoint"
We're currently logging a lot of communication errors when submitting CDAs to SDS endpoint, indicating failure to reach endpoint. This is not for all submission, but a lot.

Also, the submission rate is very low. About 200-300 msgs/hour, where we normally reach 100.000-200.000 msgs/hour.

I'll post further, if I see a pattern in the failed submissions

[2019-02-06 08:33] TueCN commented on #307
This is not true anymore as of #166:

We will be updating the art-decor installation so that non-uppercase lexical representations of Universal Unique Identifiers will give a schematron info instead of an error. This should take care of the issue with HL7 CDA in-conformance with RFC 4122, as UUID internally are stored as bytes defined in [RFC 4122 section 4.1.2](https://tools.ietf.org/html/rfc4122

[2019-02-06 10:18] Marc-Petersen commented on #235
We're getting hit with Invalid SKS code error again.
![image](https://user-images.githubusercontent.com/44767916/52334806-eca34380-2a00-11e9-8f9e-8e222ecf667e.png)
Has validation rules changed on SDS side?

[2019-02-06 10:39] TueCN commented on #308
Hi, I assume your issue is regarding PROD.
For the future please state what environment the issue applies to (preferably in the title of the issue).

We see a lot of errors in our log today regarding `Medcom headeren mangler.` (the medcom header element is not found in the SOAP envelope).
Can you verify that the requests that got rejected did in fact contain a medcom:Header XML element)

We have i

[2019-02-06 10:54] kdjohansson commented on #308
@TueCN Is this also currently affecting performance in TEST?

[2019-02-06 11:00] TueCN commented on #308
@kdjohansson in theory it could, but due to the much much smaller workload the TEST system is under, it is much likely to happen.

From what I can tell, TEST is currently operating normally.

[2019-02-06 11:25] p-christensen commented on #235
The SKS codes should be available tomorrow.

[2019-02-06 11:41] Marc-Petersen commented on #308
Yes. PROD env.
Currently throughput is normal again. The errors also seems to be gone. Some time after 10 am.

They were CommError: WEBSERVICEINVOCATIONFAILURE and errors indicating missing ACKs. And multiple other errors following.
We have no indications of missing MedCom headers.

[2019-02-06 11:43] Marc-Petersen commented on #235
Could this issue be reopened until solution is in place?
Is that something I can do?

[2019-02-06 11:44] Marc-Petersen commented on #261
Closing

[2019-02-06 11:44] #261 closed

[2019-02-06 11:48] TueCN commented on #235
Do you not have a "Reopen" button under the comment text box?

By the way, we assume this issue is regarding PROD environment? Please specify which environment this re-opened issue is experienced on.

[2019-02-06 11:59] Marc-Petersen commented on #235
Yes. Prod env.
No. just a comment button.

[2019-02-06 12:00] TueCN commented on #235
@Marc-Petersen we have just manually updated the SKS classification in PROD and the 'tillægskoder' should now be updated.

Please re-test

[2019-02-06 12:02] cjonigkeit-csc opened #309 "blank"

[2019-02-06 12:03] #309 closed

[2019-02-06 12:26] Marc-Petersen commented on #235
Ok. The Invalid SKS code errors for these is gone. Resent messages has passed validation.
Please re-close.
My Comment and Close button is missing.

[2019-02-06 14:18] TueCN commented on #308
**RESOLUTION**
Fixed a bug that could lead to performance degradation over time when the service is receiving a high amount of requests concurrently.

You may experience intermittent errors/timeouts on some web service requests while we restart the LPR3 web service servers daily, until a hotfix is deployed (which should happen one of the coming days)

[2019-02-06 14:19] TueCN opened #310 "Next Release"

[2019-02-06 14:21] #235 closed

[2019-02-07 10:37] TueCN commented on #306
@Marc-Petersen could you please attach an anonymized version of one of the failed requests anyway, however could you preserve the **root** values? (They are not sensitive information)

[2019-02-07 11:45] KirstenLHSDS commented on #272
When in production, questions regarding understanding of validation can be asked to patientregistrering@sundhedsdata.dk
Other issues should be routed to servicedesk@sundhedsdata.dk
SDS is looking into providing a secure mail for sensitive information. A workaround can be to either use upload to sFTP or to provide only insensitive indicators.

[2019-02-07 13:02] Remcovanderwerf commented on #302
Hi @TueCN,

The response is as expected again including the "flow_finalized_succesfully".

Thank you for the investigation and solution, closing this issue.

[2019-02-07 13:02] #302 closed

[2019-02-07 13:02] vprxa commented on #282
Hi @jonigkeit ,

I wonder if you have found time to shine light on this please?

Thank you,
Joe

[2019-02-07 13:12] Remcovanderwerf opened #311 "Possible double submission issue"
Hi,

can you please investigate the following (if possible).

environment: PRODUCTION
date/time:   24-01-2019   21:20:05

Document_id: `1E6F8C9B-7004-4C30-8FA7-55527E79330B`
Set_id: `E1CCA1F0-CA70-5215-A1F9-4ED375E3A9C4`
Version: 1

Response: `INTEGRITY_CHECK|||Set with id e1cca1f0-ca70-5215-a1f9-4ed375e3a9c4 already exists in the registry, and ClinicalDocument does not contain a relatedDocument`

[2019-02-07 13:44] jonigkeit commented on #306
The problem occurs when submitting a document that has a record target with multiple alternative identifiers that have overlapping root values, e.g.
[code]

While the interface allows this it is not in agreement with the *Indberetningsvejledningen section 3.3.1 Patient og bopæl*

We will raise this issue with SDS.

[2019-02-08 08:43] jonigkeit commented on #311
Hi @Remcovanderwerf
What catches my immediate attention is that you are using UUID Version 5 values for your setId, and that is fine.
Can you explain the algorithm you use in your integration to produce the values, e.g. how are your namespaces constructed?

[2019-02-08 10:09] Remcovanderwerf commented on #311
Hi @jonigkeit I currently am not able to get that information since these UUIDv5's are not generated in my implementation.

I think you are indirectly indicating it could be a set-id clash with another region but the data was actually in the LPR3 prod environment at that time.
So the current conclusion which we made is that the submission of this particular document happened twice.

I would like t

[2019-02-08 10:10] TueCN commented on #311
@Remcovanderwerf you state the environment as PRODUCTION, but Region Syd is not scheduled to use LPR production before March.
I think you mean the environment is TEST (i.e. https://lprws-test.sds.dsdn.dk)

[2019-02-08 10:22] Remcovanderwerf commented on #311
@TueCN Hi,

no I definitely mean the production environment. At the time of the submission (24th of january)  we had a window of opportunity to do a progression test towards the production environment to see if the performance is as expected.

I have been understanding from my contacts that the data submitted to this production environment was wiped completely afterwards. This could mean that inve

[2019-02-08 10:28] TueCN commented on #311
Ah okay, yes that makes sense.
Yes unfortunately I believe the data is wiped and no logs were kept (I will verify this with our operations team).

If you can reproduce the issue on TEST we will be happy to assist in your investigation.

[2019-02-08 12:25] jonigkeit commented on #280
We believe this issue is caused by the same problem as #285

[2019-02-08 12:28] Remcovanderwerf commented on #311
It is hard to actually reproduce this issue.
On an amount of ~600.000 submissions only 7 submissions had this issue.

Awaiting your response from the operations team but otherwise this call may be closed.

[2019-02-08 14:20] TueCN commented on #285
**Update**: The current hypothesis is that the issue is related to the infrastructure of the TEST environment.

TEST is a single server environment with all deployments co-existing in the same server instance. This leads to problems with the shared cache, when one deployment unit creates a cache entry and another deployment unit acces that same cache entry.
We believe that this can lead to strange

[2019-02-11 10:32] TueCN commented on #311
@Remcovanderwerf I have gotten word back that it takes considerable effort to restore the data submitted during the "production test run".

Based on the nature of the issue (there is seemingly nothing wrong on the LPR side), SDS decided not to allocate the resources needed for this endeavor.
Please close this issue or take it with SDS directly.

Feel free to open a new issue if you can reproduce a

[2019-02-11 10:34] Remcovanderwerf commented on #311
Hi @TueCN ,

sounds reasonable. Thank you for the effort anyway!

Kind regards,

Remco van der Werf

[2019-02-11 10:34] #311 closed

[2019-02-11 13:17] jonigkeit commented on #282
Hi @vprxa

The request you have posted specifies `Content-Transfer-Encoding: 8bit` for the first MIME part and the content of that MIME part is more than 1000 octets yet there is no single newline, cf. [RFC-2045 Section 2.8](https://tools.ietf.org/html/rfc2045#section-2.8)

Can you attached the raw response you get from the STS test endpoint?

[2019-02-11 14:00] TueCN commented on #291
Ok, I assume you are talking about the fingerprint of the SSL certificate sent by https://lpradm.sds.dsdn.dk ?
I first assumed you were saying that LPR did not trust your XML signature of the SOAP header.

I don't fully understand what the log you pasted is for. Is it a log of the entries in your trust store?
If so, it seems there are 2 entries for _.sds.dsdn.dk_. Could that be the issue?

We just

[2019-02-11 14:11] vprxa commented on #282
Hi @jonigkeit,

Here is the request:
[LPR3_RAW_Response_STS_110219.txt](https://github.com/scandihealth/lpr3-docs/files/2851372/LPR3_RAW_Response_STS_110219.txt)

Thank you,
Joe

[2019-02-11 16:42] jonigkeit commented on #282
Seems like you have tampered with the signed idcard, e.g. changed namespace prefix.

[2019-02-12 16:48] vprxa commented on #282
Hi @jonigkeit,
Thank you for your reply. I have changed the namespace as advised to match the sample provided in lpr3-docs.

I have sent the request directly through fiddler:
[LPR3_Raw_Request_120219.txt](https://github.com/scandihealth/lpr3-docs/files/2856663/LPR3_Raw_Request_120219.txt)

I receive the same error:
[LPR3_Raw_Response_120219.txt](https://github.com/scandihealth/lpr3-docs/files/2856

[2019-02-12 20:23] jonigkeit commented on #282
Looks to me like you still modify the serialized representation of signed XML Information Set under the Assertion element you receive from STS.
I suggest you brush up on

[2019-02-12 20:24] jonigkeit commented on #282
Looks to me like you still modify the serialized representation of signed  XML Information Set under the Assertion element you receive from STS.
I suggest you brush up on [XMLDSig](https://www.w3.org/TR/xmldsig-core/)

[2019-02-13 16:33] ThorkildFriis commented on #291
Today we saw the same issue when submitting 4500 and later 54000 records in test. This is the first time we have seen it in test. So it is perhaps reasonable to assume that the problem can not be reproduced after you successfully submitted 1000 posts. But we did not see that issue before submitting more than 600,000 in ten threads on the live server and before in test before that we never submitte

[2019-02-13 18:50] jonigkeit commented on #291
We will perform a test tomorrow.

Since you experience the issue regularly will you please provide us with a TCP dump of the offending TLS handshake.

[2019-02-14 05:47] jonigkeit commented on #291
We have completed our test of 12 concurrent calls repeating 50,000 times for a total of 600,000 invocations and every single time the fingerprint remains the same
[code]

@ThorkildFriis since you experience the issue regularly will you please provide us with a TCP dump of the offending TLS handshake.

[2019-02-14 13:57] vprxa commented on #282
Hi @jonigkeit,
Thank you for the material.

I can confirm the test certificate that I’m using works as I have used the assertion against another service successfully. Excuse my ignorance but with many attempts comparing against a successful soap request and your information, I cannot get it working. Would you be able to send through a fiddler trace of a working request please?

I have checked that

[2019-02-14 14:30] Kashif-Ali-110 commented on #282
Hi @vprxa and @jonigkeit

I have move forwarded and can acccess the ClinicalDocument Schematron validation things. :) But still many other registry types error.

Anyway.
@vprxa In the above Request, remember to keep medcom header (white listning header) in the soap envelope
e.g.
`<HsuidHeader xmlns="http://www.nsi.dk/hsuid/2016/08/hsuid-1.1.xsd">
			<Assertion IssueInstant= "2019-02-14" Version="1

[2019-02-14 16:52] #282 closed

[2019-02-15 12:29] MichaelEsmannSSE opened #312 "LPR3 service unstable"
Currently I very often get these errors when calling https://lprws-test.sds.dsdn.dk/cda-ws/medcom-1.0.1/DocumentRepository_Service/PatientHealthcareReportingService:

504 Gateway Time-out
The server didn't respond in time.

Service Unavailable
DXC Traffic Manager: the service is temporarily unavailable (503). Please try again later.

[2019-02-15 13:26] TueCN commented on #312
Hmm this seems to be the same problem as #308.
The prod hotfix https://github.com/scandihealth/lpr3-docs/issues/308#issuecomment-461038566 has not been deployed to TEST yet
(TEST is scheduled for deployment on Tuesday).

I have restarted the TEST service and it should again run normally.
There is a small risk of performance degradation happening from now and until the bugfix is deployed.

[2019-02-15 13:38] #312 closed

[2019-02-15 13:38] MichaelEsmannSSE commented on #312
Looks better now. I will close the issue

[2019-02-17 18:50] #189 closed

[2019-02-18 10:12] Kashif-Ali-110 opened #313 "lpradm-test. A Technical error has occured"
Hi Scandihealth,

I am getting error while logging to the [https://lpradm-test.sds.dsdn.dk]

I get nemid login form and gives functional test certificate as credential to sign-in.  But it gives
Technical error message.

![lpradmin-test](https://user-images.githubusercontent.com/45459597/52943257-0a5f9980-336d-11e9-9e27-1ebf02feaf25.png)

Any idea about how to get access to the LPR Administrative m

[2019-02-18 10:31] TueCN commented on #313
Hi

When you go to https://lpradm-test.sds.dsdn.dk you should be redirected to nemlog-in.dk where you must log in with credentials that are registered in test SEB (t-seblogin.nsi.dk). After logging in you should be redirected back to LPR.

If this redirect back to LPR does not work, there must be a problem with your SEB login?
Have you verified with a SEB administrator that your user have a SEB te

[2019-02-18 11:09] Kashif-Ali-110 commented on #313
Hi @TueCN

Thanks for your reply.

I think we are missing the T-SEB authentication part.

But we are in process with the Sundhedsdatastyrelsen to get authentication about it.

Thanks for your quick reply :)

With best,
Kashif

[2019-02-18 11:10] #313 closed

[2019-02-18 16:25] kdjohansson opened #314 "Business rule errors expected but not returned (test environment)"
When for reporting procedure codes such as "UXMG25", that exists in "proc.lateral" and "proc.kontrast", we expect business rule errors returned.

Like:
"BUSINESS_RULE|||Hvis procedurekoden er på liste over koder, der skal have angivelse af lateralitet, så skal sideangivelse udfyldes"
"BUSINESS_RULE|||Hvis en procedurekode er på liste over koder, der skal have angivelse for kontrast, så skal anvend

[2019-02-19 14:21] ThorkildFriis commented on #291
We tried to add more log and send 100.000 messages. After about 10.000 messages we stopped and examined the log. The proxy we use is written in Java v.6 because of the version of the Websphere Application Server we use. It turns out that the Java library method to check certificates is not thread safe. We added a Synchronize() to the method call and the remainder 90.000 messages went though withou

[2019-02-19 14:21] #291 closed

[2019-02-19 16:30] KirstenLHSDS commented on #314
SDS has been looking into this, and this is strange, as the validation is in place and works, when SDS reports seemingly the same data. @TueCN - we will like to join efforts :-)

[2019-02-20 10:38] kdjohansson commented on #314
@TueCN Can you please give me an update on this issue. Do you need anything else form us to reproduce it?

[2019-02-20 14:09] #274 closed

[2019-02-20 14:39] Remcovanderwerf opened #315 "Response time (out)"
Hi,

just for the final configuration:
What is the maximum response time from LPR3 so I can configure the time-out time of our sending application appropriately.

I have been reading 5 minutes and 10 seconds in another issue (#189 ) but I thought that was marked as invalid.

Thank you in advance!

Remco van der Werf
Enovation, the Netherlands
Contractor: Region Syddanmark

[2019-02-20 14:47] TueCN commented on #315
Hi,

Please read [CONTRIBUTING.md#service-levels-and-performane](https://github.com/scandihealth/lpr3-docs/blob/master/CONTRIBUTING.md#service-levels-and-performane)

[2019-02-20 19:45] TueCN commented on #314
I also get the correct BUSINESS_RULE errors.

I took you input XML, replaced the set root and all the various UUID extensions, and sent it to the test environment.

Here is the input:
[code]

Here is what the service returned:

[code]

As you can see, the xpath in the `location` attribute of the two errors both point to the procedure in the input with code UXMG25.

Please provide further instructi

[2019-02-20 19:50] TueCN commented on #166
Closing due to inactivity, as the enhancement was delivered per 15th of January.

[2019-02-20 19:50] #166 closed

[2019-02-20 19:57] TueCN commented on #258
Closing due to inactivity, as the bugfix was deployed 9th of January.

Feel free to request the issue be reopened by leaving a comment.

[2019-02-20 19:57] #258 closed

[2019-02-21 06:41] KirstenLHSDS commented on #315
Hi,
I will be happy to help.
The simple question may not be quite as simple to answer, but current best answer is based upon performance measurements run as part of the performance validation.
First thing to mention is though, that average response time may increase during time, if a patient has many encounters linked to the same 'forløbselement'. Thus your client may need to monitor, how many tim

[2019-02-21 09:03] kdjohansson commented on #314
I see that you changed author/custodian identifiers. I suspect the SOAP body "author" matters. Please send your document again, but as Aleris-Hamlet Hospitaler, SOR 291651000016009. Thanks.

`<Slot name="authorInstitution">
    <ValueList>
        <Value>Aleris-Hamlet Hospitaler^^^^^&amp;1.2.208.176.1.1&amp;ISO^^^^291651000016009</Value>
    </ValueList>
</Slot>`

[2019-02-21 09:45] kdjohansson commented on #314
@TueCN When I change <Value> element to Region Nordjylland 6071000016008 I get the expected validation errors. But not with Aleris-Hamlet Hospitaler 291651000016009.

[2019-02-21 10:43] jonigkeit commented on #315
Currently, the internal HA proxy is configured with a timeout of 60 seconds for request to `/cda-ws/*` for both client and server connections, so that should be an upper limit on what you should expect.

[2019-02-21 10:56] TueCN commented on #314
Ahh.
The problem is that many of the BUSINESS_RULE validations are currently not configured to apply to authorInstitutions that are registered in SOR as being or belonging to a privately owned institution.

The Drools rules 11.101 and 11.102 (and probably many others) needs to be updated
(if they are intended to be applied to submissions from private institutions).

SDS needs to decide in general