[2019-02-21 14:42] Kashif-Ali-110 opened #316 "Requested Envelope - Body part"
Hi,

I have developed soap request with valid assertion, And the body part of the request is given below.
[ProvideAndRegisterDocumentSetEnvelope Body part.txt](https://github.com/scandihealth/lpr3-docs/files/2889633/ProvideAndRegisterDocumentSetEnvelope.Body.part.txt)

From where can i get the valid registry or repository object, schema's etc uuids ?
Are i am missing the valid registry or reposito

[2019-02-21 15:04] jonigkeit commented on #316
That information is available in [the documentation](https://scandihealth.github.io/lpr3-docs/) and the [related material](https://scandihealth.github.io/lpr3-docs/links/index.html).
Ultimately your customer will have to answer which concrete code to use.

[2019-02-21 15:48] jonigkeit commented on #316
@Kashif-Ali-110 can you try again, seems like the code 324431000016003 was registered instead of 324441000016005

[2019-02-21 16:37] Kashif-Ali-110 commented on #316
Hi

Thanks for your quick reply.

Unfortunately, I am unsuccessfully even by changing the SOR Id to 324431000016003.

Below is the MIME logfile.
[LPR3MtomLog.txt](https://github.com/scandihealth/lpr3-docs/files/2890181/LPR3MtomLog.txt)

Thanks in advance to your time and help.

With best
kashif

[2019-02-23 11:06] Remcovanderwerf commented on #315
Hi,

thank you for the response.
I will  configure the timeout on our sending application around 70s.

Kind regards,

Remco van der Werf

[2019-02-23 11:06] #315 closed

[2019-02-24 21:18] TueCN commented on #314
**RESOLUTION**
**All** current level 4 rules (BUSINESS_RULE validations) now apply to all submission types (public, private and DUSAS).

Rule update has been deployed to TEST with the rule package version **sds:lpr:3.1.9** (exact version number is only applicable to TEST).

Rule update is expected deployed to PROD Monday 25/2/2019, as part of the upgrade of PROD to LPR 3.8.614.

[2019-02-25 09:02] #316 closed

[2019-02-25 12:37] Remcovanderwerf commented on #285
Hi,

apparantly this issue is still not fixed as it has occured again this morning.

[code]

[2019-02-25 14:20] TueCN commented on #257
Hi @metodikamikaelnilsson

Sorry for the long response time, we have been quite busy.

The problem is in your laste submission.
There you are referencing the EoC `175b53de-d41f-57ba-94b5-519360d3084e` using a [DK Internal Episode Of Care Reference](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates&id=1.2.208.176.7.1.10.72&effectiveDate=2018-0

[2019-02-26 08:04] stinnekn opened #317 "Access in LPR3 administration module"
It seems that I get acces to units I dont have permission to see as defined in SEB.
This has not been an issue previous.
Example:
In SEB I have roles that grant me access to the major hospitals in the region. However when I login to LPR3 administration module I have access to everything under "Region Nordjylland".

[2019-02-26 10:15] Marc-Petersen opened #318 "PROD:javax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException"
RegionH+SJ is currently logging multiple java-related errors from the endpoint:
Error Detail: soap:Server>javax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException

Since last night we've logged around 2.000 errors. Some can be resend successfully, but not all.

[2019-02-26 11:01] TueCN commented on #317
Hi Stinne.
First of, please read [CONTRIBUTING.md#how-to-contribute](https://github.com/scandihealth/lpr3-docs/blob/master/CONTRIBUTING.md#how-to-contribute)

I have a few questions regarding the issue:
- Could you please state if you experience this issue in TEST or PROD or in both environments?
- Could you please explain the actions/steps you take in the administration module that gives you acce

[2019-02-26 11:43] stinnekn commented on #317
I tried this in PROD. I havent seen if the problem is the same in Test.

My access via SEB have not been changed and is as follows:
![image](https://user-images.githubusercontent.com/46479877/53409925-9c495100-39c2-11e9-8d87-5a95618fb28e.png)

(You can see the RID aswell).

I go via "sygehusindberetning" , "LPR3- Vis indberetning"
and get these in my drop down (which includes units I should not ha

[2019-02-26 11:43] stinnekn commented on #317
![image](https://user-images.githubusercontent.com/46479877/53410437-16c6a080-39c4-11e9-9b22-cc84a928bcf2.png)

[2019-02-26 11:48] stinnekn commented on #317
Just did a quick test in TEST and the issue is not there. The access I have is similar but I do not gain access to other units under "Region Nordjylland" then the ones specified in SEB.
![image](https://user-images.githubusercontent.com/46479877/53410704-cef44900-39c4-11e9-8f33-40821372088e.png)

[2019-02-26 11:55] TueCN commented on #317
Ok.
You have access to Region Nordjylland (SOR ID `6071000016008`) via the role `lanLokal systembruger 1` with the description `Denne enhed og underenheder`.
Therefore, you have access to all units in Region Nordjylland.

Which exact SOR units do you believe you should not have access to?

[2019-02-27 07:45] Marc-Petersen commented on #318
At first glance it seems like I can spilt the error up in two buckets:

_Error Detail: soap:Server>javax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException: **could not execute batch**_
Messages with these errors also fail resubmission.

_Error Detail: soap:Server>javax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException: **cou

[2019-02-27 08:54] TueCN commented on #318
Hi @Marc-Petersen
Can you give some timestamps for when one of each error type happens so I can try and find the matching errors in our logs?

Could it be that some of the errors are related to #306?

[2019-02-27 08:56] Marc-Petersen opened #319 "PROD: Race condition error: Prior Document Contact Already Marked as Successful"
Following is an example of a race condition, which generates an error on the service endpoint:

1. AMS 27996604 (version 9) is built stating that it is replacing document version 8. This was an update to the Pathway Element (system HAR 3800000009280).

2. AMS 27996609 (version 10) is built also stating that it is replacing document version 8. This document was for HAR 3800000009279. <--This is a r

[2019-02-27 09:06] Marc-Petersen commented on #318
Sent start	ons 27. feb., 2019 08:55:50
Sent finish ons 27. feb., 2019 08:55:51
Error Detail: soap:Server>javax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException: **could not execute batch**

Sent start	tir 26. feb., 2019 21:40:01
Sent finish tir 26. feb., 2019 21:40:04
Error Detail: soap:Server>javax.persistence.PersistenceException: org.hibernate.exception.Con

[2019-02-27 09:53] TueCN commented on #318
**Regarding the error 27. feb., 2019 08:55:50**
It looks like it is the same error cause as #306
This error happens when the input XML contains multiple patient IDs with same root.
See https://github.com/scandihealth/lpr3-docs/issues/306#issuecomment-461424168
Could you verify whether the input XML contains multiple patientRole/id elements with same root or not?

**Regarding the error 26. feb., 20

[2019-02-27 11:29] Marc-Petersen commented on #318
Anonymized XML sent to e-mail address.

[2019-02-27 13:13] TueCN commented on #319
I am not familiar with the terms AMS and HAR, but I assume the AMS numbers do not have semantic meaning? (I don't see how the numbers are related).

Anyway, you are correct that LPR should respond with an INTEGRITY_CHECK error at step 4.

I have reproduced the issue and I am looking into it.

[2019-02-27 19:58] Remcovanderwerf commented on #285
Hi @TueCN ,

Currently on the _test_ environment we are experiencing these above issues.
This has come to a point where it occurs quite frequently.
The strange thing is the following:

Yesterday around 16:44 we tried submitting the following document.
[CDA_16-43-32_RSYD_XXXXXXXXXX_2_Indberetninger.txt](https://github.com/scandihealth/lpr3-docs/files/2912016/CDA_16-43-32_RSYD_XXXXXXXXXX_2_Indberetn

[2019-03-01 12:53] TueCN commented on #319
**RESOLUTION**
LPR now returns in all instances a SOAP fault if concurrent updates to the same set is detected.

The response *might* be changed in the future to be a http 200 response with a
INTEGRITY_CHECK RegistryError, but for now clients must expect a SOAP fault when such an invalid request is made.

[2019-03-02 11:49] #266 closed

[2019-03-02 15:49] #290 closed

[2019-03-04 16:05] Kashif-Ali-110 opened #320 "Landspatientregisteret - Templates is down"
Hi

http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?id=1.2.208.176.7.1.10.36&effectiveDate=dynamic

is not running?

[2019-03-04 16:23] TueCN commented on #320
Hi,

The link is working fine for me.
The server might have had a hiccup. Please retry the link.

[2019-03-04 16:38] #320 closed

[2019-03-05 09:15] Marc-Petersen commented on #295
Any news on this issue? We're currently not logging this specific error, so it might have been resolved?

[2019-03-05 09:58] TueCN commented on #295
The underlying issue is still not resolved, but I believe SDS might have mitigated the issue by instructing reporting authorities to, for each CVR-number, always use the same SOR-id in CDA custodian/author.

We (DXC and SDS) are still iterating on a general resolution of how CVR/SOR codes should be linked and checked by the service.

[2019-03-05 10:08] joelmetodika opened #321 "Code: XDSMissingDocumentMetadata - AUTHOR_INSTITUTION_NOT_FOUND"
Hi, one of our customers is not able to report to the LPR3 test system. They are getting the error message:
"Code: XDSMissingDocumentMetadata

Description: INTEGRITY_CHECK|||The submission must have an ice-xdr Classification/Slot element with an authorInstitution attribute that conforms to the XDS Metadata for Document Sharing. Danish Profile’|||AUTHOR_INSTITUTION_NOT_FOUND"

From what I can under

[2019-03-05 12:22] MichaelEsmannSSE commented on #285
Today we have experienced this error quite often.  And it is disturbing our tests quite a lot. So we agree with the previous comments that you should give this defect higher priority.

[2019-03-05 12:40] TueCN commented on #321
Hi,
I assume this issue is related to test and not prod?
Please attach the full SOAP request body here alongside the aforementioned screenshot.

[2019-03-05 14:32] TueCN commented on #321
Yes, unfortunately I need the XDR part.
The AUTHOR_INSTITUTION_NOT_FOUND error happens because LPR cannot find the
`/soap:Envelope/soap:Body/ProvideAndRegisterDocumentSetRequest/SubmitObjectsRequest/RegistryObjectList/RegistryPackage/Classification/Slot/ValueList/Value`

An example value would be e.g.
[code]

See https://scandihealth.github.io/lpr3-docs/examples/index.html#sample-request-using-mto

[2019-03-05 14:53] TueCN commented on #318
@Marc-Petersen the XML you sent me is failing because of multiple patient ids with same root (see #306).
This would be the error that you experienced 27. feb., 2019 08:55:50.

Are you sure this is the XML that caused the issue experienced 26. feb., 2019 21:40:01?
For me, the submission results in a `could not execute batch` error, but you said it resulted in a `could not execute statement` error.

[2019-03-05 14:58] joelmetodika commented on #321
Hi, we found out what was wrong with the setup. They were missing the 5 "^" that comes after the name in the ns2:Value-tag in the image in your post. So problem solved.

Thanks!

[2019-03-05 14:58] #321 closed

[2019-03-07 08:10] Marc-Petersen commented on #318
I''ll send a new example to your inbox.
The _execute statement_ error can -as a workaround- be solved by resubmitting the CDA from the client-side.
The _execute batch_ error fails no matter what we do.
We log both errors on a daily basis.

[2019-03-07 08:35] Marc-Petersen commented on #318
Looking again, it looks like your presumption is correct.
For the _execute batch_ error messages, we do send multiple IDs for the same root - this is primarily ECPR IDs.
Is that something that needs to be fixed on the sending side?
But that does not explain why the _execute statement_ error messages fails on the first try. These submissions do **not** contain multiple patientRole IDs.
I'll send yo

[2019-03-07 17:28] Remcovanderwerf commented on #318
Hi,

currently with our daily submission we experience the same issue regarding the following error:
`
<soap:Text xml:lang="en">javax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException: could not execute batch</soap:Text>
`

But, as you quoted #306 where the cause is a double `id` element in the `patientRole` - this is not the case in our submissions.

[code]

P

[2019-03-08 08:51] TueCN commented on #318
Hi @Remcovanderwerf
If you are not sending multiple patient IDs with same root then your issue is not the same as #306.

The error `could not execute batch` is a generic database error that has many underlying causes (which we can find more information about in our logs).

Can you please create a separate ticket for your issue and a) give a timestamp and environment for when the error happened so

[2019-03-08 09:32] Remcovanderwerf opened #322 "PRODUCTION: ConstraintViolationException: could not execute batch"
Hi,

Currently we are receiving the folllowing error response from LPR3 production on most of our submissions:
`javax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException: could not execute batch`

[code]

Possibly related to #318 and #306 but not confirmed.

I send an email to tnorgard@dxc.com with some example CDA's (anonymized) for investigation.
submission tim

[2019-03-08 11:31] TueCN commented on #322
I have reproduced the error from the provided CDAs and I am investigating the cause.

[2019-03-08 12:08] Remcovanderwerf opened #323 "PRODUCTION: Der er sket ukendt en fejl. Kontakt venligst REGIS administration."
Hi,

in production (sending to `PatientHealthcareReportingService`) we got the following situation:

On: `Mar 06, 2019 12:09:04 PM `
we send the following CDA:
[errorCDA.txt](https://github.com/scandihealth/lpr3-docs/files/2945699/errorCDA.txt)
and got the response:
[code]

2 minutes later we resend the same message and got the following response back from LPR3:
`"INTEGRITY_CHECK|||Set with id 9fe

[2019-03-08 12:13] TueCN commented on #323
Hi
`<faultstring>Der er sket ukendt en fejl. Kontakt venligst REGIS administration.</faultstring>` is not a fault string that LPR produces.

I suspect LPR handled your request correctly and then some fault happened in a middleware layer somewhere. I have know idea who or what `REGIS administration` is :)

[2019-03-08 12:15] Remcovanderwerf commented on #323
Hi @TueCN ,

thank you for the quick response. I will ask the region for this matter.

[2019-03-10 13:25] #284 closed

[2019-03-11 08:02] Remcovanderwerf commented on #322
Hi @TueCN ,

any news regarding the  above? We would like to continue our production submissions.

[2019-03-11 08:32] TueCN commented on #322
Yes I have identified a scenario that causes the error:

1. Send a submission with an episode of care, encounter and procedure
2. Send a "set replacement" (`<relatedDocument typeCode="RPLC">`) submission that deletes the encounter and moves the procedure somewhere else (for example to the eoc).

I am working on a fix.

[2019-03-11 08:40] binntho commented on #322
I'm getting precisely the same fault, since Thursday March 7.  The scenario is fairly simple: Submission of an episode of care with three procedures linked with three encounters.  I can email anonymized examples if requested.

[2019-03-11 09:00] TueCN commented on #322
Hi @binntho, please read our guidelines on [CONTRIBUTING.md#identify-your-reporting-authority](https://github.com/scandihealth/lpr3-docs/blob/master/CONTRIBUTING.md#identify-your-reporting-authority).

If you have an example that reproduces the issue which does not involve a "set replacement", then yes please send it to me on tnorgard@dxc.com

[2019-03-11 09:29] ThorkildFriis commented on #323
@TueCN  : It is correct that the error message is not generated by DXC. It is generated in our proxy because we never receive an ack. So the interesting thing is to find out if the ack is missing because the server did not send it or because somebody pulled out a cable from a switch or rebooted a firewall.

[2019-03-11 09:40] binntho commented on #322
Sorry, I'm working for Aver og Lauritzen ApS, journal system GANGLION.

[2019-03-11 10:16] TueCN commented on #323
From @Remcovanderwerf first post it looks like the SOAP fault happened 4 seconds after the connection was opened so it does not seem like this could be a timeout issue.

My best guess is a network error as @ThorkildFriis suggests.
Is this a one time incident or has it happened on multiple occasions?

[2019-03-11 10:30] Remcovanderwerf commented on #323
It happens occasionally and results in resending a document from our application. The response from LPR3 after the second attempt gives us the `Set with id 9fe67bda-917a-5785-b4a2-7285290537b1 already exists in the registry`.

[2019-03-11 10:54] TueCN commented on #323
Ok. I do not have enough information to assist with the continued investigation into this issue. There are no errors in our logs around `Mar 06, 2019 12:09:04 PM` (CET) and we do not have HTTP level request logs activated in production, only in test.
I suspect the issue lies in the middleware that generates the SOAP fault.

@ThorkildFriis can you investigate the exact conditions that causes the SO

[2019-03-11 11:07] ThorkildFriis commented on #323
@TueCN currently we do not have logging at TCP/IP level either. All we can see for now is that we never receive the ack. Investigation further would require a new build of the proxy. And we will not implement any changes before issue #322 is solved. So I don't suppose that we will have any progress on this issue today.

[2019-03-11 16:51] vprxa opened #324 "RegistryObjectList missing properties in WSDL generation"
Hi Scandihealth,
I am using the following WSDL to generate classes in C#:
[https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService?WSDL](https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService?WSDL)

The ProvideAndRegisterDocumentSetRequestTypeRequest > SubmitObjectsRequest > RegistryObjectList cl

[2019-03-12 11:25] Kashif-Ali-110 commented on #318
Hi

We get the same problem every time we try to report a event with effectiveTime high value on a DKEpisodeOfCareAct (1.2.208.176.7.1.10.80):

The above (and attached) gives NO validation error, but only the break-down message.

[LPR3_CDA_1010763296Response.txt](https://github.com/scandihealth/lpr3-docs/files/2956577/LPR3_CDA_1010763296Response.txt)

If we upload without the high value, no proble

[2019-03-12 11:31] TueCN commented on #318
@Kashif-Ali-110 please create a separate issue.

As I said in my last comment:

...

[2019-03-12 11:51] RasmusThernoe commented on #285
Any news on this defect?

We are impeded by this defect in testing issues in LPR3 reporting - the defect occurs very often when updating reporting entities.

[2019-03-12 11:59] TueCN commented on #285
In coordination with SDS, we are currently focusing our efforts on #322.
After that, I think #318 also has higher priority (if it turns out not to be the same root cause).
We will eventually get to this issue :)

[2019-03-12 14:00] Kashif-Ali-110 opened #325 "Test: javax.persistence.PersistenceException: ........ could not execute batch"
Hi

I have came across with the interesting error message.

`<soap:Envelope  xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"/><soap:Body><soap:Fault><faultcode>soap:Server</faultcode><faultstring>javax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException: could not execute batch</fa

[2019-03-13 11:34] Marc-Petersen opened #326 "Request: ENCOUNTER_ALREADY_EXIST documentation"
We're logging multiple integrity errors: Encounter_Already_Exists, but are unsure why.

[Github ](https://scandihealth.github.io/lpr3-docs/aspects/index.html#data-integrity-rules) offers very little explanation.

_Are they rejecting it because something is incorrect or incomplete about the message/encounter -- or are they rejecting it because it's an exact duplicate of a message/encounter they alr

[2019-03-13 13:01] #304 closed

[2019-03-13 15:01] #305 closed

[2019-03-13 15:15] joelmetodika opened #327 "Condition Observation already exists in the registry"
Hi, one of our customers received this error:

Condition Observation 65e6414b-476e-50d0-8698-1f50701d1c5f already exists in the registry
Forløbs-ID: 4DE64FCE-0F4D-5DFB-ADC2-604B2A818234

As I understand this means that what we try to report as a diagnosis already exists in LPR3. We don't really understand how this could happen so we would like to know if you could help us to see if the other objec

[2019-03-13 23:28] TueCN commented on #322
**1.**
During investigation of this bug, several related scenarios has also been identified to cause the SOAP fault: `javax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException: could not execute batch`.
All scenarios (so far) involves _deleting X via "set replacement" and moving its Y to Z_, which means:
1. X, Y and (possibly) Z exists in the registry
2. Send a "

[2019-03-14 08:38] binntho commented on #322
Hello, I do not agree with the claim that "All scenarios (so far) involves deleting X via "set replacement" and moving its Y to Z" -  I have been attempting to report episodes of care for several patients, an example of which has been sent to TueCN. All my attempts on behalf of a psychiatric clinic result in the same error "javax.persistence.PersistenceException: org.hibernate.exception.Constraint

[2019-03-14 09:17] TueCN commented on #322
@binntho I have not had a chance at looking at your example yet as the main focus currently is getting Region Syddanmark back on track with their submissions to production.

The example scenario sent to me by OP (original poster, i.e. @Remcovanderwerf) involved set replacement and that is why the investigation has so far been primarily into that type of scenarios.

As I have stated on https://gith

[2019-03-14 09:53] binntho opened #328 "Another one: org.hibernate.exception.ConstraintViolationException: could not execute batch"
Clearly the same error as in issue 322 and 318, but apparently with different causes.

In my scenario, every single attempt to submit for one client (psychiatrist) fails with the same error message, while all submits for another client (eye hospital) succeeds without problems.

The error message in full:

javax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException:

[2019-03-14 13:40] TueCN commented on #322
We are currently considering whether reusing an II (root/extension pair) of a deleted/to be deleted element after/during document replacement or nullify act submission, should be allowed or prevented in general.

@Remcovanderwerf is it intentional you use this strategy during document replacement?
If you generate a new extension for the new procedure element you should not face this issue. However

[2019-03-14 16:32] DaveSS commented on #322
To chime in with input from a different organization, we definitely make use of both the “document replacement” and “document append with nullify acts” as part of our overall LPR3 submission strategy. In all cases, we expect to use the same ID for an instance of a concept over its life cycle; whether that information was submitted to LPR, revised, or changed to reference a new concept should not d

[2019-03-14 19:49] jonigkeit commented on #322
@DaveSS I can assure you that the semantics of the interface are not about to be changed.

[2019-03-14 19:49] jonigkeit commented on #322
@DaveSS I can assure you that the semantics of the interface are not about to be changed.

[2019-03-14 20:03] TueCN commented on #322
Thank you for the input Dave.
I am not sure what you mean by "whether that information was [...] changed to reference a new concept should not determine the ID".
LPR cannot know what you regard as an instance of a concept on your side. LPR can only act on the information provided and guarantee that the ID you provide will be the unique ID for that document element throughout its lifecycle in LPR.

[2019-03-15 10:17] binntho commented on #328
Update: I am now getting this error on every single attempt to submit a Clinical document. Total failure of LPR3?

[2019-03-15 12:04] #307 closed

[2019-03-15 12:28] TueCN commented on #322
We are currently working on a solution that will consistently allow moving an element from one parent to another **during** document replacement.

**Note**: This means that you, as currently, cannot nullify an EoC ID ("appending the binder") and then in a later append message create an EoC with the nullified ID.

-------------

**Note: The following inconsistencies has been found**, which are deem

[2019-03-15 16:30] Remcovanderwerf commented on #322
Hi @TueCN,

my apologies for the delay in my answer.
To answer the question above (I had to ask the region myself);
"We do not reuse element id's. When we send the same id for a procedure is it because it’s the same procedure, even though it might have been rearranged. (moved from an encounter to a EoC)"

Does this answer your question?

Anyhow; the implementation strategy of Region Syddanmark is

[2019-03-15 18:10] DaveSS commented on #322
We, like others, are currently encountering issues when removing and/or resending elements that we did not expect based on the LPR3 CDA documentation and workflows we tested. However, GitHub does not seem the appropriate venue for proposing and vetting major changes to the basic behavior of the database receiving LPR3 documents. With regards to the comments you made above, we would like to express

[2019-03-15 19:21] TueCN commented on #322
@Remcovanderwerf yes it answers my question. You consider the elements to be logically the same (like @DaveSS does).
As stated earlier, we are working on a solution that will consistently allow moving an element from one parent to another during document replacement.

[2019-03-15 21:10] TueCN commented on #322
@DaveSS I can not think of a better forum to put ideas forward and solicit feedback. I am very much for an open, honest, and transparent discussion of problems and solutions. Maybe no major game changing decision should happen based on GitHub comments, but ideas can be formed and taken to other fora for vetting.

The following is my remarks to your bullet points:
1. I can see where you are coming

[2019-03-16 16:56] #308 closed

[2019-03-18 08:27] kdjohansson commented on #327
FYI this is in PRODUCTION.

[2019-03-18 12:19] TueCN commented on #322
@DaveSS I have had a chance to discuss [your general expectations](https://github.com/scandihealth/lpr3-docs/issues/322#issuecomment-473390118) and remarks to [bullet 1](https://github.com/scandihealth/lpr3-docs/issues/322#issuecomment-473267136) with the team.

Regarding your point 1: The functionality you call for, (that it should be possible to report an element with the ID of a previously dele

[2019-03-18 13:24] Kashif-Ali-110 commented on #328
@binntho  I am getting this same error in our Test environment for the last one week on every single attempt. I have also created a post about it  #325 .

Have you get rid of this error or any update about it? Would like to hear if any :)

With best,
Kashif @ MyClinic.

[2019-03-19 13:01] HanneRegSyd opened #329 "Max length of errortext received in a responsfile?"
We’ve received this:

SCHEMATRON|||(DKProcedureProcedure): choice (hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.208.176.7.1.10.72']][hl7:templateId[@root='2.16.840.1.113883.10.12.301']]] or hl7:entryRelationship[hl7:encounter[hl7:templateId[@root='1.2.208.176.7.1.10.77']][hl7:templateId[@root='2.16.840.1.113883.10.12.301']]] or hl7:reference[hl7:externalAct[hl7:templateId[@root='1.2.208

[2019-03-19 16:26] jonigkeit commented on #329
There is no maximum length.

[2019-03-20 08:52] HanneRegSyd commented on #329
I seems like the BUSINESS_RULE error text does have a max text length of 700. So just to be sure - there is not a maximum length of the error text of the type SCHEMATRON and INTEGRITY_CHECK ?

[2019-03-20 11:49] TueCN opened #330 "Test is being upgraded and is unavailable until this issue is deleted"

[2019-03-20 15:07] joelmetodika commented on #327
Please, we need help with this and it's been a week since I asked this question! If this is not the correct place to ask this question, could you please point me in the right direction?

Thank you

[2019-03-20 15:28] TueCN commented on #327
Hi, we are currently working exclusively on #322 (as the label on that issue indicate).
Please read through the comments on that issue to see if your issue is covered by the listed error scenarios.

Also, please read [CONTRIBUTING.md#bugs](https://github.com/scandihealth/lpr3-docs/blob/master/CONTRIBUTING.md#bugs)

[2019-03-20 15:35] joelmetodika commented on #327
Hi Tue, thank you for answering! I'm sorry, I didn't know that the tag "Highest priority" meant that all other issues would be left unattended until that was fixed. But I understand and think that our issue might be related although I have to do a bit more reading.

[2019-03-20 19:24] #314 closed

[2019-03-21 12:24] ThorkildFriis commented on #322
We have seen a similar error, except that the error message is "Transaction Rollback" We are investigating whether the sequence of submitting is the same, or if it is covered by the cases that were mentioned earlier in this thread. We handled it for now by extending @Remcovanderwerf 's solution to also cover this error and remove the messages with this error as well.

[2019-03-22 09:33] smunck commented on #295
SDS has (some time ago) resolved errors in the whitelisning of the four privately owned institutions. The submissions should work now.

[2019-03-25 08:15] HanneRegSyd commented on #329
Please reply to my question. Thanks

[2019-03-25 08:32] TueCN commented on #329
What do you mean? Is any of the text cut off? Which business rule do you believe is capped at 700?

[2019-03-25 08:51] HanneRegSyd commented on #329
We just need to know if there is a max length of texts in repons files? We upload the text with a max length into our tables.
So is the  max length 2000 or more? What is the max length you have send?

[2019-03-25 09:46] TueCN commented on #329
We do not set a max length on the `codeContext` XML attribute for any of the error types. I assume you are not asking for the length of the `location` XML attribute.

The length of the error text depends on what the rule authors have written in the `validation text` field.
This can change over time for dynamic rules.

See https://scandihealth.github.io/lpr3-docs/aspects/index.html#codecontext

[2019-03-25 11:27] KirstenLHSDS commented on #272
It has been communicated to project managers, that future issues regarding production must be reported to SDS Servicedesk: servicedesk@sundhedsdata.dk
The creator will be approaced, if sensitive information is required for evaluation of the issue

[2019-03-25 14:01] Kashif-Ali-110 opened #331 "wants to update information in the existed EOC section"
Hi ScandiHealth,

I wants to update/change the previous submitted clinical document inside EOC block?

I submitted clinical document version 1 along with EOC ForloebElement.starttidspunkt information. So It creat Forløbs ID: 7551f81b-5a3b-478a-b0d4-f9da0d19a9c9
[2503901111Ver1OK.txt](https://github.com/scandihealth/lpr3-docs/files/3003472/2503901111Ver1OK.txt)

I again submitted clinical document

[2019-03-25 14:02] #325 closed

[2019-03-26 09:33] jjtr opened #332 ""Retired" nodes"
Hi,
We are working with art-decor templates and there are nodes with status "Retired" or "Active".
For example:

![image](https://user-images.githubusercontent.com/48945624/54986117-56c47780-4fb2-11e9-9421-f36d966ec232.png)

And we want to know what means the status "Retired" or "Active".

"Retired" means that we don't need to use this node?

[2019-03-26 13:02] #331 closed

[2019-03-26 13:19] TueCN commented on #322
**RESOLUTION**
- The issues happening when "moving" a reporting element during document replacement and nullify act addendums has been resolved.

To assist you in testing and structuring your test plans, the following is an excerpt of internal DXC test cases that were developed as part of testing this solution. The names should be self explanatory.
- nullifyEncounterAndMoveProcedureToEoc()
- nulli

[2019-03-26 13:26] TueCN opened #333 "TEST environment unavailable due to upgrade, until this issue is deleted"

[2019-03-26 14:02] TueCN commented on #285
Cache expiration has been lowered from 24 hours to 1 hour, until this issue is resolved.
This should ease some of the inconveniences this issue causes.

[2019-03-27 10:06] TueCN commented on #332
Hi,

You should not rely on the the status field to see if the node is relevant to you (status is manually maintained and not always up to date).

It is always only the newest version of a template that is relevant.
When browsing http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?section=templates, use the navigation pane to the left, which always shows the new

[2019-03-27 10:50] jjtr commented on #332
Thanks for your reply. Then, if the node is relevant to me, I can include it even though the state is "retired". (I thought that if a node was in a "retired" state we could not use it).

[2019-03-27 10:54] TueCN commented on #332
I don't think any of the newest version templates have status retired.
Which specific template are you thinking of?

[2019-03-27 11:11] jjtr commented on #332
I'm working with 1.2.208.176.7.1.10.77 DK Internal Encounter Reference. This node has the status as "Retired". Then, I don't know if I need to fill in this node or not.

![image](https://user-images.githubusercontent.com/48945624/55071511-1d127000-5089-11e9-9479-cf5ae1fe116c.png)

I can not see the node on the navigation pane to the left either

[2019-03-27 11:45] TueCN commented on #332
How did you get to this template? No I dont think that template is in use any longer.
Only the templates that can be navigated to from the navigation pane are in use.

"retired" templates are never in use. But some "active" templates are in fact not in use (as stated earlier).

[2019-03-27 12:08] jjtr commented on #332
-->DKEpisodeOfCareSummariesDocument (main node)
     -->StructuredBode: Choice --> 1.2.208.176.7.1.10.113 DK Condition Observation Section
          -->1.2.208.176.7.1.10.45 DK Main Condition Observation
               -->**1.2.208.176.7.1.10.77 DK Internal Encounter Reference**
![image](https://user-images.githubusercontent.com/48945624/55074071-99a84d00-508f-11e9-9237-c52e378f4870.png)
The quest

[2019-03-27 12:34] TueCN commented on #332
Some templates seems to have been marked as "Retired" unintentionally. We will look into this.

For now, please ignore the status altogether.

[2019-03-29 10:34] AnneRegionSyd opened #334 "Difference between responsfiles and LPR"
We have recived some response files containing business rules but in LPR there is no business rules to see. Please explain why there is a difference.

Example: 3e3e209d-d402-5ebb-bd1e-cc7c77e61084
Reporting 26.03.2019 contains a business rule and reporting 28.03.2019 the business rule is gone - but not in the responsfile.

[2019-04-01 06:39] KirstenLHSDS commented on #334
Please report this to SDS Servicedesk: servicedesk@sundhedsdata.dk
Thank you!

[2019-04-01 08:00] #334 closed

[2019-04-02 08:01] Marc-Petersen commented on #306
Any progress on this issue with SDS?

[2019-04-02 08:10] KirstenLHSDS commented on #306
We have been requesting information from you (via Mads W) on when this happens, to be able to understand the usecase behind the registrations, creating this issue. Please help SDS on information about the registration, that causes this?

[2019-04-02 08:27] Marc-Petersen commented on #306
Every example I have seen with multiple IDs, are when a patient has a ECPR and a (number of) historical ECPR(s) within our EPJ. All those patient IDs are included in the CDA.

[2019-04-02 08:49] joelmetodika commented on #327
Hi, is there any possibility for you to have a look at this issue now?

[2019-04-02 08:49] KirstenLHSDS commented on #306
Thanks, will it be different ECPRs (and in that case, why?)?

[2019-04-02 08:58] TueCN commented on #318
@Marc-Petersen @https://github.com/scandihealth/lpr3-docs/issues/318#issuecomment-470434265 unfortunately I cannot reproduce the error from the XML you sent me.

You say that the submissions fail on the first try, but is accepted when resending later. I suspect that it might be a concurrency related issue.

I am hopeful that it might be resolved with [milestone 42](https://github.com/scandihealth/

[2019-04-02 09:00] Marc-Petersen commented on #306
Yes. Different ECPRs. Those are sent in the cases where patient changes ECPR (for reasons unknown to me) - thus logging a new current ECPR and adding the previous ECPR the pool of historical ECPRs within the patient record. All are sent to LPR.

[2019-04-02 09:22] TueCN opened #336 "TEST will be unavailable 15:00-15:30 (expected)"
New version is being deployed

[2019-04-02 09:25] joelmetodika commented on #327
To clarify, we have only seen this issue once from any of our customers productions environments and we have not been able to reproduce it ourselves.

[2019-04-02 10:49] TommyRegSyd commented on #322
Working (in Region Syddanmark) on testing the update addressing this issue, we encountered the following (the two involved files sent to tnorgard@dxc.com):

The scenario is "deletion of an encounter, while moving a procedure from the encounter to the episode of care".

In version 1, the procedure CE68CA74-5240-472B-9287-485CE8EED345 references the encounter 7F3CC3BC-5F45-4DA2-928C-B40F4FF8729D.

R

[2019-04-02 12:03] KirstenLHSDS commented on #306
Thank you for the input. SDS patient registry will have to consider, how this is supposed to be handled. It may be until end of next week, until an answer is ready.

[2019-04-02 12:09] TueCN commented on #336
Deployment has been postponed 1 day

[2019-04-02 12:43] madswillads commented on #322
We (Sundhedsplatformen) have tested the change in TEST and are experiencing these two blocking errors on  all submissions:

april 1. 14:32: soap:Server>org.hibernate.PropertyAccessException: Could not set field value [Mand] value by reflection : [class com.dxc.lpr.ejb3.persist.lpr3.ForLoebsElementEntity.patientKoen] setter of com.dxc.lpr.ejb3.persist.lpr3ForloebsElementEntity.patientKoen

april 1.

[2019-04-02 13:02] TueCN commented on #322
Hi @madswillads

The error `org.hibernate.PropertyAccessException` is caused by #285 (note: it is only appearing in TEST)

The error text `A prior document (DXS) record contact could not be marked successful because it was already marked as successful` is coming from Sundhedsplatformen, not LPR. I don't really know what is meant by the text, and I cannot see what could case a Fatal error from your

[2019-04-02 13:30] madswillads commented on #322
OK thanks
The prior document..... error might come from a document versioning error we are investigating elsewhere

[2019-04-03 10:45] TueCN commented on #285
With todays update, caching will be entirely disabled on **TEST**, until a proper solution is ready.
Internal testing shows this suppresses the issue.

This means that performance on TEST will worsen slightly (but still be acceptable) until a proper solution is deployed.

[2019-04-03 12:18] TueCN commented on #327
I can see that there exists a main condition observation (aktionsdiagnose) with
- Extension: `65e6414b-476e-50d0-8698-1f50701d1c5f`
- Root: `45445fee-b936-7d40-8d4a-ac3592555c44`
- Last modified: `2019-03-07 12:03:25`
- Belongs to an encounter that belongs to EoC (forløb) `4de64fce-0f4d-5dfb-adc2-604b2a818234`
- EoC was reported by CVR-nr `71017516`
- EoC was reported by authorInstitution with SOR

[2019-04-03 12:33] TueCN commented on #326
The `ENCOUNTER_ALREADY_EXIST` validation error should only happen when you are trying to create a new encounter, but there already exists an encounter with the same extension in LPR.

It was discovered that a false positive of this error sometimes occurred, related to https://github.com/scandihealth/lpr3-docs/issues/322#issuecomment-472645718

Please retest and see if you still experience this iss

[2019-04-03 13:11] TueCN commented on #328
@binntho now that solutions for #322 and #318 are being tested, please retry your submissions and let me know if you still experience issues.

[2019-04-03 13:52] TueCN commented on #324
@vprxa what is it you believe is wrong in the WSDL offered by [TEST](https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService?WSDL) compared to the example request listed on [lpr3-docs](https://scandihealth.github.io/lpr3-docs/examples/index.html#sample-request-using-mtomxop)?

To me it looks like the referenced [XDS.b_DocumentRepository.xsd](https

[2019-04-03 14:15] joelmetodika commented on #327
Hi Tue, no that does not really help us. We know that the eoc has the id 4de64fce-0f4d-5dfb-adc2-604b2a818234 and that the condition diagnosis has the id 65e6414b-476e-50d0-8698-1f50701d1c5f. The problem is that we don't understand why LPR3 says that the condition observation already exists. We report using the replace method so the whole report gets replaced every time. If this was a problem we s

[2019-04-03 14:15] TueCN commented on #328
@binntho I re-examined your request and can see it is invalid.

You assign the same extension to 3 different Main condition observations.
Extensions must be globally unique.

With [version 3.8.872](https://github.com/scandihealth/lpr3-docs/milestone/43) your submission no longer generates a runtime error, instead you will get an INTEGRITY_CHECK validation error that says
`CONDITION_OBSERVATION_ALR

[2019-04-03 14:17] TueCN commented on #327
Yes, you can send anonymized requests to me on tnorgard@dxc.com

[2019-04-03 14:18] binntho commented on #328
Hi Tue, thanks for that! I'll look at it tomorrow,.

[2019-04-03 14:26] TueCN commented on #327
I can see you use "set replacement".
You could be facing the same error as #322

It was discovered that a false positive of this error sometimes occurred, related to https://github.com/scandihealth/lpr3-docs/issues/322#issuecomment-472645718

The fix for #322 is deployed to TEST, but not yet production (it is still being tested).
If possible, you can re-run your submission scenario on TEST and see

[2019-04-03 14:31] joelmetodika commented on #327
Ok, do you have an estimate of when this bugfix will reach production? Are we talking days or weeks?

[2019-04-03 15:39] vprxa commented on #324
Hi @TueCN ,
I am making a comparison between WSDL class generation in C# and the sample LPR3 request.
Here are the generated classes after consuming the WSDL:
[LPR3DocumentRepositoryService.txt](https://github.com/scandihealth/lpr3-docs/files/3039433/LPR3DocumentRepositoryService.txt)

- The RegistryObjectList in class generation is constrained to be IdentifiableType[].
- The ExtrinsicObject is no

[2019-04-03 15:52] #257 closed

[2019-04-04 07:09] binntho commented on #328
OK, this is now solved and closed!

[2019-04-04 07:09] #328 closed

[2019-04-04 10:43] vprxa commented on #324
Hi @TueCN ,

Thank you for the information regarding the substitution of objects.
I realize now I am not constrained to IdentifiableType[].

I'm happy to close the issue as I continue in new light.

Thank you,
Joe

[2019-04-04 10:43] #324 closed

[2019-04-05 06:02] clausheinecke opened #337 "LPR3 Rule 9.41, 9.44 and 11.42: SOR units have a future end date"
There is a general issue with how SOR is build regarding how to register the end date on a Unit.
As soon as you have marked the Unit as being closed by setting the end date, you can't undo it!
The only option available is to set the end date to be in the future (way out in the future).
This is the case for some of our units like this one:
![billede](https://user-images.githubusercontent.com/456265

[2019-04-05 06:13] KirstenLHSDS commented on #337
Hello Claus
Thank you for the issue. As this is regarding validationrules, it will be SDS to answer.
Hence, I will like you to adress this issue to: servicedesk@sundhedsdata.dk, marked as LPR valideringsregler and please close this at Github.
All issues should be sent to SDS - primarily servicedesk@sundhedsdata.dk but questions regarding registration (indberetningsvejledningen) can be sent to pati

[2019-04-05 07:32] clausheinecke commented on #337
I've reached out to SDS.
Closing ticket.

[2019-04-05 07:32] #337 closed

[2019-04-12 06:38] #295 closed

[2019-04-12 08:11] #323 closed

[2019-04-12 08:11] vprxa opened #338 "DK Internal Episode Of Care Reference - Extension"
Hi Scandihealth,
The DK Internal Episode Of Care Reference > id > extension on art-decor says:

[http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?id=1.2.208.176.7.1.10.72&effectiveDate=dynamic](http://lpr-art-decor.westeurope.cloudapp.azure.com:8080/art-decor/decor-templates--lpr-?id=1.2.208.176.7.1.10.72&effectiveDate=dynamic)

Which uuid does the extension

[2019-04-16 10:56] joelmetodika opened #339 "Service is preloading caches, please try again later"
Hi, our customers are receiving error messages today and yesterday(reported to us but not verified) for all reporting, saying that "Service is preloading caches, please try again later". Is there some issues with LPR3 at the moment?

Joel

[2019-04-16 11:01] PreJen opened #340 "LPR3 - 'Service is preloading caches'"
Since Saturday we are encountering this soap error 'Service is preloading caches' when submitting LPR3 documents.
We have more that 100k errors of theis type for Region Zealand and Capital Region.

[2019-04-16 11:31] PreJen commented on #340
Hi
ALL messages we try to send to LPR3 are now getting the 'Service is preloading caches' error.
We haven't seen a succesfull message after 11:00.

[2019-04-17 11:18] smunck commented on #340
Hi Preben
I understand that this issue was also reported to SDS servicedesk yesterday (thank you for that :) ), and that DXC solved the problem. Are you still experiencing the problem?

[2019-04-17 11:21] PreJen commented on #340
No, we haven’t seen it after 16:30 yesterday.

Med venlig hilsen

Preben P. G. Jensen
Datamanager

Mobil: +45 20 90 33 40
Mail: preben.jensen@regionh.dk

RegionHovedstaden Center for It, Medico og Telefoni
Systemer
Integrationsudvikling
Borgervænget 7, 4. sal
2100 København Ø

Tlf: 38 64 80 00
Web: www.regionh.dk<http://www.regionh.dk/>

Fra: smunck <notifications@github.com>
Sendt: 17. april 2019

[2019-04-17 12:18] jonigkeit commented on #340
@PreJen will you please close the issue?

[2019-04-17 12:20] #340 closed

[2019-04-22 16:42] jonigkeit commented on #339
#340

[2019-04-23 09:15] TueCN commented on #338
Hi,
the `DK Internal Episode Of Care Reference > id > extension` attribute must match a
`DK Episode Of Care Act > id > extension` attribute within the same ClinicalDocument

Does this answer your question?

[2019-04-24 09:51] MichaelEsmannSSE commented on #285
We have not seen this error in the last weeks so I close the issue

[2019-04-24 09:51] #285 closed

[2019-04-24 12:04] KirstenLHSDS commented on #306
SDS answers that, Indberetningsvejledningen is valid and thus, that only one patientID is expected in the CDA.
The answer - in danish is:
Der skal indberettes ét og kun et unikt patientID pr. indberetning (uanset om denne indeholder ét eller flere FE’ere), også selvom CDA’en giver mulighed for flere ID’er.

[2019-04-25 09:26] vprxa commented on #338
Hi @TueCN,
Yes thank you. I ask because I am creating the DK Episode Of Care Act > id > extension as follows:

[code]

The generated episodeOfCareUUID is always the same, and therefore I receive an error to tell me the Episode of Care already exists:

[code]

Does the local unique identifier refer to the DK Episode Of Care Act > id > root?
Did I misinterpret something?

Thank you,
Joe

[2019-04-26 07:04] TommyRegSyd commented on #322
Are there any news on this issue?

We haven't encountered the SOAP error in the test-environment for any new scenarios since the above, but we also haven't been able to test extensively.

We would like to know if a new update is coming before the current test-version is deployed to production and if there is a timeline for  this.

[2019-04-26 09:45] TueCN commented on #339
Closing as #340 was resolved

[2019-04-26 09:45] #339 closed

[2019-04-29 11:04] TueCN commented on #322
Hi Tommy

I have tested your scenario using the provided XML and is able to reproduce the `ConstraintViolationException`.

This exception occurs in in some cases during document replacement when "moving" an element _that has validation issues_ and simultaneously deleting the element's previous parent.

Thank you for the findings! I will work on this right away. Hopefully it can be resolved quickly

[2019-04-30 08:14] KirstenLHSDS commented on #104
We consider this closed and notes that the documentation must be updated.

[2019-04-30 08:17] KirstenLHSDS commented on #150
This has been transfered to the LPR backlog.

[2019-04-30 08:21] KirstenLHSDS commented on #174
This is transfered to the LPR backlog

[2019-04-30 08:25] KirstenLHSDS commented on #203
Status will be validated with DXC. Transfered to LPR backlog

[2019-04-30 08:26] KirstenLHSDS commented on #213
Transfered to LPR backlog as part of possible requests for the test environment

[2019-04-30 08:28] KirstenLHSDS commented on #227
Transfered to LPR backlog

[2019-04-30 08:36] KirstenLHSDS commented on #280
SDS will check status with DXC and if still an issue, create this as an incident in Servicedesk

[2019-04-30 08:41] jjtr opened #341 "ClinicalDocument.Id and ClinicalDocument.setId must have the same value?"
We have a question about ClinicalDocument.Id and ClinicalDocument.setId.
We can read in the documentation:
https://scandihealth.github.io/lpr3-docs/aspects/index.html
![image](https://user-images.githubusercontent.com/48945624/56949190-837c2980-6b32-11e9-8d7c-c3fa79ad8479.png)
![image](https://user-images.githubusercontent.com/48945624/56949227-97279000-6b32-11e9-8ed1-874b670dffa6.png)

The proble

[2019-04-30 08:44] KirstenLHSDS commented on #326
If further questions please contact SDS via Servicedesk

[2019-04-30 08:45] KirstenLHSDS commented on #341
Hello - we are closing Github. Please direct this to servicedesk@sundhedsdata.dk

[2019-04-30 08:48] KirstenLHSDS commented on #329
Please contact SDS Servicedesk if further questions

[2019-04-30 08:52] Kashif-Ali-110 opened #342 "Serverjavax.persistence.PersistenceException: org.hibernate.exception.ConstraintViolationException: could not execute batch"
Hi ScandiHealth,

From the last one month we are constantly receiving this error in our production environment.
Few patients reported successful but now mostly reports get this error. `could not execute batch
`

I am attaching one of response envelope.

If requested I can provide the ClinicalDocument xml as well.

Any idea about it would highly appreciated.

With best,
MyClinic.

[2019-04-30 08:54] KirstenLHSDS commented on #338
We will take this to DXC, to continue the dialog. Github will be closed

[2019-04-30 08:56] KirstenLHSDS commented on #342
Hi. We are closing Github and will move your request to SDS Servicedesk. This post will be updated with the SD-number for your information

[2019-04-30 09:00] vprxa commented on #338
Hi @KirstenLHSDS,

Where might I expect to receive a reply?

Thank you,
Joe

[2019-04-30 09:03] KirstenLHSDS commented on #342
This looks like #322 which is resolved in test and waiting to be released to production

[2019-04-30 09:12] KirstenLHSDS commented on #342
The case-id in SDS servicedesk is 326289

[2019-04-30 09:14] KirstenLHSDS commented on #338
Hi Joe

Please send your contact email to me, khansen@sundhedsdataprogrammet.dk, and then I will add you to the case.

[2019-04-30 09:16] vprxa commented on #338
Hi @KirstenLHSDS,

Much appreciated, you can reach me at joho@novax.dk

Thank you,
Joe

[2019-04-30 10:55] #104 closed

[2019-04-30 10:57] TueCN commented on #104
Documentation has been updated.
See https://scandihealth.github.io/lpr3-docs/interface/accumulated-error-list/index.html#schedule

[2019-04-30 21:42] DaveSS commented on #306
I would like to make sure I am clear on this resolution. Are you saying that there is just 1 patient ID in an LPR3 document, or 1 patient ID of a given type.

There is a specific template (1.2.208.176.7.1.10.133) for the case where a patient might have a both CPR identifier and an Alternative Identifier. Is this template no longer valid in an LPR3 document?

[2019-05-01 10:20] AzadehDXC commented on #280
This issue is closed since it should be fixed with the resolution of #285 .

[2019-05-01 10:20] #280 closed

[2019-05-01 11:04] TueCN commented on #338
Without knowing the implementation details of your code snippet, I think the problem is you are using the "static" `_setId.ToString()` to generate the extension part of the id, which means that your code always generates the same extension each time it is called with same setId, and thus if you have 2 objects in the set, you get the error that it already exists in the registry.

Extensions must be

[2019-05-01 11:04] #338 closed

[2019-05-01 12:11] #272 closed

[2019-05-06 10:33] MichaelEsmannSSE opened #343 "Certificate error on SDS testsystem"
We are currently receiving this SOAP fault from SDS when calling https://lprws-test.sds.dsdn.dk/cda-ws/medcom-1.0.1/DocumentRepository_Service/PatientHealthcareValidateReportingService:

`<soap:Fault>
         <soap:Code>
            <soap:Value>soap:Receiver</soap:Value>
         </soap:Code>
         <soap:Reason>
            <soap:Text xml:lang="en">Intermediate certificate could not be found a

[2019-05-06 10:42] TueCN commented on #343
Yes, we get the same error.
We are working on it.

[2019-05-06 10:55] TueCN commented on #343
It seems that STS test is using a new certificate.

**RESOLUTION**
LPR _test_ service has been updated with a new local keystore that contains the new certificate found at http://f.aia.systemtest22.trust2408.com/systemtest22-ca.cer.

System should be working as normal again.

[2019-05-06 10:55] #343 closed

[2019-05-06 12:12] TueCN commented on #322
**UPDATED RESOLUTION**
Fixed several scenarios involving "moving" an element _that has validation issues_ and simultaneously deleting the element's previous parent are now working as intended.

However, there are still 3 (fairly complex) scenarios that each result in a **SOAP fault**:
- Moving a procedure _that has validation issues_ from an encounter to an episode of care and simultaneously delet

[2019-05-13 09:23] TueCN commented on #322
Updated resolution has been deployed to TEST